.breadcrumb
  .container
    .breadcrumb__items
      .breadcrumb__item
        a(href="#" title="") Trang chủ
      .breadcrumb__item
        a(href="#" title="") Khách sạn
      .breadcrumb__item
        a(href="#" title="") Sapa - Khách sạn
      .breadcrumb__item
        span Silk Path Grand Resort & Spa Sapa