.card-total.js-card-total(style="display: none;")
  .container
    .card-total-detail.collapse#card-total-detail(style="")
      .row.justify-content-center.pt-5
        .col-xl-8 
          table.table-no-border.w-100.table-bg-dark.card-total-table-listing
            tbody 
              tr.fixed-row 
                th.text-lead.text-white.p-0 LOẠI PHÒNG &AMP; DỊCH VỤ 
                td.text-right.text-semibold.p-0 Giá phòng
              tr.fixed-row
                td(colspan="2")
                  .devider.devider-thick
              tr 
                td
                  .table-title.text-uppercase Phòng tiêu chuẩn
                td.text-right
              tr
                td(colspan="2").p-0
                  table.w-100.table-mul-class
                    tr
                      td 
                        .time-flight 
                          span 1 phòng
                          span 1 giường kinh
                      td.text-right 1.200.000
                    tr
                      td  
                        .time-flight 
                          span 2 phòng
                          span 2 giường đôi
                      td.text-right (x2) 1.400.000
              tr
                td(colspan="2") 
                  .devider
              tr 
                td
                  .table-title.text-uppercase Phòng Deluxe
                td.text-right
              tr
                td(colspan="2").p-0
                  table.w-100.table-mul-class
                    tr
                      td 
                        .time-flight 
                          span 1 phòng
                          span 1 giường twin
                      td.text-right 2.000.000
                    tr
                      td  
                        .time-flight 
                          span 2 phòng
                          span 2 giường đôi
                      td.text-right (x2) 1.400.000
              tr
                td(colspan="2") 
                  .devider
              tr 
                th(colspan="2")
                  .text-lighter.text-uppercase Dịch vụ đi kèm (bắt buộc)
              tr
                td(colspan="2").p-0
                  table.w-100.table-mul-class
                    tr
                      td 
                        .time-flight 
                          span 1 phòng
                          span 1 giường twin
                      td.text-right 2.000.000
              tr
                td(colspan="2") 
                  .devider
    .card-total-wrapper
      .row.align-items-center.w-100 
        .col-6.card-total__left
          .card-total-list.pb-3
          a(href="#card-total-detail" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="#card-total-detail").link.show-more.show-more-toggle-text
            span Xem chi tiết
              .ic-chevron-up
            span Ẩn bớt
              .ic-chevron-down
        .col-4.d-flex.justify-content-end.pr-0
          .text-lighter.pr-2 Số tiền cần thanh toán:
          .price.card-total-price
            span 1.630.435 VND
        .col-2.text-right
          button.button.button-primary.button-small(type="button") Đặt phòng