.filter-flight.filter-tag-group.js-filter-tag-group.mt-4 
  .filter-wrapper.d-flex 
    input(type="hidden" value="" name="filter-list")
    .dropdown.mr-4
      button.dropdown__button(type="button") 
        | Điểm dừng
        i.ic-caret-down 
      .dropdown__body
        .filter-tag-list 
          // Must set data-id for each checkbox to add/delete chip
          +checkbox('Bay thẳng')(data-id="checkbox-1")
          +checkbox('1 điểm dừng')(data-id="checkbox-2")
          +checkbox('2 điểm dừng')(data-id="checkbox-3")
        .text-right.mt-3
          button.button-text.button-close(type="button") Áp dụng 
    .dropdown.mr-4
      button.dropdown__button(type="button") 
        | Các tiêu chí khác
        i.ic-caret-down 
      .dropdown__body
        .filter-tag-list 
          // Must set data-id for each checkbox to add/delete chip
          h4 Các tiện ích 
          +checkbox('Có Wifi')(data-id="checkbox-4")
          +checkbox('Được hút thuốc')(data-id="checkbox-5")
          .devider.my-3
          h4 Khoảng giá
          +checkbox('Dịch vụ 1')(data-id="checkbox-6")
          +checkbox('Dịch vụ 2')(data-id="checkbox-7")
        .text-right.mt-3
          button.button-text.button-close(type="button") Áp dụng 
    .dropdown.mr-4
      button.dropdown__button(type="button") 
        | Tiêu chí theo 2 cột
        i.ic-caret-down 
      .dropdown__body
        .scroll-box.scroll-box--large
          .filter-tag-list 
            // Must set data-id for each checkbox to add/delete chip
            .d-md-flex
              div.mr-4
                h4 Loại hình nơi ở
                +checkbox('Khách sạn (615)')(data-id="checkbox-8" checked)
                +checkbox('Toàn bộ căn hộ (95)')(data-id="checkbox-943")
                +checkbox('Resort (4)')(data-id="checkbox-84t")
                +checkbox('Căn hộ dịch vụ (23)')(data-id="checkbox-96y")
                +checkbox('Nhà khách / Nhà nghỉ B&B (116)')(data-id="checkbox-834tt")
                +checkbox('Biệt thự tư nhân (79)')(data-id="checkbox-9345")
                +checkbox('Toàn bộ nhà riêng (128)')(data-id="checkbox-8345")
                +checkbox('Biệt thự nghỉ dưỡng (21)')(data-id="checkbox-945")
                +checkbox('Nhà nghỉ (54)')(data-id="checkbox-834")
                +checkbox('Toàn bộ nhà trệt (22)')(data-id="checkbox-9456")
              div.mr-4
                h4 Cột 2
                +checkbox('Dịch vụ 1')(data-id="checkbox-10")
                +checkbox('Suất ăn nhẹ')(data-id="checkbox-11")
              div
                h4 Cột 3
                +checkbox('Dịch vụ 1')(data-id="checkbox-10")
                +checkbox('Suất ăn nhẹ')(data-id="checkbox-11")
        .text-right.mt-3
          button.button-text.button-text--error.button-reset(type="button") Xóa lọc
          button.button-text.button-close(type="button") Áp dụng 
    .dropdown.mr-4
      button.dropdown__button(type="button") 
        | Tiêu chí theo layout bất kỳ
        i.ic-caret-down 
      .dropdown__body
        .scroll-box.scroll-box--large
          .filter-tag-list 
            // Must set data-id for each checkbox to add/delete chip
            .d-block
              div.mb-4
                h4 Loại hình nơi ở
                .d-flex 
                  div
                    +checkbox('Khách sạn (615)')(data-id="checkbox-8")
                    +checkbox('Toàn bộ căn hộ (95)')(data-id="checkbox-943")
                    +checkbox('Resort (4)')(data-id="checkbox-84t")
                    +checkbox('Căn hộ dịch vụ (23)')(data-id="checkbox-96y")
                    +checkbox('Nhà khách / Nhà nghỉ B&B (116)')(data-id="checkbox-834tt")
                  div
                    +checkbox('Biệt thự tư nhân (79)')(data-id="checkbox-9345")
                    +checkbox('Toàn bộ nhà riêng (128)')(data-id="checkbox-8345")
                    +checkbox('Biệt thự nghỉ dưỡng (21)')(data-id="checkbox-945")
                    +checkbox('Nhà nghỉ (54)')(data-id="checkbox-834")
                    +checkbox('Toàn bộ nhà trệt (22)')(data-id="checkbox-9456")
              div.mb-4
                h4 Tiện nghi chỗ nghỉ
                +checkbox('Bể bơi (10)')(data-id="checkbox-10ew")
                +checkbox('Internet (7)')(data-id="checkbox-11ewr")
              div
                h4 Chọn phòng có
                +checkbox('Có ăn sáng (6)')(data-id="checkbox-10g")
                +checkbox('Tiện nghi là/ủi (1)')(data-id="checkbox-11sdz")
        .text-right.mt-3
          button.button-text.button-close(type="button") Áp dụng 
    .dropdown.ml-auto
      button.dropdown__button(type="button").text-blue-dark 
        | Giá vé tăng dần
        i.ic-caret-down 
      .dropdown__body
        .dropdown__menu 
          a.dropdown__item.active(href="/") Giá vé tăng dần
          a.dropdown__item(href="/") Giá vé giảm dần
  .filter-checklist.mt-2