- 
  var about8Trip = [
    'Giới thiệu',
    'Tin tức',
    'Điều khoản dịch vụ',
    'Tuyển dụng'
  ];
  var connectedServices = [
    '8Go - Đặt xe sân bay',
    '8Hotel - Đặt phòng khách sạn',
    '8Vip - Đặt chỗ dịch vụ ăn uống, giải trí...'
  ];
  var tutorials = [
    'Chính sách bảo mật',
    'Chính sách hoàn huỷ vé',
    'Hướng dẫn dịch vụ',
    'Hướng dẫn đặt vé và thanh toán'
  ];

footer.footer.pt-7 
  .container 
    .row.mb-5 
      .col-xl-2.col-md-6.mb-5.mb-xl-0 
        h4.heading-4 Về 8Trip 
        ul.links-listing 
          each item in about8Trip 
            li 
              a(href="#" title=item) #{item} 
      .col-xl-3.col-md-6.mb-5.mb-xl-0 
        h4.heading-4 Dịch vụ liên kết
        ul.links-listing 
          each item in about8Trip 
            li 
              a(href="#" title=item) #{item} 
      .col-xl-3.col-md-6 
        h4.heading-4 Hướng dẫn và chính sách
        ul.links-listing 
          each item in about8Trip 
            li 
              a(href="#" title=item) #{item} 
      .col-xl-4.col-md-6 
        .dropdown.dropdown-language.dropdown-select.mb-5
          button.dropdown__button(type="button") 
            img.flag(src=localHeader.flag alt="VN flag")
            | Tiếng Việt - VND 
            i.ic-caret-down 
          .dropdown__body
            .d-flex 
              .dropdown__menu.pr-4
                h5.pl-2 Ngôn ngữ
                each item in localHeader.langs
                  a.dropdown__item(href='#' class=item.active ? 'active' : '' )
                    img.flag(src=item.flag)
                    | #{item.language}
              .dropdown__menu
                h5.pl-2 Tiền tệ
                each item in localHeader.currency
                  a.dropdown__item(href="#" title=item.value class=item.active ? 'active' : '') #{item.value}
        h4.heading-4 Đăng ký nhật thông tin và ưu đãi 
        form.form-subscribe 
          input.input-group-control(type="email" placeholder="Email của bạn")
          button.input-group-submit(type="submit") 
            span.ic-send 
    .row.mb-6 
      .col-xl-5.col-md-8.mb-md-5.mb-xl-0 
        h4.heading-4 Công ty cổ phần truyền thông Sông Sáng 
        address.mb-4
          p.address-title Trụ sở chính 
          span.address-label A: 
          |  567A Lạc Long Quân, P. Xuân La, Q. Tây Hồ, TP.Hà Nội
          br 
          span.address-label E: 
          | 8trip@ssmedia.vn 
          br 
          span.address-label T: 
          | 1900 2323 55
        address
          p.address-title Chi nhánh TP.Hồ Chí Minh  
          span.address-label A: 
          |  567A Lạc Long Quân, P. Xuân La, Q. Tây Hồ, TP.Hà Nội
          br 
          span.address-label E: 
          | 8trip@ssmedia.vn 
          br 
          span.address-label T: 
          | 1900 2323 55
      .col-xl-3.col-md-4 
        address.address-expand.mt-5
          p 
            span.address-label Mã số thuế: 
            | 0105228259
          p
            span.address-label Ngày cấp: 
            | 31/03/2011
          p
            span.address-label Nơi cấp: 
            | Thành phố Hà Nội 
      .col-xl-4 
        h4.heading-4 Tải app tại 
        div.badge-group.badge-group-small.mt-0.mb-5
          a(href="#" title="8Trip on AppStore").mr-2 
            img(src="./assets/images/badge-appstore.svg")
          a(href="#" title="8Trip on GooglePlay") 
            img(src="./assets/images/badge-gg-play.svg")
        h4.heading-4.d-xl-flex.justify-content-between.align-item-center Liên hệ với chúng tôi tại 
          ul.socials-list.mt-3.mt-xl-0 
            li 
              a(href="#" title="8Trip facebook") 
                img(src="./assets/images/facebook.svg")
            li 
              a(href="#" title="8Trip youtube") 
                img(src="./assets/images/youtube.svg")
            li 
              a(href="#" title="8Trip Email") 
                img(src="./assets/images/gmail.svg")  
        a.hotline(href="tel:1900232355") 
          p.hotline-label Hotline 
          p.hotline-number 1900 23 23 55
    .devider 
    .py-5.text-center 
       span Copyright © 2020 8Trip.vn
