- 
  var localHeader = {};
  localHeader.logo = './assets/images/logo.png';
  localHeader.indexLink = 'index.html';
  localHeader.flag = './assets/images/flag-vn.svg';
  localHeader.navbarNav = [
    {
      title: 'Vé máy bay',
      link: 'home.html',
      active: 'active'
    },
    {
      title: 'Khách sạn',
      link: 'hotel.html'
    },
    {
      title: 'Xe sân bay',
      link: 'car.html'
    },
    {
      title: 'Săn vé rẻ',
      link: 'promotion.html'
    }
  ];
  localHeader.appLink = '#';
  localHeader.helperMenu = [
    {
      title: 'Liên hệ với chúng tôi',
      link: '#'
    },
    {
      title: 'Các câu hỏi thường gặp',
      link: '#'
    },
    {
      title: 'Chính sách vé',
      link: '#'
    },
    {
      title: 'Chính sách hoàn huỷ',
      link: '#'
    }
  ];
  localHeader.langs = [
    {
      language: 'Tiếng Việt',
      flag: './assets/images/flag-vn.svg',
      active: 'active'
    },
    {
      language: 'English',
      flag: './assets/images/flag-en.svg'
    }
  ];
  localHeader.currency = [
    {
      value: 'VND - Việt Nam Đồng',
      active: 'active'
    },
    {
      value: 'USD - Đô la Mỹ'
    }
  ];
  localHeader.account = [
    {
      title: 'Chi tiết tài khoản',
      url: '#'
    }, 
    {
      title: 'Đặt chỗ của bạn',
      url: '#'
    },
    {
      title: 'Kiểm tra đặt chỗ',
      url: '#'
    }
  ]

header.header(class=isStickyHeader ? 'is-sticky' : '')
  .container-wrapper
    nav.navbar
      .navbar__left
        .navbar__brand
          a(href=localHeader.indexLink title="8Trip.vn")
            img(src=localHeader.logo alt="8Trip.vn")
      ul.navbar__nav 
        each navitem in localHeader.navbarNav
          li.navbar__nav__item(class=navitem.active ? 'active' : '')
            a(href=navitem.link title=navitem.title) #{navitem.title}
      //- .navbar__center.mx-lg-auto
      .navbar__right
        ul.navbar__helper
          li.navbar__helper__group
            a.navbar__helper__item(href=localHeader.appLink)
              i.ic-iphone
              | Ứng dụng 
            .navbar__helper__item
              .dropdown.dropdown--right
                button.dropdown__button(type="button") 
                  | Hỗ trợ 
                  i.ic-caret-down 
                .dropdown__body
                  .px-2
                    p.mb-0 Hotline 
                    p.text-lg #[b 1900 2323 55]
                  .devider.mb-2
                  .dropdown__menu
                    each item in localHeader.helperMenu
                      a.dropdown__item(href=item.link) #{item.title}
          li.navbar__helper__group 
            .dropdown.dropdown-language.dropdown--right 
              button.dropdown__button(type="button") 
                img.flag(src=localHeader.flag alt="VN flag")
                | Tiếng Việt - VND 
                i.ic-caret-down 
              .dropdown__body
                .d-flex 
                  .dropdown__menu.pr-4
                    h5.pl-2 Ngôn ngữ
                    each item in localHeader.langs
                      .dropdown__item(class=item.active ? 'active' : '' )
                        img.flag(src=item.flag)
                        | #{item.language}
                  .dropdown__menu
                    h5.pl-2 Tiền tệ
                    each item in localHeader.currency
                      .dropdown__item(title=item.value class=item.active ? 'active' : '') #{item.value}
                .text-right.mt-3
                  button.button-text.button-submit(type="button") Áp dụng 
        if isLogin
          .account-group
            .dropdown.dropdown--right
              .dropdown__button(type="button") 
                .account 
                  a.account-thumb(href="#")
                    img(src="./assets/images/avatar.png" alt="profile")
                  .account-body 
                    a(href="#")
                      h5.account-heading Trần Phương Thuỷ 
                        i.ic-caret-down 
                      .account-point 
                        .point 239423 điểm 
              .dropdown__body 
                .dropdown__menu
                  each item in localHeader.account
                    a.dropdown__item(href=item.url class=item.active ? 'active' : '' ) #{item.title}
                .devider.mb-2
                .dropdown__menu 
                  a.dropdown__item(href="#") Đăng xuất 
        else 
          .button-group
            button.button.button-outline-primary.button--small(type="button") Đăng ký
            button#login-button.button.button-primary.button--small(type="button" data-toggle="modal" data-target="#modal-login") Đăng nhập