- 
  var heroBanners = [
    {
      img: 'assets/images/banner-1.jpg',
      link: '#',
      title: 'Lorem ipsum'
    },
    {
      img: 'assets/images/banner-2.jpg',
      link: '#',
      title: 'Lorem ipsum'
    },
    {
      img: 'assets/images/banner-3.jpg',
      link: '#',
      title: 'Lorem ipsum'
    }
  ];

section.hero-banner
  .container-wrapper 
    .slider.slider-hero
      each banner in heroBanners 
        .slider-hero__item 
          a(href=banner.link title=banner.title)
            img(src=banner.img alt=banner.title)
