- 
  var cities = [
    {
      city: 'Hà Nội',
      id: 'HAN'
    },
    {
      city: 'Đà Nẵng',
      id: 'DAD'
    },
    {
      city: 'Hà Nội',
      id: 'HAN'
    },
    {
      city: 'Đà Nẵng',
      id: 'DAD'
    },
    {
      city: 'Hà Nội',
      id: 'HAN'
    },
    {
      city: 'Đà Nẵng',
      id: 'DAD'
    }
  ];
  var gallery = [
    {
      image: './assets/images/hotel-6.jpg',
      name: 'Công viên Waterbom - cách nơi ở 1.44 km'
    },
    {
      image: './assets/images/hotel-1.jpg',
      name: 'Bãi biển Sanur - cách nơi ở 7.95 km'
    },
    {
      image: './assets/images/hotel-2.jpg',
      name: 'Bãi biển Sanur - cách nơi ở 7.95 km'
    },
    {
      image: './assets/images/hotel-3.jpg',
      name: 'Thể thao dưới nước Tanjung Benoa - cách nơi ở 7.88 km'
    },
    {
      image: './assets/images/hotel-4.jpg',
      name: 'Thể thao dưới nước Tanjung Benoa - cách nơi ở 7.88 km'
    },
    {
      image: './assets/images/hotel-5.jpg',
      name: 'Bãi biển Sanur - cách nơi ở 7.95 km'
    },
    {
      image: './assets/images/hotel-6.jpg',
      name: 'Bãi biển Sanur - cách nơi ở 7.95 km'
    }
  ];
  var hotels = [
    {
      type: 'hotel',
      title: 'Hotel Julia',
      subtitle: 'Đà Nẵng, Việt Nam'
    },
    {
      type: 'hotel',
      title: 'Hotel Julia',
      subtitle: 'Đà Nẵng, Việt Nam'
    },
    {
      type: 'place',
      title: 'Đà Nẵng',
      subtitle: 'Việt Nam'
    }
  ];

//- Modal Login
.modal.modal-sm.fade#modal-login(tabindex="-1" role="dialog" aria-labelledby="login-button" aria-hidden="true")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        h5.modal-title Đăng nhập 
        button.close.button-icon(data-dismiss="modal" aria-lable="Close") 
          span.ic-close
      .modal-body 
        div.form-login(style="display: block;")
          p Bạn vui lòng đăng nhập để lưu lại thông tin và nhận các ưu đãi đặc biệt từ 8Trip dành cho thành viên.
          form
            .input-group.input-group-multiple-control.input-group-outline.is-error 
              label.input-group-label Số điện thoại
              //- span.input-group-flag
              //-   img.flag(src="./assets/images/flag-vn.svg" alt="VN flag")
              //-   span +84 
              input.input-group-control(type="tel" placeholder="VD: 338462828" name="mobile" required) 
              .input-helper Số điện thoại chưa đúng. 
            button.button.button-primary.button--large.w-100.mb-4(type="submit") Đăng nhập
          p.text-description.mb-5 
            i Với việc tiếp tục, tôi đồng ý rằng tôi đã đọc và chấp thuận với #[a(href="#") Điều khoản] &amp; #[a(href="#") điều kiện] và Tuyên bố Quyền riêng tư của 8Trip.vn.
          .devider.devider-with-text.mb-4
            span Hoặc 
          .text-center Bạn đã có tài khoản? #[a.button-text(href="#") Đăng ký]

        div.form-otp(style="display: none;")
          p Mã xác thực đã được gửi tới số điện thoại vừa đăng ký: #[strong 033 874 5538]
          form.mb-5 
            .input-group.input-group-code.px-0.is-error 
              label.input-group-label Nhập mã
              input.input-group-control(type="text" name="otp" required value="OHU892")
              .input-helper Mã OTP chưa đúng, vui lòng thử lại

          .text-center.mb-5
            p Không nhận được mã?
            div 
              button.button.button-hidden(type="button") Gửi lại trong 180s
              //- button.button.button-primary(type="button") Gửi lại mã OTP
          .text-center Số điện thoại chưa đúng? #[a.button-text(href="#") Nhập lại]

.modal.fade#modal-flight-detail(tabindex="-1" role="dialog" aria-labelledby="flight-detail-button" aria-hidden="true")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        h5.modal-title Chi tiết chuyến bay đi 
        button.close.button-icon(data-dismiss="modal" aria-lable="Close") 
          span.ic-close
      .modal-body 
        .filter-group.js-filter-group
          .filter-button-group.justify-content-start 
            each tab in ticketProperties
              button.button-tag(class=tab.active ? 'active' : '' data-filter=tab.className) #{tab.name}
          .filter(data-default='.tab-flight')
            .filter-item.tab-flight 
              +tab-flight()
            .filter-item.tab-utilities 
              +tab-utilities()
            .filter-item.tab-detail 
              +tab-detail()

.modal.fade#modal-choose-place(tabindex="-1" role="dialog" aria-hidden="true")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        h5.modal-title Chọn địa điểm 
        button.close.button-icon(data-dismiss="modal" aria-lable="Close") 
          span.ic-close
      .modal-body 
        p.text-dark Bạn vui lòng lựa chọn điểm đi và điểm đến để tìm kiếm giá vé rẻ nhất cho chặng bay này.
        .form-choose-place
          .form-inline
            .form-group
              +input-group({
                label: 'Từ',
                placeholder: 'VD: Hà Nội (HAN)',
                name: 'search-flight-from'
              })(class="input-group-address dropdown")
                .dropdown__body
                  h4 Chọn điểm khởi hành
                  .scroll-box 
                    ul.listing-large
                      each city in cities 
                        li.listing-large-item 
                          a(href="#" title=city.id data-id=city.id data-name=city.city) #{city.city} #[small (#{city.id})]
              .button-icon.button-icon-reverse(data-target-1="[name='search-flight-from']" data-target-2="[name='search-flight-to']") 
                span.ic-arrow-two-ways 
                span.button-icon-symbol.ic-flight-2
              +input-group({
                label: 'Đến',
                placeholder: 'VD: TP.HCM (SGN)',
                name: 'search-flight-to'
              })(class="input-group-address dropdown")
                .dropdown__body
                  h4 Chọn điểm đến
                  .scroll-box 
                    ul.listing-large
                      each city in cities 
                        li.listing-large-item 
                          a(href="#" title=city.id data-id=city.id data-name=city.city) #{city.city} #[small (#{city.id})]
            button.button-icon.button-submit-all.is-loading(type="submit") 
              span.ic-search 

.modal.fade#modal-booking(tabindex="-1" role="dialog" aria-hidden="true")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        h5.modal-title Đặt vé 
        .modal-corner--top-right
          .list-info
            dl
              dt Chuyến bay:
              dd Hà Nội #[span.ic-round-trip.mx-2] Quy Nhơn
            p 14/9/2020 - 17/9/2020
        button.close.button-icon(data-dismiss="modal" aria-lable="Close") 
          span.ic-close
      .modal-body 
        p.text-dark Quý khách vui lòng lựa chọn số hành khách đăng ký chuyến bay để tiến hành đặt vé và giữ chỗ.
        .row
          .col-md-4
            +input-group-number-2('người lớn', 'count-adult')
          .col-md-4
            +input-group-number-2('trẻ em', 'count-children')
          .col-md-4
            +input-group-number-2('em bé', 'count-baby')
        .text-center
          a.button.button-primary.mt-4(href="#" title="Đặt vé ngay") Đặt vé ngay

.modal.fade#modal-gallery.modal-gallery(tabindex="-1" role="dialog" aria-hidden="true")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        button.close.button-icon(data-dismiss="modal" aria-lable="Close") 
          span.ic-close
      .modal-body 
        .row
          .col-8
            .slider-gallery.slider.slider-single
              //- each img in gallery
              //-   - var bg = "background-image: url('" + img.image + "');"
              //-   .gallery-img.bg-reset(style=bg)
              //-     .caption
              //-       .caption-title #{img.name}
              //-       .caption-number

            .slider-gallery-nav.slider.slider-nav
              //- each img in gallery
              //-   - var bg = "background-image: url('" + img.image + "');"
              //-   .gallery-img.bg-reset(style=bg)
          .col-4.d-flex.flex-column
            .scroll-box
              h4.text-title Tổng quan
              .gallery-service-wrapper.mb-3
                //- .item-service
                //-   .ic-elevator 
                //-   span Có thang máy
                //- .item-service
                //-   .ic-wifi
                //-   span Wifi free, tốc độ cao
                //- .item-service
                //-   .ic-meeting
                //-   span Phòng meeting
              h4.text-title Điểm du lịch gần đây
              ul.gallery-location
                //- li 
                //-   span Công viên Waterbom
                //-   span 1.43km
                //- li 
                //-   span Bãi biển Kuta
                //-   span 1.55km
                //- li 
                //-   span Bãi biển Seminyak
                //-   span 3.66km
                //- li 
                //-   span Bãi biển Sanur
                //-   span 9.19km
            .mt-auto.text-center
              a(href="#").button.button-primary.button--small Xem chỗ nghỉ
        .js-loading
          .loading
            - var i = 0;
            while i < 10
              .line
              - i++;
      .modal-footer

.modal.fade#modal-gallery-room.modal-gallery-room(tabindex="-1" role="dialog" aria-hidden="true")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        button.close.button-icon(data-dismiss="modal" aria-lable="Close") 
          span.ic-close
      .modal-body 
        .row
          .col-8
            .slider-gallery.slider-gallery-room.slider.slider-single(data-json="json/hotel-rooms.json")
          .col-4.slider-gallery-room__detail.scroll-box
            .slider-gallery-room__detail-wrapper
              h4.text-title Room name
              .gallery-service-wrapper.mb-3 
                - for (var x = 0; x < 30; x++)
                  .item-service
                    .ic-wifi
                    span Số lượng bể bơi ngoài trời - 2
               
              h4 Tiện nghi phòng
              .gallery-utilities
                - for (var i = 0; i < 20; i++)
                  .item-service
                    .ic-tick
                    span Các tầng trên đi lên bằng thang máy
                
              //- .d-flex.mb-3
              //-   .sale 
              //-     span Giảm 80% hôm nay
              //- .price
              //-   span 1.630.435 VND
        
        .slider-gallery-nav.slider-gallery-room-nav.slider.slider-nav
      .modal-footer

.modal.fade#modal-gallery-room-detail.modal-gallery-room-detail(tabindex="-1" role="dialog" aria-hidden="true")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        button.close.button-icon(data-dismiss="modal" aria-lable="Close") 
          span.ic-close
      .modal-body 
        .row
          .col-8
            .slider-gallery.slider-gallery-room.slider.slider-single
          .col-4.slider-gallery-room__detail.scroll-box
            .slider-gallery-room__detail-wrapper
              //- h4.text-title Room name
              //- .gallery-service-wrapper.mb-3 
              //-   .item-service
              //-     .ic-wifi
              //-     span Có wifi
              //-   .item-service
              //-     .ic-wifi
              //-     span Có wifi
              //-   .item-service
              //-     .ic-wifi
              //-     span Có wifi
              //-   .item-service
              //-     .ic-wifi
              //-     span Có wifi
              //-   .item-service
              //-     .ic-wifi
              //-     span Có wifi
              //- .d-flex.mb-3
              //-   .sale 
              //-     span Giảm 80% hôm nay
              //- .price
              //-   span 1.630.435 VND

        .slider-gallery-nav.slider-gallery-room-nav.slider.slider-nav
      .modal-footer

.modal.fade#modal-room-detail.modal-room-detail(tabindex="-1" role="dialog" aria-hidden="true")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        h5.modal-title Chi tiết hoá đơn 
        button.close.button-icon(data-dismiss="modal" aria-lable="Close") 
          span.ic-close
      .modal-body 
        //- table.table-no-border.table-mul-column.w-100
        //-   tbody 
        //-     tr 
        //-       th.text-lead.p-0 Tên phòng 
        //-       th.text-lead.p-0 Số lượng
        //-       th.text-lead.p-0 Giá
        //-     tr
        //-       td(colspan="3")
        //-         .devider.devider-thick
        //-     tr
        //-       td Tên phòng
        //-       td 2
        //-       td 1.635.000
        //-     tr
        //-       td Tên phòng
        //-       td 2
        //-       td 1.635.000
        //-     tr
        //-       td(colspan="3") 
        //-         .devider
        //- .info-checkout.text-right
        //-   p.text-description Số tiền cần thanh toán:&nbsp;&nbsp; 
        //-     span.price
        //-       span 9.570.000 VND

.modal.fade#modal-hotel-map.modal-hotel-map(tabindex="-1" role="dialog" aria-hidden="true")
  .modal-dialog(role="document")
    .modal-content
      .modal-header.shadow-special.bgd-darker.font-lighter
        button.close.button-icon(data-dismiss="modal" aria-lable="Close") 
          span.ic-close
        
        .container
          include ./_search-box--hotel-inline
          span.map-data(style="display: none")

      .modal-body 
        .modal-sidebar
          .modal-sidebar__nav
            .text-blue-dark #[span.text-strong.list-item-total 7.366] nơi ở còn phòng
            ul.nav.nav-tabs(role="tablist")
              li.nav-item
                a.nav-link.active(href="#list-item" data-toggle="tab" role="tab")
                  .icon-border 
                    .ic-list
              li.nav-item
                a.nav-link(href="#map-filter" data-toggle="tab" role="tab")
                  .icon-border
                    .ic-filter
          .modal-sidebar__content.mt-2
            .tab-content
              #list-item.tab-pane.active(role="tabpanel")
                .d-flex
                  .filter-checklist
                  .dropdown.ml-auto
                    button.dropdown__button(type="button").text-blue-dark 
                      | Giá vé tăng dần
                      i.ic-caret-down 
                    .dropdown__body
                      .dropdown__menu 
                        a.dropdown__item.active(href="/") Bộ lọc 1
                        a.dropdown__item(href="/") Bộ lọc 2
                
                .list-item-map.mt-2.scroll-box
                  // Result was generate by map.js 
                      
              #map-filter.tab-pane(role="tabpanel")
                .text-dark.text-strong.pb-2 Xếp hạng sao
                .rating.pb-3
                  .rating-star
                    +rating-star-item('&#8804; 2', false)
                    +rating-star-item('3', false)
                    +rating-star-item('4', false)
                    +rating-star-item('5', false)
                .text-dark.text-strong.pb-2 Khoảng giá
                .text-description 
                  p Giá phòng mỗi đêm tính theo đầu người
                .input-range-numBottom
                  .slider-about(data-min="0" data-max="100000000" data-step="1")
                    .slider-about__min-wrapper
                      input(type="number" min="0" max="100000000" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57").slider-about__min 
                      span VND
                    .slider-about__divide -
                    .slider-about__max-wrapper
                      input(type="number" min="0" max="100000000" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57").slider-about__max
                      span VND
                
                .text-dark.text-strong.pb-2 Loại hình nghỉ ngơi
                +checkbox('Loại hình 1').px-0
                +checkbox('Loại hình 2').px-0
                +checkbox('Loại hình 3').px-0
                .text-dark.text-strong.pb-2 Bộ lọc khác
                +checkbox('Bộ lọc 1').px-0
                +checkbox('Bộ lọc 2').px-0
                +checkbox('Bộ lọc 3').px-0

        .modal-map#map-listing
          
