.block.block-sale-code.mx-auto
    form
        .input-group.input-group-code.p-0.mb-0
            label.input-label Mã giảm giá (nếu có)
            input.input-group-control.text-left.pr-6(type="text" name="code-sale" value="OHU892")
            button.button.button-primary.button--small Áp dụng
    p.mt-3.mb-0.text-success Mã giảm giá hợp lệ. Giảm thêm 500.000 VND vào tổng giá vé.