- 
  var rooms = [
    {
      bed: 2, 
      roomName: '1 giường king hoặc 2 giường đơn',
      price: '1630435',
      key: 'D1',
      groupId: 'phong_tieu_chuan',
      groupName: 'Phòng tiêu chuẩn'
    },
    {
      bed: 2, 
      roomName: '1 giường king',
      price: '1630435',
      key: 'D2',
      groupId: 'phong_tieu_chuan',
      groupName: 'Phòng tiêu chuẩn'
    },
    {
      bed: 1, 
      roomName: '1 giường đơn',
      price: '800000',
      key: 'D3',
      groupId: 'phong_delux',
      groupName: 'Phòng Delux'
    },
    {
      bed: 2, 
      roomName: '1 giường đôi',
      price: '45564655',
      key: 'D4',
      groupId: 'phong_delux',
      groupName: 'Phòng Delux'
    },
    {
      bed: 2, 
      roomName: '2 giường đơn',
      price: '0980808',
      key: 'D5',
      groupId: 'phong_delux',
      groupName: 'Phòng Delux'
    },
    {
      bed: 2, 
      roomName: '1 giường đôi',
      price: '32143234',
      key: 'D6',
      groupId: 'phong_tieu_chuan',
      groupName: 'Phòng tiêu chuẩn'
    },
    {
      bed: 2, 
      roomName: '2 giường đơn',
      price: '1630435',
      key: 'D7',
      groupId: 'phong_tieu_chuan',
      groupName: 'Phòng tiêu chuẩn'
    }
  ];

section.section-primary.spacing.js-room-type
  h4.text-title.mb-3 Phòng tiêu chuẩn
  .room-table
    .room-header
      .table-th Loại phòng
      .room-header__list
        .table-th Giường và tiện nghi
        .table-th Chính sách
        .table-th Giá phòng/đêm (gồm VAT/phí)
    .room-row
      .room-info(data-room-detail="0" data-json="json/hotel-rooms-detail-0.json") 
        .room-info__photo.bg-reset(style="background-image: url('./assets/images/hotel-1.jpg');")
        .room-info__detail
          .text-dark Diện tích: 33m&sup2;
          .text-dark Wifi miễn phí
          br
          a.link(href="#") Xem phòng này
      .room-list
        .child-room
          each room, index in rooms
              if index > 2
                .child-room__item-wrapper.multi-collapse
                  +child-room-item(room)
              else
                .child-room__item-wrapper
                  +child-room-item(room)
        if rooms.length > 3
          .text-right.mt-4.js-btn-toggle
            a.link.show-more(href="#" role="button") Hiển thị thêm #{rooms.length - 3} phòng khác
            a.link.hide-more(href="#" role="button") Ẩn bớt #{rooms.length - 3} phòng

section.section-primary.spacing.js-room-type
  h4.text-title.mb-3 Phòng tiêu chuẩn
  .room-table
    .room-header
      .table-th Loại phòng
      .room-header__list
        .table-th Giường và tiện nghi
        .table-th Chính sách
        .table-th Giá phòng/đêm (gồm VAT/phí)
    .room-row
      .room-info(data-room-detail="1" data-json="json/hotel-rooms-detail-1.json")
        .room-info__photo.bg-reset(style="background-image: url('./assets/images/hotel-1.jpg');")
        .room-info__detail
          .text-dark Diện tích: 33m&sup2;
          .text-dark Wifi miễn phí
          br
          a.link(href="#") Xem phòng này
      .room-list
        .child-room
          each room, index in rooms
            if index > 2
              .child-room__item-wrapper.multi-collapse
                +child-room-item(room)
            else
              .child-room__item-wrapper
                +child-room-item(room)
        if rooms.length > 3
          .text-right.mt-4.js-btn-toggle
            a.link.show-more(href="#" role="button") Hiển thị thêm #{rooms.length - 3} phòng khác
            a.link.hide-more(href="#" role="button") Ẩn bớt #{rooms.length - 3} phòng
