form.form.form-search-flight(autocomplete="off") 
  .row 
    .col-xl-3.col-md-7 
      .form-group.form-group-switch
        +input-group({
          label: 'Điểm đi',
          labelIcon: 'ic-map',
          placeholder: 'VD: Hà Nội (HAN)',
          name: 'search-flight-from'
        })(class="input-group-address dropdown")
          .dropdown__body.p-0
            include ./_search-address-dialog--flight
        .button-icon.button-icon-reverse(data-target-1="[name='search-flight-from']" data-target-2="[name='search-flight-to']") 
          span.ic-arrow-two-ways 
          span.button-icon-symbol.ic-flight-2
        +input-group({
          label: 'Điểm đến',
          labelIcon: 'ic-map',
          placeholder: 'VD: TP.HCM (SGN)',
          name: 'search-flight-to'
        })(class="input-group-address dropdown mb-xl-0")
          .dropdown__body.p-0
            include ./_search-address-dialog--flight
    .col-xl-3.col-md-5
      .form-group.js-pick-date-relative
        +input-group({
          label: 'Ngày đi',
          labelIcon: 'ic-calendar-2',
          placeholder: 'Chọn ngày đi',
          name: 'search-flight-from-date',
          daterange: true,
          value: '22/04/2021'
        })(class="input-group-date input-group-from-date")
        +input-group({
          label: 'Ngày về',
          labelIcon: 'ic-calendar-2',
          placeholder: 'Chọn ngày về',
          name: 'search-flight-to-date',
          daterange: true,
          value: '30/04/2021'
        })(class="input-group-date input-group-to-date mb-xl-0" data-checkbox-target="input-group-to-date" style="display: none;")
    .col-xl-6
      .row
        .col-12.col-xl-8
          .row 
            .col-xl-4.col-md-2.d-flex.align-items-end
              +checkbox('Khứ hồi')(class="px-0 mb-3 js-checkbox-collapse" data-target="input-group-to-date")
            .col-xl-8.col-md-5 
              +input-group-outline-select(
                '<span class="ic-seat"></span> Hạng ghế', 
                [
                  'Chọn hạng ghế',
                  'Tất cả',
                  'Phổ thông tiết kiệm',
                  'Thương gia'
                ],
                'search-flight-seat'
              )(class="select-seat")
            .col-md-5.col-xl-12.d-flex.justify-content-between
              +input-group-outline-select(
                '<span class="ic-adult"></span> Người lớn', 
                [0,1,2,3,4,5,6],
                'search-flight-adult'
              )(class="w-30 mr-1 mb-0")
              +input-group-outline-select(
                '<span class="ic-adult"></span> Trẻ em', 
                [0,1,2,3,4,5,6],
                'search-flight-children'
              )(class="w-30 mx-1 mb-0")
              +input-group-outline-select(
                '<span class="ic-baby"></span> Em bé', 
                [0,1,2,3,4,5,6],
                'search-flight-baby'
              )(class="w-30 ml-1 mb-0")
        .col-12.col-xl-4.text-center.d-flex.align-items-end.justify-content-center
          button.button-submit-all.button.button-primary.button--medium.mt-4.px-xl-2(type="submit") Tìm chuyến bay
.mt-3.hidden-on-sticky
  h4 Tìm kiếm gần đây
  div.history-searched
    +history-pane('Hà Nội', 'Đà Nẵng', 'T2 23/02', 'T5 26/02', 'one-way')
    +history-pane('Hà Nội', 'Singapore', 'T2 23/02', 'T5 26/02', 'one-way')
    +history-pane('TP. Hồ Chí Minh', 'Kuala Lumpur', 'T2 23/02', 'T5 26/02')
    +history-pane('Hà Nội', 'Đà Nẵng', 'T2 23/02', 'T5 26/02', 'one-way')
    +history-pane('Hà Nội', 'Đà Nẵng', 'T2 23/02', 'T5 26/02')
    +history-pane('Hà Nội', 'Đà Nẵng', 'T2 23/02', 'T5 26/02', 'one-way')