- 
    var search1 = [
        'Hà Nội (HAN)',
        'Hải Phòng (HPH)',
        'Quảng Ninh (VDO)',
        'Điện Biên (DIN)',
        'Kuala Lumpur Kuala Lumpur'
    ];

.dialog.dialog--lg 
    .dialog__header 
        h3.dialog__title Chọn địa điểm
        button.button-close(type="button")
            span.ic-close
    .dialog__body 
        .d-flex 
            div.mr-4
                h4.heading-4 Miền Bắc 
                .list.mb-4
                    each item in search1 
                        a(href="#")= item

                h4.heading-4 Miền Nam 
                .list
                    each item in search1 
                        a(href="#")= item
            div.mr-4
                h4.heading-4 Miền Trung 
                .list
                    each item in search1 
                        a(href="#")= item
                    each item in search1 
                        a(href="#")= item
            div.col.px-0
                +input-group({
                    label: 'Nhập tên thành phố hoặc mã sân bay',
                    placeholder: 'Ha Noi (HAN)',
                    name: 'search-address-flight'
                })(class="mb-3 input-group-sm")
                .result.list 
                    a(href="#") Result 1
                    a(href="#") Result 2 

                h4.heading-4.mt-4 Điểm đến phổ biến
                .list 
                    each item in search1 
                        a(href="#")= item

