- 
  var tabIndexActive = 0;
  var tabList = [
    {
      id: '#tab-control-flight',
      icon: 'ic-flight',
      title: 'Vé máy bay',
      link: '#tab-search-flight'
    },
    {
      id: '#tab-control-hotel',
      icon: 'ic-hotel',
      title: 'Khách sạn',
      link: '#tab-search-hotel'
    },
    {
      id: '#tab-control-car',
      icon: 'ic-car',
      title: 'Xe sân bay',
      link: '#tab-search-car'
    },
    {
      id: '#tab-control-combo',
      icon: 'ic-flight',
      title: 'Máy bay & K.sạn',
      link: '#tab-search-combo'
    }
  ];

section.search-box 
  .container 
    .tab 
      ul.nav.nav-tabs(role="tablist")
        each item, index in tabList
          li.nav-item
            a.nav-link(
              id=item.id
              href=item.link
              title=item.title
              class=index == tabIndexActive ? 'active' : ''
              data-toggle="tab"
              role="tab"
              aria-controls=item.link
              aria-selected=tabIndexActive ? 'true' : 'false'
            )
              span(class=item.icon)
              | #{item.title} 
      .tab-content
        .tab-pane.active#tab-search-flight(role="tabpanel" aria-labelledby="tab-control-flight") 
          include ./_search-box--flight
        .tab-pane#tab-search-hotel(role="tabpanel" aria-labelledby="tab-control-hotel") 
          include _search-box--hotel
        .tab-pane#tab-search-car(role="tabpanel" aria-labelledby="tab-control-car") 
          | Tab car
        .tab-pane#tab-search-combo(role="tabpanel" aria-labelledby="tab-control-combo") 
          include _search-box--combo
