-    
  var hotels = [
    {
      type: 'hotel',
      title: 'Hotel Julia',
      subtitle: 'Đà Nẵng, Việt Nam'
    },
    {
      type: 'hotel',
      title: 'Hotel Julia',
      subtitle: 'Đà Nẵng, Việt Nam'
    },
    {
      type: 'place',
      title: 'Đà Nẵng',
      subtitle: 'Việt Nam'
    }
  ];
form.form.form-search-hotel(autocomplete="off") 
  .row
    .col-12.col-xl-4
      .form-group.flex-width-auto
        +input-group({
          label: 'Bạn muốn đến đâu?',
          placeholder: 'VD: Đà Lạt',
          name: 'search-hotel-from'
        })(class="input-group-address dropdown")
          .dropdown__body.p-0
            include ./_search-address-dialog--flight
    .col-12.col-xl-4
      .form-group.js-pick-date-relative
        .row 
          .col-md-6
            +input-group({
              label: 'Nhận phòng',
              placeholder: 'Ngày nhận phòng',
              name: 'search-hotel-from-date',
              daterange: true,
              value: '22/04/2021'
            })(class="input-group-date input-group-from-date")
          .col-md-6
            +input-group({
              label: 'Trả phòng',
              placeholder: 'Ngày trả phòng',
              name: 'search-hotel-to-date',
              daterange: true,
              value: '30/04/2021'
            })(class="input-group-date input-group-to-date")
    .col-md-6.col-xl-4.d-flex.justify-content-between
      +input-group-outline-select(
        '<span class="ic-adult"></span> Người lớn', 
        [0,1,2,3,4,5,6],
        'search-hotel-adult'
      )(class="mr-1 mb-0 w-30")
      +input-group-outline-select(
        '<span class="ic-adult"></span> Trẻ em', 
        [0,1,2,3,4,5,6],
        'search-hotel-children'
      )(class="mx-1 mb-0 w-30")
      +input-group-outline-select(
        '<span class="ic-baby"></span> Em bé', 
        [0,1,2,3,4,5,6],
        'search-hotel-baby'
      )(class="ml-1 mb-0 w-30")
  .row.mt-xl-3 
    .col-xl-10
      .block-search-handle.hidden-on-sticky.pt-2
        .rating
          span Xếp hạng sao
          .rating-star
            +rating-star-item('&#8804; 2', false)
            +rating-star-item('3', false)
            +rating-star-item('4', false)
            +rating-star-item('5', false)
        .input-range-group 
          .input-label Khoảng giá 
          .input-range 
            .slider-about(data-min="0" data-max="100000" data-step="1000")
              .slider-about__min 
                span 0
              .slider-about__max
                span 100000
    .col-xl-2.text-center
      button.button-submit-all.button.button-primary.button--medium.mt-4.px-xl-2(type="submit") Tìm khách sạn
