section.py-6.bg-blue-light 
    .container 
      .row.justify-content-center 
        each item, index in specialSA 
          - var classSpacing = index != specialSA.length - 1 ? "mb-5" : "";
          .col-lg-4.col-sm-6.mb-lg-0(class=classSpacing)
            .card.card-icon 
              .card-thumb
                img(src=item.icon alt=item.title)
              .card-body 
                h4.card-title #{item.title}
                p.card-text !{item.description}