.accordion {
    .accordion-header {
        background: $white;
        border-radius: $border-radius-lg;
        padding: $spacing-sm $spacing-md;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        color: initial;
        .accordion-title {
            font-weight: $font-weight-bold;
        }
        [class^="ic-"] {
            font-size: $font-size-small/2;
            margin-left: $spacing-xs;
            transform: scaleY(-1);
        }
        &.collapsed {
            [class^="ic-"] {
                transform: scaleY(1);
            }
        }
    }
    .accordion-body-wrapper {
        border-top: dashed $gray-15 1px;
        background: $white;
        border-radius: $border-radius-lg;
        padding: $spacing-md;
        transform-style: preserve-3d;
        transition: transform .35s ease;
        transform: perspective(200px) rotateX(-90deg);
        transform-origin: top center;
    }
    .collapse.show {
        .accordion-body-wrapper {
            transform: perspective(200px) rotateX(0deg);
        }
    }
}

