.account {
  display: flex;
  a {
    color: initial;
  }
  .account-thumb {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: $border-radius-lg;
    border: solid 1px $gray-100;
    position: relative;
    margin-right: $spacing-xs;
    overflow: hidden;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .account-heading {
    font-weight: $font-weight-semibold;
    font-size: $font-size-smaller;
    margin-bottom: 2px;
    [class^="ic-"] {
      font-size: 4px;
      padding-left: .625rem;
      vertical-align: middle;
    }
  }
  &.account-lg {
    .account-heading {
      font-size: $font-size-default;
      margin-bottom: 0;
    }
    .account-text {
      font-size: $font-size-small;
    }
  }
}