.banner-shadow {
    background-color: $white;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: left center;
    border-radius: $border-radius-lg;
    position: relative;
    display: flex;
    min-height: rem(150px);
    &::after {
        content: '';
        width: 80%;
        height: 40%;
        bottom: 0;
        left: 10%;
        background: $dark;
        filter: blur(42px);
        position: absolute;
        opacity: 0.6;
        z-index: -1;
    }
    .banner-image {
        display: flex;
        align-items: flex-end;
    }
    .banner-body {
        display: flex;
        align-items: center;
        flex: 1;
    }
    h3 {
        color: $gray-70;
    }
}