button {
  outline: none !important;
}

.button {
  background: inherit;
  border: inherit;
  line-height: 1.2;
  transition: all $cubic3 .3s;
  border-radius: $border-radius-button;
  font-size: $font-size-default;
  padding: rem(9px) rem(24px);
  display: inline-block;
  text-decoration: none !important;
  font-weight: $font-weight-semibold;
  white-space: nowrap;
  &--small {
    font-size: $font-size-smaller;
    padding: rem(7px) rem(16px);
  }
  &--large {
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    padding: rem(13px) rem(24px);
  }
  &--medium {
    padding: rem(12px) rem(24px);
  }
  &--white {
    background-color: $white;
  }
  &:disabled {
    opacity: .65;
  }
  &.is-loading {
    position: relative;
    color: transparent;
    pointer-events: none;
    &::before {
      content: '';
      position: absolute;
      top: calc(50% - #{rem(12px)});
      left: calc(50% - #{rem(12px)});
      width: rem(24px);
      height: rem(24px);
      background-image: url('../images/loading.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      animation: spin 1.2s linear infinite;
    }
  }
}

.button-default {
  background: $gray-8;
  border: none;
  color: $gray-70;
  &:hover:not(:disabled) {
    background: rgba($dark, .06);
    box-shadow: 0rem rem(3px) rem(8px) rgba($dark, .06);
  }
}

.button-primary {
  background: $primary;
  color: $white;
  border: solid 1px $primary;
  &:hover:not(:disabled) {
    background: $primary-lighter;
    border-color: $primary-lighter;
    box-shadow: 0rem rem(3px) rem(15px) rgba($primary, .3);
    color: $white;
  }
}

.button-outline-primary {
  border: solid 1px $primary;
  color: $primary;
  &:hover {
    box-shadow: 0rem rem(3px) rem(15px) rgba($primary, .3);
    border-color: $primary-lighter;
    color: $primary-lighter;
  }
}

.button-outline-white {
  border: solid 1px $white;
  color: $white;
  &:hover {
    box-shadow: 0rem rem(3px) rem(15px) rgba($white, .5);
    color: $dark;
    background-color: $white;
  }
}

.button-group {
  .button:not(:last-child) {
    margin-right: rem(10px);
  }
}

.button-icon {
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &.button-icon-transparent {
    transition: background .2s ease-out;
    width: 32px;
    height: 32px;
    border-radius: $border-radius-button;
    [class^="ic-"] {
      font-size: $font-size-smaller;
      color: $body-color;
    }
    &:hover {
      background: $blue-light;
    }
  }
}

.button-icon-reverse {
  position: relative;
  width: rem(32px);
  height: rem(32px);
  color: $primary;
  background: $white;
  padding: 4px;
  box-shadow: 0px 0px 4px $gray-15;
  border-radius: 50%;
  .ic-arrow-two-ways {
    position: absolute;
    background-image: url('../images/arrow-2-way.svg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    z-index: 0;
    top: 4px;
    left: 4px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
  }
  .button-icon-symbol {
    margin-left: rem(2px);
    font-size: rem(12px);
  }
  &.is-animating {
    .ic-arrow-two-ways {
      animation-name: round;
      animation-duration: 500ms;
      animation-fill-mode: both;
      animation-timing-function: ease-out;
    }
  }
}

.button-text {
  background: transparent;
  border: none;
  font-weight: $font-weight-bold;
  color: $primary;
  font-size: rem(16px) !important;
  white-space: nowrap;
  &.button-text--error {
    color: $red;
  }
}

.button-tag {
  font-size: $font-size-smaller;
  padding: rem(8px) rem(16px);
  background: $white;
  border: solid 1px $gray-15;
  transition: all .15s $cubic2;
  border-radius: rem(3px);
  display: inline-flex;
  color: $body-color;
  text-align: center;
  &.active {
    color: $primary;
    border-color: $blue-light;
    background: $blue-light;
    font-weight: $font-weight-bold;
  }
}

.button-hidden {
  background: $gray-light;
  pointer-events: none;
  color: $gray-50;
}

@keyframes round {
  0% { transform: rotate(0)}
  100% { transform: rotate(360deg)}
}

.close {
  color: $white;
  background: $blue-dark;
  width: rem(48px);
  height: rem(48px);
  border-radius: $border-radius-lg;
  display: flex;
  justify-content: center;
  align-items: center;
  [class^="ic"] {
    font-size: 1rem;
  }
}

.show-more-toggle-text {
  > span:nth-child(2) {
    display: inline-flex;
  }
  > span:nth-child(1) {
    display: none;
  }
  &.collapsed {
    > span:nth-child(2) {
      display: none;
    }
    > span:nth-child(1) {
      display: inline-flex;
    }
  }
}

.button-submit-all {
  height: auto;
  align-self: flex-end;
  @include media-breakpoint-up(xl) {
    width: 100%;
  }
}
