.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  
  .card-thumb {
    margin-bottom: rem(20px);
    img {
      width: 100%;
      height: auto;
    }
  }
  .card-title {
    color: $blue-dark;
    font-size: $font-size-heading-4;
  }
  .card-text {
    color: $gray-70;
  }
  .card-footer {
    text-align: right;
  }

  &.card-icon {
    align-items: center;
    text-align: center;
    img {
      height: rem(48px);
      width: auto;
    }
  }

  &.card-news {
    position: relative;
    transition: all .15s $cubic2;
    &::after {
      content: '';
      position: absolute;
      width: calc(100% + #{$gutter});
      height: calc(100% + #{$gutter});
      top: -$gutter/2;
      left: -$gutter/2;
      background: $white;
      box-shadow: 0 rem(10px) rem(30px) rem(-20px) rgba($dark, .3);
      z-index: -1;
      opacity: 0;
      transition: all .15s $cubic2;
      opacity: 0;
      border-radius: $border-radius;
    }
    .card-thumb {
      border-radius: $border-radius-button;
    }
    .button-text {
      padding-left: 0;
      padding-right: 0;
    }
    &:hover {
      z-index: 2;
      transform: translateY(rem(-10px));
      &::after {
        opacity: 1;
      }
    }
  }
  &.card-intro, &.card-advisory{
    flex-direction: row;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .card-thumb {
      position: absolute;
      margin-bottom: 0;
    }
  }
  &.card-intro {
    .card-thumb {
      left: 8px;
      bottom: 0;
      img {
        height: 190px;
        width: auto;
      }
    }
    .card-body {
      padding-left: 180px;
    }
  }
  &.card-advisory {
    .card-thumb {
      left: -15px;
      bottom: 0;
      img {
        height: 237px;
        width: auto;
      }
    }
    .card-body {
      padding-left: 240px;
    }
  }
}

$circle-width: 8px;
.card-flight {
  position: relative;
  pointer-events: none;
  transition: height .5s ease-out;
  .card-shadow {
    width: 90%;
    height: rem(80px);
    position: absolute;
    top: rem(60px);
    left: 50%;
    transform: translateX(-50%);
    background: $dark;
    z-index: -1;
    filter: blur(40px);
    opacity: 0;
    transition: all .3s ease-out;
  }
  .card-header {
    display: flex;
    overflow: hidden;
    border-radius: $border-radius-lg;
    background: $white;
    box-shadow: inset 0px 0px 0px 1px $gray-15;
    position: relative;
    transition: border .3s ease-out;
    z-index: 1;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    .button {
      white-space: nowrap;
      padding-left: $spacing-xs;
      padding-right: $spacing-xs;
    }
    .card-left {
      text-align: center;
      display: flex;
      padding: $spacing-xs $spacing-sm;
    }
    .card-right {
      flex: auto;
      display: flex;
      align-items: center;
      padding: $spacing-xs $spacing-sm;
      .dot-connect {
        align-self: flex-start;
        margin-top: rem(5px);
      }
    }
    .price {
      position: absolute;
      top: $spacing-xs;
      right: $spacing-sm;
      font-size: $font-size-base;
      span:nth-child(2) {
        display: none;
      }
    }
    .point, .button {
      display: none;
    }
  }
  .card-image {
    margin-right: $spacing-xs;
    img {
      max-height: 32px;
    }
  } 
  .card-label {
    font-weight: $font-weight-semibold;
    margin-top: $spacing-xs;
    font-size: $font-size-smaller;
  }
  .card-flight-direction {
    .text-direction {
      font-weight: $font-weight-semibold;
      min-width: rem(70px);
      margin-right: $spacing-xs;
      color: $gray-70;
    }
  }
  .card-body {
    background: $gray-light;
    box-shadow: inset 0px 0px 0px 1px $primary !important;
    border-bottom-right-radius: $border-radius-lg;
    border-bottom-left-radius: $border-radius-lg;
    margin-left: $spacing-md;
    margin-top: -#{$border-radius-lg};
    display: none;
    z-index: -1;
    // min-height: rem(250px);
    animation-fill-mode: forwards;
    animation-timing-function: $cubic1;
  }
  .card-body-wrapper {
    padding: $spacing-md;
    padding-top: $spacing-lg;
  }
  .button-toggle {
    position: absolute;
    bottom: rem(-10px);
    left: 50%;
    transform: translate(-50%, -10px);
    opacity: 0;
    visibility: hidden;
    transition: all 1s $cubic1;
    z-index: 2;
    > [class^="ic-"] {
      transition: transform .3s $cubic1;
    }
  }
  .button-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: $primary;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: rem(16px);
  }
  .journey-list {
    max-width: rem(450px);
  }
  table {
    width: 100%;
    max-width: rem(450px);
  }
  &:hover {
    .card-shadow {
      opacity: .3;
      top: rem(30px);
    }
    .button-toggle {
      opacity: 1;
      visibility: visible;
      transform: translate(-50%, 0px);
    }
  }
  &.is-active {
    .card-header {
      box-shadow: inset 0px 0px 0px 1px $primary !important;
      &::before, &::after {
        border-color: $primary !important;
      }
    }
    .card-body {
      display: block;
      animation-name: cardSlideInSmall;
      animation-duration: 1s;
    }
    .button-toggle > [class^="ic"] {
      transform: scaleY(-1);
    }
  }
  &.is-hiding {
    .card-body {
      display: block;
      animation-name: cardSlideOutSmall;
      animation-duration: 500ms;
    }
  }
  &.card-flight-combo {
    .card-shadow {
      height: rem(130px);
    }
  }
}
.col-result.is-result-expand {
  .card-flight {
    pointer-events: all;
    .card-header {
      mask-image: radial-gradient(#{$circle-width} circle at #{$circle-width} #{$circle-width}, transparent 50%, $white 50%);
      mask-position: 132px calc(100% - #{$circle-width});
      flex-direction: row;
      min-height: rem(100px);
      &::before, &::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: solid 1px $gray-15;
        left: rem(135px);
        z-index: 1;
        transition: border .3s ease-out;
      }
      &::before {
        top: rem(-5px);
      }
      &::after {
        bottom: rem(-5px);
      }
      .card-left {
        border-right: dashed 1px $gray-15;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 0 0 140px;
        max-width: 140px;
      }
      .card-image {
        margin-right: 0;
      }
      .price {
        position: initial;
        span:nth-child(2) {
          display: inline-block;
        }
      }
      .point, .button {
        display: block;
      }
    }
    &.card-flight-combo {
      .card-header {
        min-height: 170px !important;
        mask-position: 132px calc(100% - #{$circle-width});
      }
    }
  }
}

.card-flight-selected {
  border-radius: $border-radius-lg $border-radius-lg $border-radius $border-radius;
  overflow: hidden;
  max-width: 440px;
  background: $white;
  .card-body-wrapper {
    padding: $spacing-sm;
  }
  .card-header {
    background: $blue-dark;
    color: $white;
    display: flex;
    justify-content: space-between;
    padding: $spacing-xs $spacing-sm;
  }
  .card-title {
    text-transform: uppercase;
    color: $gray-30;
    margin-bottom: 0;
  }
  .card-body:not(:last-child) {
    border-bottom: solid 1px $gray-15;
  }
  .card-footer {
    padding: $spacing-sm;
    text-align: center;
  }
  .dot-connect {
    margin: -22px -33px 0 -33px;
  }
  &.card-flight-selected-2 {
    .card-header {
      [class^="ic-"] {
        font-size: $font-size-base;
        margin: 0 $spacing-xs;
      }
      h3 {
        display: inline-flex;
        align-items: center;
      }
    }
  }
  &.no-border {
    border: none;
  }
}

.card-warning {
  background: mix(rgba($yellow, .4), $white);
  border-radius: $border-radius-button;
  padding: $spacing-xs $spacing-sm;
  display: flex;
  align-items: center;
  color: $gray-70;
  .card-icon {
    color: $yellow;
    font-size: rem(24px);
    margin-right: $spacing-sm;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

.card-white-icon {
  background: $white;
  border: solid 1px $gray-15;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  padding: $spacing-sm $spacing-md $spacing-xs $spacing-md;
  text-align: center;
  cursor: pointer;
  transition: all .3s ease-out;
  will-change: border, background;
  color: initial;
  .card-thumb {
    margin-bottom: $spacing-xs;
    height: rem(36px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-title {
    margin-bottom: 0;
    font-weight: $font-weight-semibold;
  }
  &.is-active {
    background: $blue-light;
    border-color: $primary;
  }
  &:hover {
    border-color: $primary;
  }
}

.card-copy {
  .card-copy-wrapper {
    background: $white;
    border-radius: $border-radius;
    border: solid 1px $gray-15;
    position: relative;
    padding: $spacing-sm;
    display: flex;
    transition: all .3s ease-out;
    will-change: border, background;
  }
  &:hover .card-copy-wrapper {
    border-color: $primary;
  }
  .card-thumb {
    margin-right: $spacing-sm;
  }
  .card-image {
    width: rem(36px);
  }
  p {
    margin-bottom: $spacing-xs;
  }
  p:last-child {
    margin-bottom: 0;
  }
  .copy {
    position: absolute;
    top: $spacing-sm;
    right: $spacing-sm;
    color: $primary;
    cursor: pointer;
    font-size: $h5-font-size;
    transition: color .2s ease-out;
    &:hover {
      color: $primary-lighter;
    }
  }
  .card-copy-helper {
    display: none;
  }
  &.is-active {
    .card-copy-wrapper {
      background: $blue-light;
      border-color: $primary;
    }
    .card-copy-helper {
      display: block;
    }
  }
}

.card-title{
  &--dark {
    color: $dark;
  }
}

.card-primary {
  display: block;
  transition: all .15s $cubic2;
  &:hover {
    transform: translateY(rem(-10px));
  }
  // img.card-bgd {
  //   width: 100%;
  //   height: auto;
  // }
  .card-body {
    margin-top: 20px;
  }
  .card-title {
    font-weight: $font-weight-bold;
  }
  .card-rating {
    display: flex;
    align-items: center;
    .rating-point {
      margin-right: 10px;
    }
  }
  .card-price {
    margin-top: 20px;
    text-align: right;
    color: $dark-1;
  }
}

.card-label-right {
  font-size: $font-size-smaller;
  font-weight: $font-weight-semibold;
  color: $white;
  border-radius: $border-radius-button;
  line-height: 20px;
  padding: 2px 10px;
  z-index: 2;
  span {
    position: relative;
    &::before {
      position: absolute;
      display: inline-block;
      content: "";
      height: 8px;
      width: 12px;
      right: -15px;
      top: 2.4px;
      transform: rotate(62deg);
    }
    &::after {
      position: absolute;
      display: inline-block;
      content: "";
      height: 8px;
      width: 12px;
      right: -15px;
      bottom: 1.8px;
      transform: rotate(118deg);
    }
  }
  &.bgd-green {
    span {
      &::before, &::after {
        background-color: $color-info;
      }
    }
  }
  &.bgd-yellow {
    span {
      &::before, &::after {
        background-color: $color-warning;
      }
    }
  }
}

.card-label-left {
  font-size: $font-size-smaller;
  font-weight: $font-weight-semibold;
  color: $white;
  border-radius: $border-radius-button;
  line-height: 20px;
  padding: 2px 10px;
  z-index: 2;
  span {
    position: relative;
    display: contents;
    &::before {
      position: absolute;
      display: inline-block;
      content: "";
      height: 8px;
      width: 12px;
      left: -6px;
      top: 4.8px;
      transform: rotate(-56deg);
    }
    &::after {
      position: absolute;
      display: inline-block;
      content: "";
      height: 8px;
      width: 12px;
      left: -6px;
      bottom: 4.8px;
      transform: rotate(-125deg);
    }
  }
  &.bgd-red {
    span {
      &::before, &::after {
        background-color: $red;
      }
    }
  }
}

.card-hotel {
  .card-header {
    position: relative;
    display: flex;
    border-radius: $border-radius-button $border-radius-lg $border-radius-lg $border-radius-button;
    box-shadow: inset 0px 0px 0px 1px $gray-15;
    background: #fff;
    z-index: 1;
    
    &::before, &::after {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: solid 1px $gray-15;
      right: calc(25% - 4.7px);
      z-index: 2;
    }
    &::before {
      top: rem(-5px);
    }
    &::after {
      bottom: rem(-5px);
    }
    .card-label-right {
      position: absolute;
      &:first-child {
        top: 16px;
        left: -10px;
      }
      &:nth-child(2) {
        left: -10px;
        top: 46px;
      }
    }
    .card-label-left {
      position: absolute;
      right: -10px;
      top: 16px;
    }
    .card-left {
      position: relative;
      display: flex;
      width: 75%;
      border-right: dashed 1px $gray-15;
      &::before, &::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 10px;
        background-color: $white;
        right: -6px;
        z-index: 3;
      }
      &::before {
        top: -10px;
      }
      &::after {
        bottom: -10px;
      }
    }
    .card-right {
      position: relative;
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 54px 10px 20px 10px;
      text-align: right;
      &::before, &::after {
        content: '';
        position: absolute;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background-color: $white;
        left: -4.3px;
      }
      &::before {
        top: -4px;
      }
      &::after {
        bottom: -4px;
      }
      .pill {
        padding: 0;
        margin-right: 0;
        margin-bottom: 2px;
      }
      .button {
        margin-top: 10px;
      }
      @include media-breakpoint-up(lg) {
        padding: 54px 27px 20px 10px;
      }
    }
    .card-image {
      position: relative;
      width: 40%;
      .card-bgd {
        height: 100%;
        border-radius: $border-radius-button 0 0 $border-radius-button;
        cursor: pointer;
      }
      .button-see-more {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 8px 16px;
        color: $white;
        background-color: $gray-clear-70;
        font-size: $font-size-smaller;
        font-weight: $font-weight-semibold;
      }
      .js-loading {
        display: none;
        // background: $gray-15;
      }
    }
    .card-content {
      padding: 20px 10px;
      width: 60%;
      .card-title {
        display: inline-flex;
        align-items: center;
        font-weight: $font-weight-bold;
        font-size: $font-size-large;
        color: $blue-dark;
        margin-bottom: 0.5rem;
        .rating-bright-star {
          font-size: $font-size-default;
          padding-left: 12px;
        }
      }
      .img-logo-rating {
        margin-left: 10px;
      }
      .card-address {
        color: $primary;
        display: flex;
        align-items: center;
        margin: 14px 0;
        [class^="ic"] {
          padding-right: 5px;
          &::before {
            color: $primary;
          }
        }
        span {
          font-weight: $font-weight-bold;
        }
      }
      .card-service {
        columns: 2;
        max-width: 370px;
        margin-top: 20px;
        .item-service {
          margin-bottom: 7px;
          display: inline-flex;
        }
      }
      @include media-breakpoint-up(lg) {
        padding: 20px 30px;
      }
    }
    .card-price {
      margin-bottom: $spacing-lg;
      .card-price-num {
        position: relative;
        font-size: $font-size-default;
        color: $gray-70;
        font-weight: $font-weight-bold;
        width: max-content;
        margin-left: auto;
        &.card-price-num--old::before {
          position: absolute;
          content:'';
          top: 50%;
          width: 100%;
          border-top: 2px solid;
          border-color: $red;
          transform: rotate(-10deg);
        }
      }
      .card-price-new {
        font-size: $font-size-default;
        font-weight: $font-weight-bold;
        color: $red;
      }
      @include media-breakpoint-up(lg) {
        .card-price-num, .card-price-new {
          font-size: $font-size-heading-3;
        }
      }
    }
  }
  &.card-hotel--shortcut {
    .card-header {
      box-shadow: none;
      border: solid 1px $gray-15;
    }
    .card-header.card-header--small {
      border-radius: $border-radius-sm;
      &::before, &:after {
        display: none;
      }
      .card-left {
        width: 100%;
        border-right: none;
        &::before, &::after {
          display: none;
        }
      }

      .card-bgd {
        cursor: default;
      }

      .card-image {
        width: 25%;
      }
    
      .card-content {
        padding: rem(12px) rem(12px) rem(20px);
        width: 75%;
        .card-title {
          display: inline;
          font-size: 1rem;
          line-height: 1.25;
          .rating-bright-star {
            padding-left: 0;
          }
        }
        .card-content__right {
          text-align: right;
        }
        .evaluate-wrapper {
          position: relative;
          margin-top: 10px;
        }
      }
      .card-label-left {
        top: auto;
        right: 0;
      }
      .card-price {
        margin-top: rem(12px);
        margin-bottom: 0;
        display: flex;
        align-items: baseline;
        .card-price-num--old{
          text-decoration: line-through;
          font-size: 0.75rem;
          font-weight: $font-weight-regular;
          &::before {
            display: none;
          }
        }
        .card-price-new {
          padding-left: 8px;
          font-size: 1rem;
        }
      }
    }
    &.active {
      .card-header {
        border-color: $primary;
      }
    }
  }
}

.card-total {
  position: fixed;
  z-index: 1001;
  background-color: $blue-dark;
  bottom: 0;
  width: 100%;
  color: $white;
  transition: .5s height ease-out;
  .card-total-wrapper {
    display: flex;
    justify-content: space-between;
    padding: rem(16px) 0;
  }
  .card-total__left {
    p {
      display: -webkit-box;
      line-clamp: 2;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;  
      overflow: hidden;
    }
  }
  .card-total__right {
    display: flex;
    flex-direction: row;
    align-items: center;
    .price {
      margin-right: 20px;
    }
  }
  .card-total-list {
    span {
      display: block;
    }
  }
  &.show {
    display: block;
    animation-name: slideInSmall;
  }
  &.is-hidding {
    display: block;
    animation-name: slideOutDown;
  }
  &.is-expand {
    // height: 100%;
  }
}

.card-alert {
  padding: $spacing-md;
  background-color: $yellow-light;
  border-radius: $border-radius-button;
  border: solid 1px $color-warning;
  .card-alert__desc {
    color: $dark;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

.card-tooltip {
  display: flex;
  min-width: 180px;
  .card-left {
    flex: 0 0 52px;
    margin-right: 8px;
    .card-bgd {
      height: 100%;
      border-radius: 4px;
    }
  }
  .card-title {
    font-weight: $font-weight-semibold;
    margin-bottom: 4px;
    color: $body-color;
  }
}

.card-order {
  background: $white;
  border-radius: $border-radius;
  margin-bottom: $spacing-sm;
  .card-header, .card-footer {
    padding: $spacing-xs $spacing-sm;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .card-body {
    background: $gray-light;
    padding: $spacing-sm;
  }
  .card-title {
    font-weight: $font-weight-semibold;
    color: $gray-70;
  }
  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $font-size-smaller;
  }
}
