.chip {
    display: inline-flex;
    align-items: center;
    padding: $spacing-xs/2 $spacing-xs/2 $spacing-xs/2 $spacing-xs;
    background: $gray-8;
    border-radius: 50px;
    line-height: $line-height-reset;
    .chip-delete {
        font-size: rem(10px);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: rgba($dark, .15);
        color: $gray-50;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-left: $spacing-xs;
        transition: all .2s $cubic2;
        &:hover {
            background: lighten($gray-30, 30%);
        }
    }
}
