.dialog {
    border-radius: $border-radius-button;
    .dialog__header {
        background: $primary;
        color: $white;
        padding: $spacing-xs $spacing-sm;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top-left-radius: $border-radius-button;
        border-top-right-radius: $border-radius-button;
    }
    .button-close {
       background: transparent;
       border: none;
       color: $white;
    }
    .dialog__body {
        padding: $spacing-sm;
    }
    .dialog__title {
        margin-bottom: 0;
        font-size: $font-size-heading-4;
    }
    .heading-4 {
        margin-bottom: $spacing-xs;
    }
    .heading-3, .heading-4 {
        color: $blue-dark;
    }
}

.list {
    max-width: 120px;
    a {
        color: initial;
        display: block;
        transition: color .2s ease-out;
        font-size: $font-size-small;
        padding-bottom: 4px;
        &:hover {
            color: $primary;
        }
    }
}
