.dropdown {
  position: relative;
  max-width: 95vw;
  .dropdown__button {
    display: inline-flex;
    align-items: center;
    background: inherit;
    border: inherit;
    padding: 0;
    width: 100%;
    [class^="ic-"] {
      font-size: 4px;
      padding-left: rem(10px);
      margin-left: auto;
    }
    .dropdown__button__icon {
      font-size: $font-size-smaller;
      margin-right: .5rem;
    }
    &.is-active {
      padding-left: 8px;
      // padding-right: 2px;
      padding-right: 8px;
      background: $primary;
      color: $white;
      border-radius: $border-radius-button;
    }
  }
  .dropdown__body {
    position: absolute;
    width: auto;
    left: 0;
    right: auto;
    background: $white;
    padding: rem(12px);
    border-radius: $border-radius-button;
    box-shadow: $shadow-sm;
    display: none;
    z-index: 1000;
    animation-fill-mode: forwards;
    .dropdown__item {
      white-space: nowrap;
      display: flex;
      align-items: center;
      text-decoration: none;
      padding: rem(8px) rem(12px);
      color: inherit;
      transition: background .15s $cubic2, color .15s $cubic2;
      cursor: pointer;
      &:hover {
        background: rgba($blue-dark, .15);
      }
      &.active {
        background: $primary;
        color: $white;
      }
    }
  }
  &.dropdown--right .dropdown__body {
    left: auto !important;
    right: 0 !important;
  }
  &.hidding {
    .dropdown__body {
      animation-name: slideOutSmall;
      animation-duration: 500ms;
      display: block;
    }
  }
  &.is-showing {
    .dropdown__body {
      animation-name: slideInSmall;
      animation-duration: 500ms;
      display: block;
    }
  }
}

.dropdown-language {
  .flag {
    width: rem(24px);
    margin-right: rem(8px);
  }
  .dropdown__button {
    white-space: nowrap;
  }
}

.input-group.dropdown {
  .dropdown__body {
    top: rem(76px);
    min-width: rem(520px);
    padding: rem(30px) rem(15px);
  }
}

.dropdown-select {
  .dropdown__button {
    padding: rem(12px) rem(16px);
    border: solid 1px $gray-15;
    border-radius: $border-radius-button;
  }
  &.is-showing {
    border-color: $primary;
  }
}

.dropdown-delete {
  width: 20px;
  height: 20px;
  border-radius: $border-radius-button;
  background: rgba($light, .30);
  color: $white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: $spacing-xs;
  transition: all .2s $cubic2;
  text-align: center;
  [class^="ic"] {
    font-size: rem(10px) !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
  }
  &:hover {
    background: lighten($gray-30, 30%);
    color: $gray-70;
  }
}


