.filter {
  transition: height .3s $cubic2;
  .filter-item {
    width: 100%;
  }
}
.filter-button-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: rem(20px);
  > *:not(:last-child) {
    margin-right: rem(10px);
  }
  > * {
    margin-bottom: rem(10px);
  }
  &--seperate {
    justify-content: flex-start;
    margin-bottom: 0;
  }
}

.filter-group-4-columns {
  .filter {
    margin-left: -$gutter/2;
    margin-right: -$gutter/2;
    display: flex;
    flex-wrap: wrap;
    min-height: rem(145px);
    .filter-item {
      padding: 0 $gutter/2;
      margin-bottom: rem(20px);
      flex: 0 0 25%;
      align-items: stretch;
      @include media-breakpoint-up(sm) {
        width: 50%;
      }
      @include media-breakpoint-up(md) {
        width: 33.3333333%;
      }
      @include media-breakpoint-up(xl) {
        width: 25%;
      }
      .ticket {
        height: 100%;
      }
      &.reset-position {
        position: inherit !important;
        top: auto !important;
        left: auto !important;
      }
    }
  }
}

.filter-tag-group {
  .chip {
    margin-right: $spacing-xs;
    margin-bottom: $spacing-xs;
  }
}
