fieldset {
  legend {
    color: $secondary;
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; 
}

.radio {
  .radio__control {
    display: none;
    &:checked + label {
      &::before {
        border-color: $primary;
      }
      &::after {
        opacity: 1;
      }
    }
  }
  .radio__label {
    padding-left: rem(24px);
    position: relative;
    cursor: pointer;
    &::before {
      content: '';
      position: absolute;
      top: rem(3px);
      left: 0;
      width: rem(16px);
      height: rem(16px);
      border-radius: 50%;
      border: solid 1px $gray;
      transition: border .15s $cubic2;
    }
    &::after {
      content: '';
      position: absolute;
      width: rem(10px);
      height: rem(10px);
      border-radius: 50%;
      background: $primary;
      top: rem(6px);
      left: rem(3px);
      opacity: 0;
      transition: opacity .15s $cubic2;
    }
  }
  &.is-disabled {
    opacity: 0.75;
    pointer-events: none;
  }
  &.is-readonly {
    pointer-events: none;
  }
}

.input-group {
  margin-bottom: $spacing-xs;
  &.input-group-select {
    select {
      background-image: url('../images/chevron-down.svg');
      background-repeat: no-repeat;
      background-size: 9px auto;
      background-position: right 16px center;
    }
  }
  .input-group-label {
    color: $gray-70;
    margin-bottom: rem(4px);
    font-size: $font-size-small;
    [class^="ic"] {
      color: $gray-30;
      margin-right: rem(4px);
    }
  }
  .input-group-control {
    appearance: none;
    border: none;
    background: none;
    outline: none !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border: solid 1px $gray-15;
    width: 100%;
    border-radius: $border-radius-button;
    padding: rem(10px) $spacing-sm;
    transition: border .2s ease-out;
    &:read-only {
      color: $dark;
    }
  }
  &.input-group-sm .input-group-control {
    padding: rem(6px) $spacing-sm;
    font-size: $font-size-smaller;
  }
  > [class^="ic-"] {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 6px;
  }
  &.active {
    .input-group-control {
      border-color: $primary;
    }
  }
  &.input-group-multiple-control  {
    display: flex;
    flex-direction: row;
    .input-group-flag {
      display: inline-flex;
      align-items: center;
      padding-right: $spacing-sm;
      margin-right: $spacing-sm;
      border-right: solid 1px $gray-15;
    }
    .flag {
      width: 1.5rem;
      margin-right: $spacing-xs/2;
    }
    .input-group-control {
      flex: 1;
    }
  }
  .input-helper {
    display: none;
  }
  &.input-group-outline {
    transition: border .2s $cubic2;
    flex-wrap: wrap;
    .input-group-label {
      flex: 0 0 100%;
      margin-bottom: rem(4px);
    }
    > [class^="ic-"] {
      right: $spacing-xs;
    }
    &.active {
      border-color: $primary;
    }
    &.input-group-inline {
      flex-direction: row;
      align-items: baseline;
      padding-top: 0;
      padding-bottom: 0;
      cursor: default;
      .input-group-label {
        width: auto;
        flex: 0 0 auto;
        margin-right: $spacing-xs;
        margin-bottom: 0;
        padding-top: $spacing-xs;
        padding-bottom: $spacing-xs;
        cursor: default;
      }
      .input-group-control {
        flex: 1 0 0;
        cursor: pointer;
      }
    }
  }
  &.input-group-code {
    margin-bottom: $spacing-md;
    position: relative;
    .input-group-control {
      text-align: center;
      letter-spacing: 8px;
      font-size: $font-size-heading-3;
      text-transform: uppercase;
    }
    .button {
      position: absolute;
      right: rem(12px);
      bottom: rem(12px);
      padding-left: rem(12px);
      padding-right: rem(12px);
    }
  }
  &.is-error {
    position: relative;
    .input-helper {
      display: block;
      position: absolute;
      bottom: rem(-24px);
      left: 0;
      color: $red;
    }
    .input-group-control {
      border-color: $red;
    }
  }
  &.is-readonly {
    background: rgba($dark, .05);
    cursor: none;
    pointer-events: none;
  }
  select {
    appearance: none;
    cursor: pointer;
  }
  .input-group-icon {
    position: absolute;
    color: $primary;
    font-size: rem(24px);
    bottom: rem(16px);
    right: rem(24px);
    cursor: pointer;
  }
}

form:not(.form-inline) {
  .is-error {
    margin-bottom: $spacing-lg;
  }
}

.input-helper {
  font-size: $font-size-smaller;
}

.input-group-number {
  display: flex;
  justify-content: space-between;
  margin-bottom: rem(10px);
  .input-group-title {

  }
  .input-group-label {
    display: block;
  }
  .input-group-number-control {
    display: flex;
    align-items: center;
    [class^="input-group-label-"] {
      width: rem(32px);
      height: rem(32px);
      border-radius: 50%;
      border: solid 1px $gray-30;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      margin-bottom: 0;
      cursor: pointer;
      transition: border .15s $cubic2;
      &:hover, &:focus, &:active {
        border-color: $gray-70;
      }
    }
    .input-group-control {
      width: rem(48px);
      text-align: center;
    }
  }
}

.form-inline {
  border: solid 1px $gray-15;
  border-radius: $border-radius-lg;
  display: flex;
  .form-group {
    display: flex;
    align-items: center;
    border-right: solid 1px $gray-15;
  }
  .input-group-date {
    max-width: 50%;
    @include media-breakpoint-up(xl) {
      max-width: rem(130px);
    }
  }
  .input-group-address {
    @include media-breakpoint-up(xl) {
      max-width: rem(210px);
    }
  }
  .button-submit-all {
    width: rem(75px);
    flex: 0 0 rem(75px);
    background: $primary;
    color: $white;
    font-size: rem(32px);
    border-radius: $border-radius-lg;
    margin-left: auto;
  }
};

.form-group-switch {
  position: relative;
  > .input-group {
    position: relative;
    width: calc(100% - 24px);
    &::after {
      content: '';
      position: absolute;
      width: 20px;
      height: 1px;
      background: $gray-15;
      bottom: 25px;
      right: -20px;
    }
    &::before {
      content: '';
      position: absolute;
      width: 1px;
      height: 47px;
      background: $gray-15;
      right: -20px;
    }
    &:first-child::before {
      bottom: -22px;
    }
    &:nth-child(3)::before {
      top: 0;
    }
  }
  .button-icon-reverse {
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    margin-top: 10px;
  }
}

.form-search-hotel {
  .input-group-address {
    max-width: none;
    width: 100%;
  }
  @include media-breakpoint-between(sm, lg) {
    .form-group:nth-child(1) {
      flex: 0 0 100%;
      border-bottom: solid 1px $gray-15;
      border-right: none;
    }
    .input-group-date {
      max-width: percentage(1/4);
    }
    .form-group:nth-child(2) {
      width: 100%;
      border-bottom: solid 1px $gray-15;
      border-right: none;
    }
    .form-group:nth-child(3) {
      width: 30%;
      .input-group {
        max-width: 100%;
      }
    }
    .form-group:nth-child(3) {
      flex: 1;
      .input-group {
        width: 100%;
      }
    }
  }
  &.form-search-hotel--inline {
    .form-group {
      border: none;
    }
    .button {
      padding: 14px 10px;
      font-size: $font-size-smaller;
    }
    .input-group-date {
      max-width: 100%;
    }
    .input-group-label {
      font-size: $font-size-smaller;
    }
  }
}

.form-subscribe {
  display: flex;
  .input-group-control {
    padding: .75rem 1rem;
    border-top-left-radius: $border-radius-button;
    border-bottom-left-radius: $border-radius-button;
    outline: none;
    box-shadow: none;
    border: solid 1px $gray-15;
    width: 100%;
    transition: border .15s $cubic2;
    &:focus {
      border-color: $primary;
    }
  }
  .input-group-submit {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: rem(50px);
    height: auto;
    background: $primary;
    color: $white;
    border-radius: 0;
    border: none;
    flex: 0 0 rem(50px);
    border-top-right-radius: $border-radius-button;
    border-bottom-right-radius: $border-radius-button;
    transition: background .15s $cubic2;
    [class^="ic"] {
      font-size: rem(16px);
    }
    &:hover {
      background: $primary-lighter;
    }
  }
}

form.is-loading {
  opacity: .5;
  pointer-events: none;
}

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: rem(8px) rem(12px);
  margin-bottom: 0;
  .checkbox-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: solid 1px $gray-15;
    margin-right: $spacing-xs;
    padding: 0;
    position: relative;
    transition: all .2s $cubic1;
    border-radius: $border-radius-button;
    &::before {
      content: $ic-tick;
      @extend [class^="ic-"];
      position: absolute;
      color: $white;
      font-size: rem(8px);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity .2s $cubic1;
    }
  }
  .checkbox-label {
    margin-bottom: 0;
    white-space: nowrap;
  }
  input {
    display: none;
    &:checked {
      + .checkbox-icon {
        background: $primary;
        border-color: $primary;
        &::before {
          opacity: 1;
        }
      }
    }
  }
  &.checkbox-wrap {
    // Do something
  }
  &:hover {
    .checkbox-icon {
      border-color: $primary;
    }
  }
  &.checkbox--lighter {
    input:checked+.checkbox-icon {
      background: inherit;
    }
    .checkbox-icon::before {
      color: $primary;
    }
    &:hover {
      background: inherit;
      .checkbox-icon {
        border-color: $primary;
      }
    }
  }
  &.checkbox--normal {
    padding-left: 0;
    input:checked+.checkbox-icon {
      background: $primary;
    }
    .checkbox-icon{
      border: solid 1px $primary;
    }
    
    &:hover {
      background: inherit;
      .checkbox-icon {
        border-color: $primary;
      }
    }
  }
}

.form-choose-place {
  .form-group {
    width: 100%;
    border-right: none;
    .input-group {
      width: 100%;
    }
  }
}

.input-group-number-2 {
  border: solid 1px $secondary;
  border-radius: 3px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
  label {
    margin-bottom: 0;
    padding-right: 1rem;
  }
  .input-group-control {
    width: 4.5rem;
    text-align: right;
    padding: 0 5px;
    appearance: none;
    border: none;
    background: 0 0;
    outline: 0!important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .input-select {
    width: 28px;
    height: 42px;
    background-color: $secondary;
    .ic-chevron-up, .ic-chevron-down {
      height: 50%;
      color: $white;
      font-size: 6px;
      text-align: center;
      padding: 7px 0;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.select-seat {
  @include media-breakpoint-down(lg) {
    margin-right: rem(24px);
  }
}
