.heading-result {
    background: $primary;
    border-radius: $border-radius-lg;
    color: $white;
    overflow: hidden;
    display: flex;
    height: rem(120px);
    position: relative;
    &::before, &::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        left: rem(110px);
        border-radius: 50%;
        background: $white;
        z-index: 1;
    }
    &::before { top: -10px; }
    &::after { bottom: -10px; }
    .heading-left {
        width: rem(120px);
        flex: 0 0 rem(120px);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $font-size-heading-1;
    }
    .heading-body {
        flex: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-left: dashed 1px $white;
        padding: $spacing-xs $spacing-sm;
        padding-left: rem(35px);
    }
    .heading-information {
        h5 {
            font-size: $font-size-heading-4;
            font-weight: $font-weight-bold;
            margin-bottom: rem(4px);
        }
        p {
            margin-bottom: rem(4px);
        }
    }
    .heading-direction {
        max-height: rem(48px);
        overflow: hidden;
    }
}

.heading-cta {
    display: none;
}
.is-result-expand .heading-cta {
    display: block;
}