.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  &.show {
    .modal-dialog {
      transform: none;
    }
  }
  &.modal-sm {
    .modal-dialog {
      max-width: rem(400px);
    }
    @include media-breakpoint-down(xs) {
      .modal-dialog {
        padding: rem(15px);
      }
    }
  }
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: $spacing-sm;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100% - 1rem);
  margin: 1.75rem auto;
  @include media-breakpoint-up(md) {
    max-width: rem(720px);
    min-height: calc(100% - 3.5rem);
  }
  &::before {
    display: block;
    height: calc(100vh - 1rem);
    content: "";
    @include media-breakpoint-up(md) {
      height: calc(100vh - 3.5rem);
    }
  }
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: $white;
  background-clip: padding-box;
  border: 1px solid $gray-15;
  border-radius: $border-radius-lg;
  outline: 0;
}

.modal-header {
  padding: rem(24px) rem(30px);
  position: relative;
  .close {
    position: absolute;
    top: rem(-24px);
    right: rem(-24px);
    z-index: 4;
  }
  .modal-title {
    font-size: $font-size-heading-2;
    font-weight: $font-weight-semibold;
  }
}

.modal-body {
  padding: 0 rem(30px) rem(30px) rem(30px);
  p {
    color: $gray-70;
  }
}

// Add class .modal-open for body
.modal-open {
  overflow: hidden;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: $dark;
  &.fade {
    opacity: 0;
  }
  &.show {
    opacity: .5;
  }
}

.modal-corner--top-right {
  position: absolute;
  top: 0;
  right: 0;
  padding: 35px 30px 10px 10px;
  text-align: right;
}

.modal-gallery {
  .scroll-box {
    max-height: 450px;
  }
  .js-loading {
    display: none;
    border-radius: $border-radius-lg;
  }
}

.modal-gallery-room, .modal-gallery-room-detail {
  .modal-dialog {
    // max-width: rem(1200px);
    max-width: calc(100% - 3.5rem);
  }
  .modal-content {
    width: calc(100% - 60px);
    height: calc(100vh - 60px);
  }
  .scroll-box {
    max-height: calc(100vh - 250px);
  }
  .gallery-service-wrapper {
    line-height: 1.2;
    .item-service {
      margin-bottom: 7px;
    }
  }
  .slider-gallery-nav {
    margin-top: 10px;
  }
  @include media-breakpoint-up(xl) {
    .gallery-service-wrapper {
      columns: 2;
    }
  }
}

.modal-gallery-room {
  .gallery-utilities {
    .item-service {
      margin-bottom: 7px;
      [class^="ic-"] {
        font-size: $font-size-small;
      }
    }
  }
  @include media-breakpoint-up(xl) {
    .gallery-utilities {
      columns: 2;
    }
  }
}

.modal-hotel-map {
  .modal-dialog {
    max-width: 100%;
    // height: calc(100vh - 50px);
    margin: 30px auto 0;
  }
  .modal-content {
    height: calc(100vh - 50px);
    border: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

  }
  .modal-header {
    padding-bottom: 16px;
    padding-top: 16px;
    background: $blue-dark;
    border-radius: 10px 10px 0 0;
    .close {
      right: 2rem;
      background: $white;
      [class^=ic]::before {
        color: $blue-dark;
      }
    }
  }
  .modal-body {
    display: flex;
    padding: 0;
    height: 100%;
    overflow: hidden;
    .modal-sidebar {
      width: 50%;
      padding: 16px 15px;
    }
    .modal-map {
      width: 50%;
      background-color: $primary;
    }
  }
  .modal-sidebar__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav {
      display: inline-flex;
      list-style-type: none;
      .nav-item {
        margin-left: 8px;
        .nav-link.active {
          .icon-border {
            background-color: $primary;
            border: solid 1px $primary;
            [class^="ic-"] {
              color: $white;
            }
          }
        }
      }
    }
  }
  .tab-content .tab-pane {
    box-shadow: none;
    &.active {
      padding: 0;
    }
  }
  .list-item-map {
    max-height: calc(100vh - 420px);
  }
  .scroll-box::-webkit-scrollbar {
    display: none;
  }
  .form-search-hotel {
    z-index: 100;
  }
  .input-range-numBottom {
    margin-left: 5px;
    margin-right: 5px;
  }
  .checkbox {
    &:hover {
      background: inherit;
      .checkbox-icon {
        border-color: inherit;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    .modal-body {
      .modal-sidebar {
        width: 40%;
      }
      .modal-map {
        width: 60%;
        background-color: $primary;
      }
    }
  }
  @include media-breakpoint-up(xl) {
    .modal-body {
      .modal-sidebar {
        width: 30%;
      }
      .modal-map {
        width: 70%;
      }
    }
    .list-item-map {
      max-height: calc(100vh - 345px);
    }
  }
}
