.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  .navbar__brand {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    img {
      height: rem(36px);
    }
    @include media-breakpoint-up(lg) {
      margin-right: rem(40px);
    }
  }
  .navbar__left {
    margin-right: auto;
  }
  .navbar__center{

  }
  .navbar__right {
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (max-width: $container-large) {
    padding-top: rem(12px);
    .navbar__nav {
      width: 100%;
      order: 3;
      margin-top: rem(12px);
    }
    .navbar__nav__item > a {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
}

.navbar__nav {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  &__item {
    > a {
      color: inherit;
      display: inline-block;
      font-size: $font-size-heading-4;
      line-height: 1;
      padding: rem(51px) rem(24px);
      position: relative;
      text-decoration: none;
      font-weight: $font-weight-semibold;
      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0%;
        height: rem(4px);
        background: $primary;
        transition: width $cubic2 .2s;
      }
    }
    &.active {
      > a::before {
        width: 100%;
      }
    }
    &:hover > a {
      &::before { width: 100%; }
    }
  } 
}

.navbar__helper {
  @extend %reset-listing;
  display: flex;
  flex-wrap: wrap;
  margin-right: rem(24px);
  .navbar__helper__group {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      border-right: solid 1px $gray;
      margin-right: rem(16px);
    }
  }
  .navbar__helper__item {
    color: inherit;
    text-decoration: none;
    margin-right: rem(16px);
    [class^="ic-"] {
      margin-right: rem(8px);
    }
  }
}

.nav-aside {
  .nav-item {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    color: $body-color;
    font-size: $font-size-smaller;
    transition: color .2s ease-out;
    span[class^="ic-"] {
      font-size: rem(16px);
      color: $gray-70;
      margin-right: rem(12px);
    }
    &:not(:last-child) {
      border-bottom: solid 1px $gray-15;
    }
    &.active {
      > span {
        color: $primary !important;
      }
    }
    &:hover {
      color: $primary;
    }
  }
}

