.devider {
  border-top: solid 1px $gray-15;
  &.devider-with-text {
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      background: $white;
      padding: 0 $spacing-xs;
      margin-top: rem(-12px);
    }
  }
  &.devider-dashed {
    border-top: dashed 1px $gray-15;
  }
  &.devider-thick {
    border-top: solid 2px $gray-15;
  }
  &.devider-spacing {
    margin-top: $spacing-md;
    margin-bottom: 1rem;
  }
  &.devider-lighter {
    border-top: solid 1px $white;
    opacity: 0.15;
  }
}

.devider-lighter {
  border-top: solid 1px $white;
  opacity: 0.15;
}

.point {
  position: relative;
  padding-left: rem(26px);
  font-size: $font-size-small;
  color: $gray-70;
  font-weight: $font-weight-semibold;
  white-space: nowrap;
  &::before {
    content: '';
    position: absolute;
    background-image: url('../images/Point.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    width: rem(16px);
    height: rem(16px);
  }
  &.point-lg {
    font-size: $font-size-default;
    padding-left: rem(32px);
    &::before {
      width: rem(24px);
      height: rem(24px);
    }
  }
}

.price {
  color: $gray-70;
  font-size: $font-size-smaller;
  span:first-child {
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    color: $red;
  }
  &.price-dark {
    span:first-child {
      color: $dark;
    }
  }
  &.price-lg {
    span:first-child {
      font-size: $h3-font-size;
    }
  }
}

.price-old {
  color: $gray-70;
  text-decoration: line-through;
}

.display-none {
  display: none;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.justify-content-end {
  justify-content: end;
}

/* background */
.bgd-green {
  background-color: $color-info;
}

.bgd-yellow {
  background-color: $color-warning;
}

.bgd-red {
  background-color: $red;
}

.bgd-primary {
  background-color: $primary;
}

.bgd-darker {
  background-color: $blue-dark;
  &.font-lighter {
    color: $white;
    .input-group-label {
      color: $white !important;
    }
    [class^="ic-"]::before{
      color: $white;
    }
    .input-group-control {
      background-color: $white;
    }
  }
}

.bgd-secondary {
  background-color: $secondary;
}

/* Text */
.text-lg {
  font-size: $font-size-heading-4;
}
.text-smaller {
  font-size: $font-size-smaller;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
.text-helper {
  font-style: italic;
  color: $gray-70;
  font-size: $font-size-sm;
}
.text-sm-italic {
  font-style: italic;
  color: $dark;
  font-size: $font-size-sm;
}
.text-lead {
  text-transform: uppercase;
  color: $blue-dark;
}
.text-large {
  font-size: $font-size-large;
}
.text-title {
  font-size: $font-size-large;
  color: $blue-dark;
  font-weight: $font-weight-bold;
}
.text-light {
  color: $white;
}
.text-primary {
  color: $primary;
}
.text-secondary {
  color: $secondary;
}
.text-blue-dark {
  color: $blue-dark;
}
.text-dark {
  color: $dark !important;
}
.text-error, .text-red {
  color: $red;
}
.text-success {
  color: $color-success;
}
.text-white {
  color: $white !important;
}
.text-info {
  color: $color-info;
}
.text-description {
  color: $gray-70;
  a {
    color: $gray-70;
    text-decoration: underline;
  }
}
.text-gray-50 {
  color: $gray-50;
}
.text-label {
  font-weight: $font-weight-bold;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  span:nth-child(2) {
    color: $gray-70;
    font-weight: $font-weight-normal;
    font-size: $font-size-smaller;
    white-space: nowrap;
  }
  &.text-label-left {
    align-items: flex-start;
  }
  &.text-label-right {
    align-items: flex-end;
    text-align: right;
  }
}
.text-strong {
  font-weight: $font-weight-bold;
}
.text-semibold {
  font-weight: $font-weight-semibold;
}

.text-hotline {
  font-size: 1.5rem;
  color: $red;
  font-weight: $font-weight-bold;
  white-space: nowrap;
}

.text-non-wrapper {
  white-space: nowrap;
}

.text-icon {
  display: flex;
  font-weight: $font-weight-semibold;
  > span:first-child {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    color: $white;
    font-size: 20px;
    margin-right: .5rem;
  }
}

/* Position */
// .is-sticky {
//   position: sticky;
//   z-index: 1001;
//   top: 0;
// }
.headroom {
  will-change: transform;
  transition: transform 200ms linear;
  position: sticky;
  top: 0;
  z-index: 1000;
  &.headroom--not-top.headroom--not-bottom {
    @extend %shadow-lg;
    background: $white;
    .shadow-lg {
      box-shadow: none;
    }
    .hidden-on-sticky {
      display: none;
    }
  }
}

.text-note {
  font-size: $font-size-smaller;
  font-style: italic;
}

.text-lighter {
  color: $white;
  font-weight: $font-weight-regular;
  opacity: 0.7;
}

/* Display */
.flex-width-auto {
  flex: 1 0 auto;
}

.text-sub {
  color: $gray-70;
  font-weight: $font-weight-regular;
  text-transform: uppercase;
  span {
    padding-left: rem(10px);
  }
}

.text-result {
  color: $blue-dark;
  span {
    &:first-child {
      font-weight: $font-weight-bold;
      padding-right: 5px;
    }
  }
}

.text-evaluate {
  color: $gray-70;
  font-weight: $font-weight-semibold;
}

.text-uppercase {
  text-transform: uppercase;
}

.underline-dotted {
  border-bottom: 1px dotted;
}

.spacing-top {
  margin-top: $spacing-lg;
}

/* Typography */
.heading-line {
  display: flex;
  align-items: baseline;
  position: relative;
  padding: $spacing-xs 0 $spacing-xs $spacing-md;
  margin-bottom: $spacing-md;
  h3 {
    margin-bottom: 0;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    border-top-right-radius: $border-radius-button;
    border-bottom-right-radius: $border-radius-button;
    background: $primary;
  }
}

.link {
  appearance: none;
  font-weight: $font-weight-bold;
  transition: color .2s $cubic2;
  border: none;
  background: none;
  color: $link-color;
  display: inline-flex;
  align-items: center;
  > span {
    display: inline-flex;
    align-items: center;
  }
  [class^="ic"] {
    font-size: 8px;
    margin-left: $spacing-xs;
  }
}

/* Background */
.bg-blue-light {
  background: rgba($blue-light, .45);
}
.bg-gradient-blue {
  background: $primary;
  background-image: linear-gradient(180deg, $blue-dark 0%, $primary 100%);
}

.bg-gray {
  background: $blue-gray;
}

.bg-gray-light {
  background: $gray-light;
}

/* Transition */
.fade {
  transition: opacity .15s linear;;
}

/* Position */
.sticky-top {
  position: sticky;
  top: 120px + $grid-gutter-width;
}

/* Width */
.w-100 {
  width: 100% !important;
}
.w-30 {
  width: 30%;
}
.w-100px {
  width: 100px;
}
.h-100 {
  height: 100% !important;
}


/* Listing */
.list-reset {
  @extend %reset-listing;
}

.listing-large {
  @extend %reset-listing;
  .listing-large-item {
    font-size: $font-size-heading-3;
    margin-bottom: rem(10px);
    a {
      color: $blue-dark;
      text-decoration: none;
      display: block;
    }
    small {
      font-size: rem(16px);
    }
  }
}

.listing-pick {
  @extend %reset-listing;
  .listing-pick-item {
    > a {
      display: block;
      padding: rem(4px) 0;
      color: $dark;
      text-decoration: none;
    }
    &.active {
      position: relative;
      display: flex;
      align-items: center;
      > a {
        color: $primary;
      }
      &::after {
        content: '\e924';
        @extend [class^="ic-"];
        color: $primary;
        font-size: rem(10px) !important;
        margin-left: $spacing-xs;
      }
    }
    &:hover > a {
      color: $primary;
    }
  }
}

.scroll-box {
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: rem(8px);
  }
  &::-webkit-scrollbar-track {
    border-radius: $border-radius-lg;
    background: $gray-15;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $gray-30;
    border-radius: $border-radius-lg;
  }
}

.dropdown .scroll-box {
  max-height: rem(250px);
  &.scroll-box--large {
    max-height: calc(100vh - 280px);
  }
}

.history-pane {
  display: inline-block;
  background: $gray-light;
  padding: rem(15px) rem(24px) rem(15px) rem(15px);
  border-radius: rem(3px);
  position: relative;
  cursor: pointer;
  .history-pane-place {
    display: flex;
    align-items: baseline;
    font-weight: $font-weight-semibold;
    [class^="ic-"] {
      margin: 0 rem(10px);
      color: $blue-dark;
    }
    .ic-round-trip {
      font-size: rem(12px);
    }
  }
  .history-pane-time {
    margin-top: rem(4px);
    font-size: $font-size-smaller;
    color: $gray-70;
  }
  .button-close {
    background: transparent;
    border: none;
    position: absolute;
    top: rem(3px);
    right: rem(2px);
    font-size: rem(12px);
    color: $gray-50;
    opacity: .5;
    &:hover {
      opacity: 1;
    }
  }
}

.search-box {
  margin-top: rem(-128px);
  position: relative;
  z-index: 1;
  padding-bottom: $spacing-xxl;
  &.search-box-subpage {
    margin-top: rem(-#{$spacing-md});
    z-index: 100;
  }
}

.hero-banner {
  overflow: hidden;
}

.hero-banner-subpage {
  .hero-banner-background {
    min-height: rem(200px);
    border-radius: $border-radius-xl;
    display: flex;
    align-items: center;
  }
}

.history-searched {
  display: flex;
  flex-wrap: wrap;
  .history-pane {
    margin-right: rem(10px);
    margin-bottom: rem(10px);
    flex: 0 0 auto;
  }
}

.filter-item {
  .slider {
    width: 100%;
  }
}

.badge-group {
  margin-top: rem(40px);
  img {
    height: rem(60px);
  }
  &.badge-group-small {
    img {
      height: rem(40px)
    }
  }
}

.banner-app {
  border-radius: $border-radius-xl;
  position: relative;
  padding-top: rem(80px);
  padding-bottom: rem(80px);
  .banner-app-thumb {
    position: absolute;
    width: rem(1152px);
    height: auto;
    top: rem(-220px);
    left: rem(-350px);
    @include media-breakpoint-down(lg) {
      transform: scale(0.8) translateY(-80px);
    }
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url('../images/city.png');
    background-repeat: repeat-x;
    background-position: bottom center;
    background-blend-mode: overlay;
    opacity: .15;
  }
}

.links-listing {
  @extend %reset-listing;
  li {
    margin-bottom: rem(16px);
  }
}

address {
  color: $blue-dark;
  .address-title {
    margin-bottom: rem(4px);
    font-weight: $font-weight-bold;
    font-size: $font-size-smaller;
    color: $gray-70;
  }
  .address-label {
    color: $gray-70;
    font-weight: $font-weight-bold;
  }
}

.socials-list {
  @extend %reset-listing;
  display: flex;
  img {
    width: rem(20px);
  }
  li:not(:last-child) {
    margin-right: rem(10px);
  }
}

.hotline {
  display: inline-block;
  background: $secondary;
  color: $white !important;
  border-radius: $border-radius-lg;
  padding: rem(8px) 1rem;
  p {
    margin-bottom: 0;
  }
  .hotline-label {
    font-weight: $font-weight-bold;
    font-size: $font-size-small;
  }
  .hotline-number {
    font-weight: $font-weight-bold;
    font-size: $font-size-heading-3;
    line-height: 1;
  }
}

/* Grid layout */
.grid-banner {
  .grid-item {
    display: block;
    border-radius: $border-radius-lg;
    overflow: hidden;
    position: relative;
    height: 0;
    padding-top: 83.66666667%;
    width: 100%;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
    &.square {
      padding-top: 100%;
    }
    &.rectangle {
      padding-top: 57.333333333%;
    }
  }
  [class^="col"] {
    margin-bottom: $gutter;
  }
}

// Search result
.search-result {
  .filter-flight, .change-date {
    display: none;
  }
  .col-result {
    opacity: 0.5;
    transition: all .2s $cubic2;
    &.is-selected, &.is-result-expand {
      opacity: 1;
    }
    &.is-result-expand {
      .filter-flight {
        display: block;
      }
      .change-date {
        display: inherit;
      }
    }
    &:not(.is-result-expand),
    &:not(.is-selected) {
      cursor: pointer;
    }
  }
}

.search-result-list {
  margin-top: $spacing-md;
}

.slider-change-date {
  .slick-slide {
    margin: 0 10px;
  }
  .slick-list {
    padding: $spacing-md 0;
  }
}

.dot-connect {
  padding: 0 1rem;
  position: relative;
  display: flex;
  align-items: center;
  color: $gray-30;
  &::before, &::after {
    content: '';
    width: 12px;
    border-bottom: dashed 1px $gray-30;
    top: 50%;
    transform: translateY(-50%);
  }
  &::before { left: 0; }
  &::after { right: 0; }
  span {
    padding: 0 rem(5px);
  }
  &.dot-connect-lg {
    &::before {
      width: 45px;
      left: -33px;
    }
    &::after {
      width: 45px;
      right: -33px;
    }
  }
}

.journey-list {
  @extend %reset-listing;
  .journey-item {
    display: flex;
    align-items: flex-start;
    position: relative;
    padding-top: rem(10px);
    padding-bottom: rem(10px);
    &::before {
      content: '';
      width: 5px;
      height: 5px;
      border-radius: 1px;
      background: $gray-30;
      position: absolute;
      top: rem(20px);
      left: rem(118px);
    }
    &:not(:last-child)::after {
      content: '';
      height: 80%;
      position: absolute;
      top: rem(26px);
      left: rem(120px);
      border-left: dashed 1px $gray-30;
    }
  }
  .journey-date {
    display: inline-block;
    flex: 0 0 rem(60px);
    width: rem(60px);
    font-weight: $font-weight-bold;
    padding-right: rem(10px);
  }
  .journey-time {
    display: inline-block;
    flex: 0 0 rem(60px);
    width: rem(60px);
    padding-right: rem(20px);
  }
  .journey-airport {
    display: inline-block;
    flex: 0 0 rem(80px);
    width: rem(80px);
    padding-left: rem(20px);
    padding-right: rem(20px);
  }
}

.logo-text {
  display: flex;
  align-items: center;
  .logo {
    margin-right: rem(8px);
    img {
      max-height: rem(32px);
    }
  }
  .text {
    line-height: $line-height-reset;
  }
  &.logo-text-lg {
    .logo img {
      max-height: rem(48px);
    }
    .text {
      font-weight: $font-weight-bold;
    }
  }
  &.logo-text-horizontal {
    flex-direction: column;
    .logo {
      margin-right: 0;
      margin-bottom: rem(3px);
    }
    img {
      max-height: rem(24px);
    }
    .text {
      font-size: $font-size-smaller;
      font-weight: $font-weight-semibold;
    }
  }
}

.block {
  background: $white;
  padding: $spacing-sm;
  border-radius: $border-radius;
  &.block-lg {
    padding: $spacing-md;
  }
  &.block-xl {
    padding: rem(50px) rem(70px);
  }
}

.step {
  display: flex;
  align-items: center;
  color: $gray;
  font-size: $font-size-large;
  .step-left {
    margin-right: $spacing-xs;
  }
  .step-thumb {
    width: rem(36px);
    height: rem(36px);
    border-radius: $border-radius-lg;
    border: solid 1px $gray-30;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: $font-weight-bold;
    [class^="ic-"] {
      font-size: $font-size-small;
    }
  }
  .step-body {
    font-weight: $font-weight-semibold;
  }
  &.is-success {
    .step-thumb {
      border-color: $color-success;
      color: $color-success;
    }
    .step-body {
      color: initial;
    }
  }
  &.is-active {
    .step-thumb {
      border-color: $primary;
      background: $primary;
      color: $white;
    }
    .step-body {
      color: $primary;
    }
  }
}

.list-steps {
  @extend %reset-listing;
  li {
    margin-bottom: $spacing-xs;
  }
  @include media-breakpoint-up(sm) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li {
      flex: 0 0 50%;
      margin-right: 0;
      padding-right: $spacing-sm;
    }
  }
  @include media-breakpoint-up(xl) {
    li {
      flex: 0 0 auto;
    }
    li:not(:last-child) {
      margin-right: $spacing-xl;
      padding-right: 0;
    }
  }
}

.block-sale-code {
  max-width: 440px;
}

.list-info {
  .ic-round-trip {
    font-size: 0.75rem;
    color: $blue-dark;
  }
  dl {
    display: flex;
    margin-bottom: 0;
    dt {
      color: $gray-70;
      padding-right: 10px;
      font-weight: $font-weight-regular;
    } 
    dd {
      font-weight: $font-weight-bold;
      margin-bottom: rem(3px);
    }
  }
  p {
    color: $gray-70;
  }
}

.scroll-top {
  height: 60px;
  width: 60px;
  background-color: $blue-dark;
  position: fixed;
  z-index: 200;
  right: 0;
  bottom: 0;
  border: none;
  transition: all .4s linear;
  border-radius: rem(10px);
  opacity: 0;
  &.is-visible {
    opacity: 1;
  }
  .ic-chevron-up {
    color: $white;
    font-size: 0.625rem;
  }
}

.order-code {
  color: $gray-70;
  font-weight: $font-weight-regular;
}

.evaluate-wrapper {
  display: flex;
  align-items: center;
  .img-logo-rating {
    height: 15px;
    margin-right: 8px;
  }
  .text-evaluate {
    margin-left: 8px;
  }
}

// Media icon
.media-icon {
  display: flex;
  transition: background .2s ease-out;
  padding: rem(8px) rem(12px);
  &:hover {
    background: rgba($blue-dark, .15);
  }
  .media-left {
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: $spacing-xs;
  }
  [class^="ic"] {
    color: $gray-50;
    font-size: rem(16px);
  }
  .media-title {
    font-weight: $font-weight-bold;
    margin-bottom: 0;
    color: $blue-dark;
  }
  .media-subtitle {
    margin-bottom: 0;
    font-size: $font-size-smaller;
    color: $gray-70;
  }
}

.time-flight {
  padding: 2px 0;
  span {
    padding-right: rem(24px);
    font-weight: $font-weight-bold;
  }
}

.info-checkout {
  margin-top: rem(24px);
  a {
    display: block;
  }
}

.img-status {
  border-radius: 50%;
  &.img-status--warning {
    box-shadow: 0rem rem(16px) rem(50px) rem(-11px) rgba($color-warning, 1);
  }
  &.img-status--success {
    box-shadow: 0rem rem(16px) rem(50px) rem(-11px) rgba($color-success, 1);
  }
}

.shadow-sm {
  box-shadow: $shadow-sm;
}

.shadow-xs {
  box-shadow: $shadow-xs;
}

.shadow-special {
  position: relative;
  &::after {
    content: '';
    width: 80%;
    height: 40%;
    bottom: 0;
    left: 10%;
    background: $dark;
    filter: blur(42px);
    position: absolute;
    opacity: 0.6;
    z-index: -1;
  }
}

.rating-point {
  padding: 1px 10px 1px 7px;
  background-color: $blue-dark;
  color: white;
  display: inline-table;
  border-radius: $border-radius-button;
  line-height: 24px;
  span {
    &:first-child {
      font-weight: $font-weight-semibold;
      
    }
    &:last-child {
      font-size: 12px;
    }
  }
}

.rating-bright-star {
  display: flex;
  [class^="ic"] {
    color: $color-warning;
    &:not(:last-child) {
      padding-right: 4px;
    }
  }
}

.rating-dots {
  display: flex;
  [class^="ic"] {
    color: $color-success;
    font-size: $font-size-small;
    &:not(:last-child) {
      padding-right: 4px;
    }
  }
}

.pills {
  @extend %reset-listing;
  line-height: 1rem;
}

.pill {
  margin-right: 8px;
  margin-bottom: 8px;
  font-weight: $font-weight-semibold;
  font-size: $font-size-small;
  line-height: 16px;
  padding: 1px 8px;
  display: inline-block;
  &.pill-outline {
    border: 1px solid;
  }
  &.pill-location {
    border-color: $dark-1; 
    color: $dark-1;
  }
  &.pill-benefits {
    border-color: $color-info;
    color: $color-info;
  }
  &.pill-deal {
    color: $violet;
    background-color: $violet-light-30;
  }
  &.pill-build {
    color: $green;
    background-color: $green-light-30;
  }
  &.pill-only {
    color: $red;
  }
}

.item-service {
  display: flex;
  align-items: center;
  img {
    width: 24px;
  }
  span {
    font-size: $font-size-smaller;
    font-weight: $font-weight-semibold;
    color: $dark;
    margin-left: 8px;
  }
}

.js-loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: $white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  display: flex;
  width: max-content;
  .line {
    width: 8px;
    height: 16px;
    margin-right: 4px;
    border-radius: 4px;
    animation: lines 0.9s ease infinite;
  }
  .line:nth-child(2) {
    animation-delay: 0.1s;
  }
  .line:nth-child(3) {
    animation-delay: 0.2s;
  }
  .line:nth-child(4) {
    animation-delay: 0.3s;
  }
  .line:nth-child(5) {
    animation-delay: 0.4s;
  }
  .line:nth-child(6) {
    animation-delay: 0.5s;
  }
  .line:nth-child(7) {
    animation-delay: 0.6s;
  }
  .line:nth-child(8) {
    animation-delay: 0.7s;
  }
  .line:nth-child(9) {
    animation-delay: 0.8s;
  }
  .line:nth-child(10) {
    animation-delay: 0.9s;
  }
}

@keyframes lines {
  100% {
    background-color: $blue-10;
  }
  50% {
    background-color: $blue-50;
  }
  0% {
    background-color: $primary;
  }
}

.breadcrumb {
  padding: 40px 0;
  .breadcrumb__items { 
    display: inline-flex;
    .breadcrumb__item {
      position: relative;
      padding-right: 20px;
      margin-right: 10px;
      &:not(:last-child) {
        &::after {
          position: absolute;
          content: '';
          width: 6px;
          height: 6px;
          border-top: 1px solid $dark;
          border-right: 1px solid $dark;
          transform: translateY(-50%) rotate(45deg);
          top: 50%;
          right: 6px;
        } 
      }
    }
  }
}

.tooltip.show {
  position: relative;
  z-index: 10;
  padding-bottom: 10px;
  &::before {
    position: absolute;
    content: '';
    height: 0px;
    width: 0px;
    border-color: $gray-clear-80 $gray-clear-80  transparent transparent;
    bottom: 8.7px;
    left: 50%;
    transform: rotate(135deg) translateX(calc(-50% + 10px));
    border-style: solid;
    border-width: 5px;
  }
}

.tooltips-wrapper {
  padding: 10px;
  background-color: $gray-clear-80 ;
  columns: 2;
  color: $white;
  border-radius: $border-radius-button;
  transition: all $cubic3 .3s;
  max-width: 500px;
  
  .tooltip-item {
    font-size: $font-size-small;
  }
  &--column {
    columns: 1;
    .tooltip-item {
      font-size: $font-size-default;
    }
  }
}

.gallery-location {
  @extend %reset-listing;
  li {
    color: $dark;
    font-size: $font-size-smaller;
    font-weight: $font-weight-semibold;
    display: flex;
    justify-content: space-between;
    span {
      &:last-child {
        padding-left: 5px;
      }
    }
  }
}

.sale {
  color: $white;
  padding: 5px 10px;
  background-color: $secondary-lighter;
  border-radius: $border-radius-button;
  text-transform: uppercase;
  font-size: $font-size-smaller;
}

.readmore-arrow {
  display: flex;
  align-items: center;
  [class^="ic-"] {
    font-size: rem(7px);
    padding-left: 5px;
  }
}

.icon-border {
  height: 32px;
  width: 32px;
  border: solid 1px $gray-30;
  border-radius: $border-radius-button;
  position: relative;
  [class^="ic-"] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: $font-size-default;
    color: $gray-70;
  }
}

.js-text-expander {
  .text-expander {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 4.5rem;
    overflow: hidden;
    transition: 0.5s ease;
    margin-bottom: 1rem;
    &.open {
      max-height: 1000rem;
    }
  }
  .js-btn-hide {
    display: none;
  }
}

.block-search-handle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
}
.input-range-group {
  width: 440px;
  margin: 20px 0 0;
  display: inline-flex;
  .input-label {
    margin-right: 14px;
    white-space: nowrap;
  }
  .input-range {
    width: 100%;
  }

  @include media-breakpoint-up(lg) {
    margin: -7px auto 0;
  }

  @include media-breakpoint-up(xl) {
    margin-top: 0;
  }
}

.input-range-numBottom {
  padding-bottom: 90px;
  .slider-about__min-wrapper, .slider-about__max-wrapper, .slider-about__divide {
    position: absolute;
    bottom: -65px;
    font-weight: $font-weight-semibold;
  }
  .slider-about__min-wrapper, .slider-about__max-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid $dark-1-15;
    border-radius: $border-radius-button;
    width: 45%;
    input {
      font-size: $font-size-smaller;
      padding-left: 14px;
      max-width: 120px;
      width: 100%;
      position: relative;
      top: auto;
      height: 46px;
      border: none;
      outline: none;
    }
  }
  .slider-about__min-wrapper {
    left: -5px;
    input {
      left: auto;
    }
  }
  .slider-about__max-wrapper {
    right: -5px;
    input {
      right: auto;
    }
  }
  .slider-about__divide {
    width: 10%;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
  }
}

ul.pagination {
  @extend %reset-listing;
  display: flex;
  color: $gray-70;
  // justify-content: center;
  align-items: baseline;
  li {
    margin: 0 4px;
    min-width: 32px;
    height: 32px;
    border-radius: $border-radius-button;
    text-align: center;
    line-height: 2rem;
    cursor: pointer;
  }
  .pagination__num {
    &.active {
      background-color: $primary;
      color: white;
    }
    &:hover {
      background-color: $blue-30;
    }
  }
  .pagination__cus {
    &.pagination__cus-prev {
      margin: 0 28px 0 20px;
    }
    &.pagination__cus-next {
      margin: 0 20px 0 28px;
    }
  }
  .pagination__dots {
    cursor: auto;
  }
}

.img-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  &::before {
    margin-top: 74%;
    content: '';
    display: block;
  }
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 20;
  }
}

.tag {
  display: inline-flex;
  justify-content: center;
  padding: rem(4px) $spacing-xs;
  border-radius: $border-radius-sm;
  background: $gray-8;
  font-size: $font-size-smaller;
  &.tag-danger {
    background: rgba($red, .15);
    color: $red;
  }
  &.tag-warning {
    background: rgba($warning, .15);
    color: $secondary;
  }
  &.tag-success {
    background: rgba($success, .15);
    color: $success;
  }
}
