.table-policy {
  width: 100%;

  th.table-policy__heading {
    width: 20%;
    padding-top: 20px;

    &+td {
      padding-left: 20px;
      padding-top: 20px;
    }
  }

  &>tbody>tr {
    vertical-align: top;

    &:not(:last-child) {
      border-bottom: 1px solid $dark-1-15;
    }
  }

  p,
  span {
    color: $dark;
  }

  p {
    margin-bottom: 20px;
  }

  .sheet-small {
    padding-bottom: 20px;
  }

  .table-sheet {
    max-width: 720px;
    padding-bottom: 14px;
  }

  @include media-breakpoint-up (lg) {
    th.table-policy__heading {
      &+td {
        padding-left: 30px;
      }
    }
  }
}

.sheet-small {
  display: flex;

  .sheet-small__title {
    width: 100px;
    font-style: italic;
    padding-top: 7px;
    font-size: $font-size-smaller;
  }

  .sheet-small__content {
    width: 100%;
    font-size: $font-size-smaller;
  }
}

.table-sheet {
  width: 100%;

  th,
  td {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  th {
    font-weight: $font-weight-default;
    width: 168px;
  }
}

.payments-list {
  display: flex;
  margin-top: 8px;
  img {
    height: 1rem;
    padding-right: 30px;
  }
}