.rating {
    display: flex;
    align-items: baseline;
    & > span {
      margin-right: rem(12px);
    }
    .rating-star {
      display: flex;
      .rating-star__item {
        display: flex;
        align-items: center;
        background-color: $blue-gray;
        border-radius: $border-radius-button;
        padding: rem(4px) rem(10px);
        margin-right: rem(10px);
        cursor: pointer;
        color: initial;
        input {
            display: none;
        }
        &.active {
          background-color: $secondary;
          color: $white;
          [class^="ic"] {
              color: $white;
              &::before {
                  content: $ic-star;
              }
          }
          // text-shadow: none;
        }
        [class^="ic"]{
          position: relative;
          padding-left: 8px;
          color: initial;
          @extend [class^="ic-"];
          &::before {
              content: $ic-star-outline;
          }
        }
      }
    }
  }