.table-th {
  color: $gray-70;
  font-weight: $font-weight-bold;
  padding: 10px 15px;
  background-color: $blue-dark-5;
  @include media-breakpoint-up(lg) {
    padding: 16px 20px;
  }
}

.room-table {
  display: table;
  height: 100%;
  width: 100%;
  .room-header {
    display: table-row;
    width: 100%;
    & > .table-th {
      display: table-cell;
    }
    .room-header__list {
      display: flex;
      .table-th {
        width: calc(100% / 3);
        
        @include media-breakpoint-up (lg) {
          padding-left: 30px;
          &:last-child {
            padding-right: 20px;
          }
        }
      }
    }
  }
  .room-row {
    display: table-row;
    height: 100%;
    .room-info {
      width: 20%;
      display: table-cell;
      vertical-align: top;
      .room-info__photo {
        height: 150px;
        margin-bottom: 1rem;
        cursor: pointer;
      }
    }
    .room-list {
      width: 80%;
      display: table-cell;
      vertical-align: top;
    }
  }
  
}

.room-list {
  .child-room {
    display: flex;
    flex-direction: column;
    .child-room__header {
      display: flex;
      width: 100%;
    }
    .child-room__item {
      position: relative;
      display: flex;
      border-bottom: solid 1px $dark-1-15;
      margin-bottom: 7px;
      &::after {
        position: absolute;
        content: '';
        border: 1px solid $white;
        bottom: -1px;
        left: 0;
        width: 15px;
      }
      .child-room__itemCell {
        flex: 1;
        width: calc(100% / 3);
        padding: 20px 0 40px 15px;
        .child-room__itemCell-wrapper {
          & > div {
            margin-bottom: 10px;
          }
          .person-number {
            display: flex;
            margin-bottom: 15px;
            [class^="ic-"] {
              margin-right: 3px;
            }
          }
        }
        .child-room__itemCell-right {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          text-align: right;
          .price-wrapper {
            margin: 8px 0 13px;
          }
          .input-group-number-2 .input-group-control {
            width: 2rem;
          }
        }
      }
    }
    .multi-collapse {
      display: none;
    }
    @include media-breakpoint-up(lg) {
      .child-room__item {
        &::after {
          width: 30px;
        }
        .child-room__itemCell {
          padding-left: 30px;
          .child-room__itemCell-right {
            padding-right: 20px;
          }
        }
      }
    }
  }
  .hide-more {
    display: none;
  }
}

.policy-item {
  display: flex;
  align-items: baseline;
  [class^="ic-"] {
    margin-right: 8px;
  }
  &.policy-item-info {
    color: $color-info;
  }
}