/* Sections */
.section-content {
  position: relative;
  z-index: 2;
}

.section-status {
  padding-bottom: rem(30px);
  p {
    padding-top: rem(24px);
    margin-bottom: 0;
    font-weight: $font-weight-bold;
  }
}

.section-finish {
  position: relative;
  z-index: 0;
  .container {
    position: relative;
    .flag-status {
      position: absolute;
      top: rem(24px);
      right: rem(15px);
      text-transform: uppercase;
      padding: 10px 20px;
      font-size: rem(14px);
      font-weight: $font-weight-semibold;
      color: $white;
      border-radius: 5px 0 0 5px;
      z-index: 1;
      &.warning {
        background-color: $color-warning;
      }
      &.success {
        background-color: $color-success;
      }
    }
  }
}

.section-primary {
  background-color: $white;
  border-radius: $border-radius-button;
  &.spacing {
    margin-bottom: 20px;
    padding: 30px;
  }
}

section.hotel-detail {
  padding: 22px 30px 58px;
  .hotel-detail__header {
    .hotel-detail-name {
      display: flex;
      align-items: center;
      span {
        font-size: $font-size-default;
        margin-left: 20px;
      }
    }
    .hotel-address {
      padding: 1rem 0 1.5rem;
      display: flex;
      align-items: baseline;
      flex-wrap: wrap;
      [class^="ic-"] {
        padding-right: 10px;
        color: $gray;
      }
      span {
        color: $dark;
      }
    }
  }
  .hotel-detail__gallery {
    &.row {
      margin-right: -5px;
      margin-left: -5px;
    }
    [class^="col-"] {
      padding-left: 5px;
      padding-right: 5px;
    }
    .img-gallery {
      position: relative;
      border-radius: $border-radius-button;
      cursor: pointer;
      transition: all .3s $cubic3;
      &::before {
        opacity: 0;
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,.58);
        transition: all .15s $cubic3;
      }
      &:hover {
        &::before {
          opacity: 1;
        }
      }
      &.img-gallery--main {
        height: 420px;
      }
      &.img-gallery--small {
        height: calc((100% - 20px)/ 3);
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }
    
    .button-see-more {
      position: absolute;
      color: $white;
      background: $dark;
      padding: 8px 24px;
      right: 0;
      bottom: 0;
      transition: all .3s $cubic3;
      font-size: $font-size-smaller;
      font-weight: $font-weight-semibold;
      &:hover {
        background: $blue-dark;
      }
    }
  }
  .hotel-detail__info {
    margin-top: $spacing-lg;
    .hotel-utilities-wrapper {
      columns: 3;
      .item-service {
        margin-bottom: 20px;
        [class^="ic-"] {
          font-size: $font-size-heading-3;
          width: 24px;
        }
        span {
          margin-left: $spacing-sm;
          font-size: $font-size-default;
          font-weight: $font-weight-regular;
        }
      }
    }
  }
}