%shadow-lg {
    box-shadow: rem(0px) rem(60px) rem(100px) rem(-60px) rgba($dark, .3);
}
.shadow-lg {
    @extend %shadow-lg;
    background: $white;
    border-radius: $border-radius-xl;
    padding: $spacing-md;
}