.slider {
  position: relative;
  .slider__control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: rem(48px);
    height: rem(48px);
    border-radius: $border-radius-lg;
    background: $white;
    border: none;
    box-shadow: $shadow-xs;
    opacity: 0;
    visibility: hidden;
    transition: all .3s $cubic2;
    [class^="ic-"] {
      font-size: rem(16px);
      color: inherit;
    }
    &.slider__control--left {
      left: 0;
      [class^="ic-"] {
        margin-left: -10%;
      }
    }
    &.slider__control--right {
      right: 0;
      [class^="ic-"] {
        margin-right: -10%;
      }
    }
    &.slider__control--large {
      width: rem(80px);
      height: rem(80px);
      [class^="ic-"] {
        font-size: rem(32px);
      }
    }
    &.slider__control--small {
      width: rem(24px);
      height: rem(24px);
      border-radius: $border-radius-button;
      [class^="ic-"] {
        font-size: rem(12px);
      }
    }
  }
  &:hover, &.slider--show-control {
    .slider__control {
      opacity: 1;
      visibility: visible;
      &--left {
        transform: translate(rem(30px), -50%);
        &.slider__control--large { transform: translate(rem(40px), -50%); }
        @include media-breakpoint-up(md) {
          transform: translate(rem(-20px), -50%);
          &.slider__control--large { transform: translate(rem(-40px), -50%); }
        }
      }
      &--right {
        transform: translate(rem(-30px), -50%);
        &.slider__control--large { transform: translate(rem(-40px), -50%); }
        @include media-breakpoint-up(md) {
          transform: translate(rem(20px), -50%);
          &.slider__control--large { transform: translate(rem(40px), -50%); }
        }
      }
    }
  }
}

.slider-hero {
  .slider-hero__item {
    overflow: hidden;
    border-radius: $border-radius-xl;
    img {
      width: 100%;
      height: rem(480px);
      object-fit: cover;
    }
  }
}

.slider-3 {
  .slider-item {
    overflow: hidden;
    border-radius: $border-radius;
    margin: $gutter/2;
    img {
      width: 100%;
      height: auto;
    }
  }
}


.slider-4-wrapper {
  margin-left: -5px;
  margin-right: -5px;
}
.slider-4 {
  .slider-item {
    overflow: hidden;
    margin: 5px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .slider__control {
    top: calc(255px / 2 - 48px / 2);
    [class^="ic-"] {
      color: $primary;
    }
  }
}

.slider-gallery {
  .gallery-img {
    position: relative;
    height: 450px;
    width: 100%;
    .caption {
      position: absolute;
      bottom: 0;
      padding: 10px;
      background: transparent linear-gradient(transparent, $dark);
      color: $white;
      width: 100%;
      display: flex;
      justify-content: space-between;
      .caption-number {
        padding-left: 10px;
      }
    }
  }
  .slider__control {
    visibility: visible;
    opacity: 1;
    &.slider__control--left {
      transform: translate(-1.25rem, -50%);
    }
    &.slider__control--right {
      transform: translate(1.25rem, -50%);
    }
  }
  .slick-dots {
    display: none !important;
  }
}

.slider-gallery-nav {
  .gallery-img {
    height: 90px;
    width: 100%;
    margin: 5px 3px;
    outline: none;
    cursor: pointer;
    &.is-active {
      box-shadow: 0 0 4px 4px $blue-dark;
    }
  }
}

.slider-gallery-room {
  .row {
    display: flex !important;
  }
  .gallery-img {
    // max-height: 700px;
    // height: 700px;
    height: calc(100vh - 250px);
  }
  .slider-gallery-room__detail {
    display: flex;
    flex-direction: column;
    max-height: 450px;
    
    &-wrapper {
      overflow: auto;
    }
  }
}

.slider-about {
  position: relative;
  height: 1px;
  margin-top: 14px;
  border: none;
  background: $gray;
  &:after, &:before {
    content: '';
    width: 6px;
    height: 6px;
    background: $gray;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    z-index: -1;
  }
  &::before {
    left: -3.5px;
  }
  &::after {
    right: -3.5px;
  }
  .slider-about__min, .slider-about__max {
    position: absolute;
    font-size: $font-size-small;
    font-weight: $font-weight-semibold;
    top: -27px;
  }
  .slider-about__min {
    left: -5px;
    // span {
    //   position: absolute;
    //   left: 50%;
    //   transform: translateX(-50%);
    // }
  }
  .slider-about__max {
    right: -5px;
    // span {
    //   position: absolute;
    //   right: 50%;
    //   transform: translateX(50%);
    // }
  }
  
  .noUi-base {
    z-index: 0;
  }
  .noUi-handle {
    width: 10px;
    height: 10px;
    right: -5px;
    top: -3.5px;
    border-radius: 50%;
    &::before, &::after {
      display: none;
    }
    &:focus {
      outline: none;
    }
  }
  .noUi-handle {
    border: none;
    background: $primary;
    box-shadow: none;
  }
  .noUi-connects {
    height: 3px;
    margin-top: -1.5px;
  }
  .noUi-connect {
    background: $primary;
  }
  .noUi-touch-area {
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
}