// Use for 2 columns
.table-dashed {
    th {
        font-weight: $font-weight-semibold;
        vertical-align: top;
        padding: rem(10px) rem(10px) rem(10px) 0;
        min-width: rem(150px);
    }
    td {
        text-align: right;
        padding: rem(10px) 0 rem(10px) rem(10px);
    }
    tr {
        &:not(:last-child) {
            border-bottom: dashed 1px $gray-15;
        }
    }
}

.table-no-border {
    font-size: $font-size-base;
    th {
        font-weight: $font-weight-semibold;
    }
    th, td {
        padding: rem(8px) 0;
    }
}

.table-mul-class {
    td {
        padding: 0;
    }
}

.table-ver-top {
    th, td {
        vertical-align: top;
    }
}

.table-bg-light {
    .table-title {
        color: $gray-70;
    }
}

.table-bg-dark {
    .devider {
        @extend .devider-lighter;
    }
}

.table-mul-column {
    th, td {
        text-align: center;
    }
    th:first-child, td:first-child {
        text-align: left;
    }
    th:last-child, td:last-child {
        text-align: right;
    }
}