.tab .nav-tabs {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  @extend %reset-listing;
  .nav-link {
    text-decoration: none;
    font-weight: $font-weight-bold;
    padding: rem(12px) 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: rgba($dark, .5);
    border-top-left-radius: $border-radius-lg;
    border-top-right-radius: $border-radius-lg;
    background: $white;
    background: linear-gradient(180deg, $white 0%, rgba(244,246,246,1) 35%, rgba(236,239,239,1) 100%);
    @include media-breakpoint-up(xl) {
      padding: rem(12px) rem(30px);
    }
    &.active {
      padding: rem(16px) rem(30px);
      background: $white;
      color: $dark;
    }
    [class^="ic-"] {
      margin-right: rem(10px);
      font-size: rem(24px);
      color: $primary;
    }
  }
  .nav-item {
    &:not(:last-child) {
      margin-right: rem(5px);
    }
    @include media-breakpoint-down(lg) {
      flex: 1;
      .nav-link {
        width: 100%;
      }
      .nav-link.active {
        padding: 1rem;
      }
    }
  }
}

.tab-content {
  background: $white;
  border-radius: $border-radius-lg;
  border-top-left-radius: 0;
  position: relative;
  @include media-breakpoint-down(lg) {
    border-top-right-radius: 0;
  }
  .tab-pane {
    display: none;
    padding: $spacing-md;
    @extend %shadow-lg;
    &.active {
      display: block;
    }
  }
}

.tab-underline {
  .nav {
    @extend %reset-listing;

    display: flex;
    border-bottom: 1px solid $dark-1-15;
    margin: 0 -30px 30px;
    padding: 0 30px;
    .nav-item {
      padding: 12px 35px;
      .nav-link {
        position: relative;
        transition: all .3s $cubic2;
        &.active {
          &::after {
            position: absolute;
            content: '';
            width: calc(100% + 35px * 2);
            height: 3px;
            background-color: $primary;
            bottom: -17px;
            left: -35px;
            z-index: 3;
          }
        }
      }
      img {
        height: 24px;
        margin-right: 12px;
      }
      span {
        color: $gray-70;
      }
    }
  }
  .tab-content .tab-pane {
    padding: 0;
  }
  .nav-link:not(.active) {
    filter: grayscale(100%);
  }
}
