meta(charset='UTF-8')
title #{ title || '8Trip website - FE' }
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
meta(name='description', content='Personal Website')
meta(name='author', content='Song Sang media')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(property="og:url" content="https://8trip.vn")
meta(property="og:type" content="website")
meta(property="og:title" content="8Trip website - FE")
meta(property="og:description" content="Your description")
meta(property="og:image" content="https://www.your-domain.com/path/image.jpg")
link(rel='shortcut icon', type='image/x-icon', href='./assets/images/favicon.png')
link(rel='apple-touch-icon', href='./assets/images/favicon.png')
link(rel='stylesheet', type='text/css', href='assets/css/vendors.min.css?v=' + (new Date).getTime())
link(rel='stylesheet', type='text/css', href='assets/css/styles.min.css?v=' + (new Date).getTime())
script(src="//maps.googleapis.com/maps/api/js?key=AIzaSyBZOT_-R6sqnAR4kmbRLx-LHCX2Hbm5GgA&libraries=&v=weekly&language=vi&region=VN" defer)
