include ./_variables
doctype html
html(lang="vi")
  head
    include ./_head.pug
  body
    include ./_mixins.pug
    .body-wrapper
      block content
      include ../components/_scroll-top
      include ../components/_modals
    include ./_scripts.pug
