
//-
  Radio
  - text: title for input
  - name: name of field
  - active: true/false/null\
  - id: need #. Eg: #round-trip
mixin radio(text, name, active, id, target, status)
  label.radio(
    for=id 
    class=status == 'disabled' ? 'is-disabled' : status == 'read-only' ? 'is-readonly' : ''
    data-target-value=null
    data-text-prefix=null
    data-text-suffix=null
    data-text-replace=null
  )&attributes(attributes)
    if active
      input.radio__control(
        type="radio" 
        name=name 
        checked 
        id=id 
        value=text
        data-target=target
        data-target-value=attributes["data-target-value"] || null
        data-text-prefix=attributes["data-text-prefix"]
        data-text-suffix=attributes["data-text-suffix"]
        data-text-replace=attributes["data-text-replace"] || null
      )
    else 
      input.radio__control(
        type="radio" 
        name=name 
        id=id 
        value=text
        data-target=target
        data-target-value=attributes["data-target-value"] || null
        data-text-prefix=attributes["data-text-prefix"]
        data-text-suffix=attributes["data-text-suffix"]
        data-text-replace=attributes["data-text-replace"] || null
      )
    label.radio__label(for=id) !{text}

mixin input-group(input) 
  .input-group&attributes(attributes)
    label.input-group-label 
      if input.labelIcon
        span(class=input.labelIcon)
      | #{input.label}
    input.input-group-control(
      class=input.datepicker ? 'input-datepicker' : ''
      placeholder=input.placeholder 
      value=input.value 
      name=input.name
      type=input.type || 'text'
      tabindex="0"
    )
    if input.caret
      span.ic-caret-down
    block 

mixin input-group-outline(title, type, name, placeholder, helper, icon, readOnly, value)
  .input-group.input-group-outline(
    class=readOnly ? 'is-readonly' : '', 
    data-target-value=null
    data-text-prefix=null
    data-text-suffix=null
    data-text-replace=null
  )&attributes(attributes)
    label.input-group-label !{title}
    block
    if !readOnly
      input.input-group-control(
        type=type ? type : 'text' 
        name=name 
        placeholder=placeholder 
        tabindex="0" 
        data-target-value=attributes["data-target-value"] || null
        data-text-prefix=attributes["data-text-prefix"]
        data-text-suffix=attributes["data-text-suffix"]
        data-text-replace=attributes["data-text-replace"] || null
      ) 
    else 
      .input-group-control !{value}
    if icon
      .input-group-icon 
        span(class="ic-" + icon)
    .input-helper !{helper}

mixin input-group-outline-select(title, options, name, readOnly, value)
  .input-group.input-group-outline.input-group-select(
    class=readOnly ? 'is-readonly' : ''
    data-target-value=null
    data-text-prefix=null
    data-text-suffix=null
    data-text-replace= null
  )&attributes(attributes)
    label.input-group-label !{title}
    if !readOnly
      select.input-group-control(
        name=name
        data-target-value=attributes["data-target-value"] || null
        data-text-prefix=attributes["data-text-prefix"]
        data-text-suffix=attributes["data-text-suffix"]
        data-text-replace=attributes["data-text-replace"] || null
      ) 
        each option, index in options 
          option(value=index > 0 ? option : '') !{option}
    else 
      .input-group-control !{value}

mixin input-group-number(input)
  .input-group-number&attributes(attributes) 
    label.input-group-title #{input.title}
      if input.subtitle 
        span.input-group-label #{input.subtitle}
    div.input-group-number-control 
      label.input-group-label-mine - 
      input.input-group-control(value=input.value || 0 name=input.name type="text" data-type=input['data-type'] tabindex="0")
      label.input-group-label-add +

mixin checkbox(text, isWrapText, dataTarget, dataPrefix, dataReplace)
  label.checkbox(
    class=isWrapText ? 'checkbox-wrap' : '' 
  )&attributes(attributes)
    input(
      type="checkbox" 
      value=text
      data-target-value=dataTarget || null
      data-text-prefix=dataPrefix || null
      data-text-replace=dataReplace || null
      checked=attributes.checked || null
    )
    span.checkbox-icon
    span.checkbox-label !{text}

mixin chip(text, hasDelete)
  .chip&attributes(attributes)
    .chip-text !{text}
    if hasDelete
      button.chip-delete.button-icon(type="button") 
        span.ic-close

mixin history-pane(from, to, timeFrom, timeTo, direction)
  .history-pane&attributes(attributes)
    .history-pane-place
      span= from
      span(class=direction == 'one-way' ? 'ic-one-way' : 'ic-round-trip') 
      span= to
    .history-pane-time #{timeFrom} - #{timeTo}
    button.button-close(type="button" data-toggle-target=".history-pane")
      span.ic-close

mixin ticket-small(logo, from, to, direction, time, price, isShowLabel, label)
  a.ticket.ticket-small(href="#" class=isShowLabel ? 'ticket-active-label' : '') 
    .ticket-label= label
    .d-flex
      .ticket-image
        img(src=logo alt="Bamboo")
      .ticket-body 
        h5.ticket-title
          span= from 
          span.ic-one-way 
          span= to  
        p.ticket-subtitle= time
    .ticket-footer
      | Từ #[span.ticket-price #{price}]

mixin card-primary(img, name, point, price, distance)
  a(href="#").card-primary
    .img-wrapper
      img(src=img).card-bgd
    .card-body
      h4.card-title.card-title--dark !{name}
      .card-rating
        .rating-point 
          span !{point}/
          span 5
        .rating-bright-star
          .ic-star
          .ic-star
          .ic-star
          .ic-star
      if distance
        .text-description.mt-1 !{distance}
      .card-price 
        | Giá từ #[span.ticket-price #{price} VND]
        
mixin hero-banner-subpage(title, background, isWhite = false) 
  - var bg = "background-image: url('" + background + "')";
  section.hero-banner-subpage
    .container-wrapper
      .hero-banner-background.bg-reset(style=bg)  
        .container 
          h2(class=isWhite ? 'text-white' : '')= title

//- 
  Heading result
  @content:
    - content.step      : 1, 2, 3...
    - content.title     : Any title
    - content.time      : 18/06/2020...
    - content.leave     : HN
    - content.arrived   : QN
    - content.cta: Any content
mixin heading-result(content)
  .heading-result
    .heading-left 
      span #{content.step}
    .heading-body 
      .heading-information 
        h5 #{content.title}
        p #{content.time}
        p.heading-direction.mb-0 
          | #{content.leave}
          span.ic-one-way.mx-2 
          | #{content.arrived}
      .heading-cta 
        button.button.button-outline-white(role="button" data-target=content.target data-toggle="toggle-element") Vé ngày khác

//- 
  Ticket day
  @ticket: 
    - ticket.date: Ex: 21/2
    - ticket.brand: url of images
    - ticket.price: short. Ex: 1.232k 
mixin ticket-day(ticket)
  .ticket-day&attributes(attributes)(class=ticket.isActive ? 'is-active' : '') 
    p.mb-0.text-smaller #{ticket.date}
    .d-flex.align-item-center 
      //- .ticket-image 
      //-   img(src=ticket.brand alt=ticket.price)
      .ticket-price #{ticket.price}

mixin change-date(id)
  - var id = id.substr(1,id.length - 1) || id;
  .change-date(style="display: none;" id=id)&attributes(attributes) 
    .slider.slider-auto.slider-change-date
      each ticket in ticketDays
        a(href="#")
          +ticket-day(ticket)

mixin tab-flight()
  .row.flex-nowrap 
    .col
      ul.journey-list 
        li.journey-item 
          span.journey-date 14/03
          span.journey-time 12:35
          span.journey-airport HAN 
          span.journey-name Hà Nội (SB Quốc Tế Nội Bài - Nhà ga T1 - Sảnh đến A)
        li.journey-item 
          span.journey-date 14/03
          span.journey-time 17:15
          span.journey-airport UIH 
          span.journey-name Qui Nhơn (SB Phù Cát)
    .col-auto.d-flex.flex-column.align-items-end.py-2 
      .logo-text.mb-2
        .logo
          img(src="./assets/images/logo-bamboo.png" alt="Bamboo") 
        .text 
          span QH1213
      p.mb-0.mt-1 
        strong 3h40m

mixin tab-utilities()
  .row.flex-nowrap 
    .col
      .logo-text.logo-text-lg.mt-2 
        .logo 
          img(src="./assets/images/logo-bamboo.png" alt="Bamboo") 
        .text 
          span Bamboo Airway 
          span QH1213
    .col-auto
      table.table-dashed 
        tbody 
          tr 
            th Máy bay 
            td 
              | Airbus A321 <br>
              | Sơ đồ ghế ngồi 3-3-3 <br>
              | Khoảng cách ghế 32inch (Tiêu chuẩn)
          tr 
            th Hạng ghế 
            td Phổ thông
          tr 
            th Hành lý xách tay
            td 7kg
          tr 
            th Hành lý ký gửi 
            td 30kg
          tr 
            th Tiện ích khác
            td 
              | Suất ăn phụ <br>
              | Màn hình giải trí <br>
              | Có wifi <br>
              | Ổ cắm sạc USB

mixin tab-detail()
  .row.flex-nowrap 
    .col-auto 
      p.mt-2 Tham khảo
      p.mb-1 #[a(href="#") Chính sách thanh toán]
      p.mb-1 #[a(href="#") Chính sách thuế]
      p.mb-1 #[a(href="#") Cách tính giá vé…]
    .col 
      table.table-dashed.ml-auto 
        tbody 
          tr 
            th Vé người lớn
            td 1.740.000 VND x2
          tr 
            th Vé trẻ em (2-12 tuổi)
            td 1.305.000 VND
          tr 
            th Tổng giá vé chiều đi
            td 
              span.price.price-dark 
                span 4.785.000 VND
      p.text-right.text-helper.mb-0 (Giá vé đã bao gồm thuế và phụ phí đi kèm)

        
mixin card-flight()
  article.card-flight
    header.card-header
      .card-left 
        .card-image 
          img(src="./assets/images/logo-bamboo.png" alt="Bamboo")
        .card-label 
          span Bamboo Airway
      .card-right
        .mr-auto.d-flex
          div.d-flex
            .text-label 
              span 12:35 
              span (HAN) 
            .dot-connect 
              span.ic-flight-2
            .text-label 
              span 17:15 
              span (UIH) 
          div.mx-4
            .text-label
              span 3h40m
              span Bay thẳng
        .ml-auto.text-right
          p.price.mb-1
            span 1.740.000 đ
            span /người
          div.d-flex.align-items-center 
            .point.point-lg.mr-3 +17 điểm
            button.button.button-primary Đặt vé
    button.button-toggle.button-icon 
      span.ic-double-chevron-down
    .card-body
      .card-body-wrapper
        .filter-group.js-filter-group
          .filter-button-group.justify-content-start 
            each tab in ticketProperties
              button.button-tag(class=tab.active ? 'active' : '' data-filter=tab.className) #{tab.name}
          .filter(data-default='.tab-flight')
            .filter-item.tab-flight 
              +tab-flight()
            .filter-item.tab-utilities 
              +tab-utilities()
            .filter-item.tab-detail 
              +tab-detail()
    .card-shadow

mixin card-flight-selected()
  article.card-flight-selected 
    .card-body 
      .card-body-wrapper
        .d-flex.justify-content-between.mb-3 
          p.mb-0 Khởi hành: 
            strong HAN #[span.ic-one-way] UIH
          p.mb-0 
            a#flight-detail-button(href="#modal-flight-detail" data-toggle="modal" data-target="#modal-flight-detail" type="button") Chi tiết
        .d-flex.justify-content-between.mb-3 
          .d-flex
            .text-label.text-label-left 
              span 12:35 
              span 18/03/2020
            .dot-connect.dot-connect-lg 
              span.ic-flight-2
            .text-label.text-label-right 
              span 17:15 
              span 18/03/2020
          .logo-text.logo-text-horizontal
            .logo
              img(src="./assets/images/logo-bamboo.png" alt="Bamboo")
            .text QH1213
        .d-flex.justify-content-between.align-items-baseline 
          p.mb-0 Tổng giá vé chiều đi:
          p.mb-0.price #[span 4.785.000 đ]
    .card-footer
      button.button.button-default Đổi chuyến bay

mixin card-flight-combo()
  article.card-flight.card-flight-combo
    header.card-header
      .card-left 
        .card-image 
          img(src="./assets/images/logo-bamboo.png" alt="Bamboo")
        .card-label 
          span Bamboo Airway
      .card-right
        .mr-auto.d-flex
          div.card-flight-direction
            div.d-flex.mb-4
              span.text-direction Chiều đi:
              .text-label 
                span 12:35 
                span (HAN) 
              .dot-connect 
                span.ic-flight-2
              .text-label 
                span 17:15 
                span (UIH) 
              div.mx-4
                .text-label
                  span 3h40m
                  span 1 điểm dừng
            div.d-flex
              span.text-direction Chiều về:
              .text-label 
                span 12:35 
                span (HAN) 
              .dot-connect 
                span.ic-flight-2
              .text-label 
                span 17:15 
                span (UIH) 
              div.mx-4
                .text-label
                  span 3h40m
                  span 1 điểm dừng
        .ml-auto.text-right
          p.price.mb-1
            span 1.740.000 đ
            span /người
          div.d-flex.flex-wrap.flex-lg-nowrap.align-items-center.justify-content-end 
            .point.point-lg.mr-lg-3 +17 điểm
            button.button.button-primary Đặt vé
    button.button-toggle.button-icon 
      span.ic-double-chevron-down
    .card-body
      .card-body-wrapper
        .filter-group.js-filter-group
          .filter-button-group.justify-content-start 
            each tab in ticketProperties
              button.button-tag(class=tab.active ? 'active' : '' data-filter=tab.className) #{tab.name}
          .filter(data-default='.tab-flight')
            .filter-item.tab-flight 
              +tab-flight()
              .card-warning.my-4 
                .card-icon
                  span.ic-alert-round 
                p Quá cảnh <strong>4 giờ 50 phút</strong> tại Kuala Lumpur (KUL)
              +tab-flight()
            .filter-item.tab-utilities 
              +tab-utilities()
              .devider.my-4
              +tab-utilities()
            .filter-item.tab-detail 
              +tab-detail()
    .card-shadow

mixin card-white-icon(icon, title, isActive)
  a.card-white-icon(class=isActive ? 'is-active' : '' role="button")&attributes(attributes)
    .card-thumb 
      img.card-img(src=icon alt=title)
    .card-body 
      h4.card-title !{title}

mixin card-copy(img, isActive)
  .card-copy(class=isActive ? 'is-active' : '')&attributes(attributes)
    .card-copy-wrapper.h-100
      span.ic-copy.copy
      .card-thumb 
        img.card-img(src=img alt='Copy')
      .card-body 
        block
    .card-copy-helper.text-helper.text-primary.mt-2 Đã sao chép số tài khoản

//- 
  Step
  @number: number of step
  @title: name of step
  @status: ['success', 'active', 'default' or null]
mixin step(number, title, status)
  - clasStatus = status == 'success' ? 'is-success' : status == 'active' ? 'is-active' : '';
  .step(class=clasStatus)&attributes(attributes)
    .step-left 
      .step-thumb 
        if status == 'success'
          span.ic-tick
        else 
          span #{number}
    .step-body 
      span.step-title #{title}

mixin heading-line(title)
  .heading-line
    h3 !{title}
    if block
      .ml-auto
        block

mixin input-group-number-2(label, name)
  .input-group-number-2&attributes(attributes)
    label 
      input.input-group-control(value="0" name=name type="text" data-min="0" data-max="10")
      | #{label}
    .input-select
      .ic-chevron-up
      .ic-chevron-down

mixin card-intro()
  .card.card-intro.shadow-lg(style="background-image: url('./assets/images/shape-2.svg');")&attributes(attributes)
    .card-thumb
      img(src="./assets/images/illustration-phone.svg", alt="phone")
    .card-body
      h4.card-title Bạn chưa phải thành viên của 8Trip?
      p.card-text Đăng ký hoặc Đăng nhập để lưu lại thông tin đặt vé kèm những ưu đãi đặc biệt dành riêng cho thành viên chỉ với 1 vài bước nhanh chóng.
      .button-group
        button.button.button-outline-primary.button--small.button--white(type="button") Đăng ký
        button#login-button.button.button-primary.button--small(type="button" data-toggle="modal" data-target="#modal-login") Đăng nhập

mixin rating-star-item(amount, isActive)
  label.rating-star__item(class=isActive ? 'active' : null)
    input(type="checkbox" name="rating-1" value=amount)
    span !{amount}
    span.ic

mixin media-icon(icon, title, subtitle)
  a.media-icon(href="javascript:void(0)" title=title)&attributes(attributes)
    .media-left 
      span(class=icon)
    .media-body 
      p.media-title !{title}
      p.media-subtitle !{subtitle}
      
mixin rating-star()
  span.rating-bright-star
    .ic-star
    .ic-star
    .ic-star
    .ic-star
    .ic-star

mixin rating-dots()
  .rating-dots
    .ic-rating-full
    .ic-rating-full
    .ic-rating-full
    .ic-rating-full
    .ic-rating-half

mixin card-hotel()
  article.card-hotel&attributes(attributes)
    header.card-header
      .card-label-right.bgd-green Miễn phí huỷ phòng
        span
      .card-label-right.bgd-yellow Bao gồm bữa sáng
        span
      .card-label-left.bgd-red Hôm nay giảm 20%
        span
      .card-left
        .card-image 
          .card-bgd.bg-reset(style="background-image: url('./assets/images/hotel-5.jpg');" alt="" data-toggle="modal" data-target="#modal-gallery")
          a(href="#" data-toggle="modal" data-target="#modal-gallery").button-see-more Xem 52 ảnh
          .js-loading
            .loading
              - var i = 0;
              while i < 10
                .line
                - i++;
        .card-content
          ul.pills
            li.pill.pill-deal Mức giảm giá hiếm thấy
            li.pill.pill-build Mới xây dựng từ 2019
          a(href="#").card-title Silk Path Grand Resort & Spa Sapa
            +rating-star()
          .evaluate-wrapper
            .rating-point 
              span 4.6/
              span 5
            img(src="./assets/images/tripadvisor.svg", alt="").img-logo-rating
            +rating-dots()
            .text-evaluate 128 đánh giá
          a(href="#").card-address
            .ic-map
            span Đồi Quan 6, Tổ 10, TT. Sa Pa, 10000, Lào Cai, Việt Nam
          ul.pills(data-toggle="tooltip" data-placement="top" title=`
            <div class='tooltips-wrapper'>
              <div class='tooltip-item'>View thung lũng<div>
              <div class='tooltip-item'>View thung lũng<div>
              <div class='tooltip-item'>View thung lũng<div>
              <div class='tooltip-item'>View thung lũng<div>
              <div class='tooltip-item'>View thung lũng<div>
            </div>`
            data-html="true")
            li.pill.pill-outline.pill-location View thung lũng
            li.pill.pill-outline.pill-location Cách trung tâm 0.8km
          ul.pills(data-toggle="tooltip" data-placement="top" title=`
            <div class='tooltips-wrapper'>
              <div class='tooltip-item'>View thung lũng<div>
              <div class='tooltip-item'>View thung lũng<div>
              <div class='tooltip-item'>View thung lũng<div>
              <div class='tooltip-item'>View thung lũng<div>
              <div class='tooltip-item'>View thung lũng<div>
            </div>`
            data-html="true")
            li.pill.pill-outline.pill-benefits Thanh toán tại nhà
            li.pill.pill-outline.pill-benefits Miễn phí huỷ trước 1 ngày
            li.pill.pill-outline.pill-benefits +32 dịch vụ…
          .card-service
            .item-service
              .ic-elevator 
              span Có thang máy
            .item-service
              .ic-wifi
              span Wifi free, tốc độ cao
            .item-service
              .ic-meeting
              span Phòng meeting
      .card-right
        .card-price Giá từ
          .card-price-num.card-price-num--old 2.100.000 VND
          .card-price-new 1.630.435 VND
        .pill.pill-benefits Miễn phí huỷ phòng
        .pill.pill-only Chỉ còn 02 phòng duy nhất
        a(href="#").button.button-primary.button--small Đặt phòng

mixin card-hotel-shortcut()
  article.card-hotel.card-hotel--shortcut&attributes(attributes)
    header.card-header.card-header--small
      .card-left
        .card-image 
          .card-bgd.bg-reset(style="background-image: url('./assets/images/hotel-5.jpg');" alt="")
        .card-content
          a(href="#").card-title Silk Path Grand Resort & Spa Sapa
            +rating-star()
          .evaluate-wrapper
            .rating-point 
              span 4.6/
              span 5
            .card-label-left.bgd-red Giảm 20%
              span
          
          .card-content__right
            .card-price
              .card-price-num.card-price-num--old 2.100.000 VND
              .card-price-new 1.630.435 VND
            .text-sm-italic 5 người/đêm
            a(href="#").button.button-primary.button--small Chọn phòng này

//- 
  CHILD ROOM ITEM
  @bed: count of bed
  @price: new price to show
  @key: id of room
  @roomName: name of bed
  @roomType: id of group rooms
  @roomTypeName: name of group rooms
mixin child-room-item(room)
  .child-room__item.js-room(
    data-price=room.price 
    data-key=room.key 
    data-room-name=room.roomName 
    data-group-id=room.groupId
    data-group-name=room.groupName
  )&attributes(attributes)
    .child-room__itemCell
      .child-room__itemCell-wrapper
        .person-number
          - var n = 0;
          while n < room.bed
            .ic-user
            - n++;
          .ic-children
        .text-dark 
          span.underline-dotted(data-toggle="tooltip" data-placement="top" title=`
                              <div class='tooltips-wrapper tooltips-wrapper--column'>
                                  <div class='tooltip-item'>1 giường king: chiều rộng 1.51-3m<div>
                                  <div class='tooltip-item'>2 giường đơn: chiều rộng 1.5-1.8m<div>
                              </div>`
                              data-html="true") !{room.roomName}
        .text-dark 
          span.underline-dotted(data-toggle="tooltip" data-placement="top" title=`
                              <div class='tooltips-wrapper tooltips-wrapper--column'>
                                  <div class='tooltip-item'>Quý khách có thể mua buffe tại khách sạn<div>
                              </div>`
                              data-html="true") Bữa sáng buffet, thêm 1.150.000 VND
        .text-dark 
          span Không hút thuốc
        .text-info 
          span Có cửa sổ
    .child-room__itemCell
      .child-room__itemCell-wrapper
      .policy-item.policy-item-info
        .ic-tick-circle
        div
        span Miễn phí hủy trước 12:00, ngày 11 tháng 6 năm 2020 (theo giờ địa phương của khách sạn)
      .policy-item.policy-item-info
        .ic-tick-circle
        div
        span.underline-dotted(data-toggle="tooltip" data-placement="top" title=`
                            <div class='tooltips-wrapper tooltips-wrapper--column'>
                                <div class='tooltip-item'>Đặt phòng này sẽ được xác nhận ngay sau khi yêu cầu đặt phòng được gửi đi<div>
                            </div>`
                            data-html="true") Xác nhận nhanh chóng
      .policy-item.policy-item-alert
        .ic-alert-circle 
        div
        span.underline-dotted(data-toggle="tooltip" data-placement="top" title=`
                            <div class='tooltips-wrapper tooltips-wrapper--column'>
                                <div class='tooltip-item'>text<div>
                            </div>`
                            data-html="true") Không huỷ phòng
    .child-room__itemCell
      .child-room__itemCell-right
        .text-dark Thanh toán tại khách sạn
        .price-wrapper
          .price.price-dark 
            span 1.630.435 VND
          .price-old 2.100.000 VND
        .d-flex
          +input-group-number-2('phòng', 'rooms')
        .text-red.mt-1 Chỉ còn 02 phòng duy nhất

mixin card-alert(title, desc)
  .card-alert&attributes(attributes)
    h4.text-title.text-uppercase !{title}
    .card-alert__desc !{desc}
