script. 
  /* Setup for default datepicker
    @isSingleDate (boolean)
    - true: one way
    - false: round trip 
  */
  var isSingleDate = false;
  var lang = 'vi'; // 'vi' or 'en'
  var timeLabel = {
    dates: {
      monday: {
        en: 'Monday',
        vi: 'Thứ 2',
        'en-short': 'Mon',
        'vi-short': 'T2'
      },
      tuesday: {
        en: 'Tuesday',
        vi: 'Thứ 3',
        'en-short': 'Tue',
        'vi-short': 'T3'
      },
      wednesday: {
        en: 'Wednesday',
        vi: 'Thứ 4',
        'en-short': 'Wed',
        'vi-short': 'T4'
      },
      thursday: {
        en: 'Thursday',
        vi: 'Thứ 5',
        'en-short': 'Thur',
        'vi-short': 'T5'
      },
      friday: {
        en: 'Friday',
        vi: 'Thứ 6',
        'en-short': 'Fri',
        'vi-short': 'T6'
      },
      saturday: {
        en: 'Saturday',
        vi: 'Thứ 7',
        'en-short': 'Sat',
        'vi-short': 'T7'
      },
      sunday: {
        en: 'Sunday',
        vi: 'Chủ nhật',
        'en-short': 'Sun',
        'vi-short': 'CN'
      }
    },
    months: {
      january: {
        en: 'January',
        vi: 'Tháng 1',
        'en-short': 'Jan',
        'vi-short': 'Thg 1'
      },
      february: {
        en: 'February',
        vi: 'Tháng 2',
        'en-short': 'Feb',
        'vi-short': 'Thg 2'
      },
      march: {
        en: 'March',
        vi: 'Tháng 3',
        'en-short': 'Mar',
        'vi-short': 'Thg 3'
      },
      april: {
        en: 'April',
        vi: 'Tháng 4',
        'en-short': 'Apr',
        'vi-short': 'Thg 4'
      },
      may: {
        en: 'May',
        vi: 'Tháng 5',
        'en-short': 'May',
        'vi-short': 'Thg 5'
      },
      june: {
        en: 'June',
        vi: 'Tháng 6',
        'en-short': 'Jun',
        'vi-short': 'Thg 6'
      },
      july: {
        en: 'July',
        vi: 'Tháng 7',
        'en-short': 'Jul',
        'vi-short': 'Thg 7'
      },
      august: {
        en: 'August',
        vi: 'Tháng 8',
        'en-short': 'Aug',
        'vi-short': 'Thg 8'
      },
      september: {
        en: 'September',
        vi: 'Tháng 9',
        'en-short': 'Sep',
        'vi-short': 'Thg 9'
      },
      october: {
        en: 'October',
        vi: 'Tháng 10',
        'en-short': 'Oct',
        'vi-short': 'Thg 10'
      },
      november: {
        en: 'November',
        vi: 'Tháng 11',
        'en-short': 'Nov',
        'vi-short': 'Thg 11'
      },
      december: {
        en: 'December',
        vi: 'Tháng 12',
        'en-short': 'Dec',
        'vi-short': 'Thg 12'
      }
    }
  };
  var roomUnit = 'Phòng';
script(type='text/javascript', src='assets/js/vendors.min.js')
script(type='text/javascript', async, src='assets/js/main.js')
