- 
  var specialSA = [
    {
      icon: './assets/images/icon-color-telephone.svg',
      title: 'Chăm sóc nhiệt tình 24/7',
      description: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justoundefined'
    },
    {
      icon: './assets/images/icon-color-tag.svg',
      title: 'Ưu đãi lớn với Mobifone và Vinaphone',
      description: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justoundefined'
    },
    {
      icon: './assets/images/icon-color-discount.svg',
      title: 'Giá rẻ mỗi ngày',
      description: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justoundefined'
    }
  ];
  var ticketProperties = [
    {
      name: 'Chuyến bay',
      className: '.tab-flight',
      active: 'active'
    },
    {
      name: 'Tiện ích',
      className: '.tab-utilities'
    },
    {
      name: 'Chi tiết vé',
      className: '.tab-detail'
    }
  ];
- 
  var headingLeave = {
    step: 1,
    title: 'Chọn chuyến bay đi',
    time: '14/03/2020',
    leave: 'Hà Nội',
    arrived: 'Quy Nhơn',
    target: '#change-date-leave'
  };
  var headingArrived = {
    step: 2,
    title: 'Chọn chuyến bay về',
    time: '17/03/2020',
    leave: 'Quy Nhơn',
    arrived: 'Hà Nội',
    target: '#change-date-arrived'
  };  
  var ticketDays = [
    {
      date: '18/3',
      price: '5.131k',
      brand: './assets/images/logo-bamboo.png'
    },
    {
      date: '19/3',
      price: '5.131k',
      brand: './assets/images/logo-bamboo.png'
    },
    {
      date: '20/3',
      price: '5.131k',
      brand: './assets/images/logo-bamboo.png',
      isActive: true
    },
    {
      date: '21/3',
      price: '5.131k',
      brand: './assets/images/logo-bamboo.png'
    },
    {
      date: '22/3',
      price: '5.131k',
      brand: './assets/images/logo-bamboo.png'
    },
    {
      date: '23/3',
      price: '5.131k',
      brand: './assets/images/logo-bamboo.png'
    },
    {
      date: '20/3',
      price: '5.131k',
      brand: './assets/images/logo-bamboo.png'
    },
    {
      date: '21/3',
      price: '5.131k',
      brand: './assets/images/logo-bamboo.png'
    },
    {
      date: '22/3',
      price: '5.131k',
      brand: './assets/images/logo-bamboo.png'
    },
    {
      date: '23/3',
      price: '5.131k',
      brand: './assets/images/logo-bamboo.png'
    }
  ];

-    
  var cities = [
      {
      city: 'Hà Nội',
      id: 'HAN'
      },
      {
      city: 'Đà Nẵng',
      id: 'DAD'
      },
      {
      city: 'Hà Nội',
      id: 'HAN'
      },
      {
      city: 'Đà Nẵng',
      id: 'DAD'
      },
      {
      city: 'Hà Nội',
      id: 'HAN'
      },
      {
      city: 'Đà Nẵng',
      id: 'DAD'
      }
  ];
  var seatClass = [
      'Hạng phổ thông',
      'Hạng thương gia'
  ];
- 
  var sidebarOrder = [
    { icon: 'scan-user', name: 'Chỉnh sửa hồ sơ'},
    { icon: 'tag-sale', name: 'Mã giảm giá'},
    { icon: 'rating-full', name: 'Quản lý điểm thưởng'},
    { icon: 'store', name: 'Đăng ký đại lý'},
    { icon: 'card', name: 'Đơn hàng của tôi'},
    { icon: 'history', name: 'Lịch sử giao dịch'},
    { icon: 'visa', name: 'Thông tin thanh toán'},
    { icon: 'profile', name: 'Thông tin liên hệ'},
    { icon: 'group', name: 'Thông tin khách hàng'},
    { icon: 'mail', name: 'Hỗ trợ khách hàng'},
    { icon: 'shield', name: 'Điều khoản & Chính sách'}
  ];
