.container-wrapper {
  max-width: $container-large;
  padding-left: $gutter;
  padding-right: $gutter;
  margin: 0 auto;
}

%reset-listing {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

h2, .heading-2 {
  font-size: $font-size-heading-2;
  line-height: 1.2;
  margin-bottom: rem(15px);
  font-weight: $font-weight-semibold;
}

h3, .heading-3 {
  font-size: $font-size-heading-3;
  line-height: 1.2;
  margin-bottom: rem(10px);
  font-weight: $font-weight-semibold;
}

h4.heading-4, .heading-4 {
  font-size: $font-size-smaller;
  text-transform: uppercase;
  margin-bottom: rem(20px);
  font-weight: $font-weight-bold;
}

a {
  text-decoration: none;
  color: $primary;
  &:hover {
    text-decoration: none;
  }
}

@include media-breakpoint-down(sm) {
  .container {
    width: 720px !important;
    max-width: 720px !important;
  }
  .container-wrapper {
    width: 768px !important;
  }
  .body-wrapper {
    width: 768px !important;
  }
}

section {
  clear: both;
}

.bg-reset {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

// Keyframes
@keyframes spin {
  100% {
    transform: rotate(360deg)
  }
}

html {
  scroll-behavior: smooth;
}


