.collapse:not(.show) {
    display: none;
}

.collapsing {
    height: 0;
    overflow: hidden;
    transition: height .35s ease;
}

@keyframes slideInSmall {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}

@keyframes slideOutSmall {
    0% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-30px);
    }
}

@keyframes cardSlideInSmall {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: scaleZ(0);
        max-height: 0;
    }
    100% {
        opacity: 1;
        visibility: visible;
        transform: scaleZ(1);
        max-height: 1200px;
    }
}

@keyframes cardSlideOutSmall {
    0% {
        opacity: 1;
        visibility: visible;
        transform: scaleZ(1);
        max-height: 1200px;
    }
    100% {
        opacity: 0;
        visibility: hidden;
        transform: scaleZ(0);
        max-height: 0;
    }
}

@keyframes fadeInUp {
    from {
        display: none;
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  
    to {
        display: block;
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeOutDown {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
}
