/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$primary        : #27B5E8;
$primary-lighter: #5CCBF3; // use for buttons hovers
$secondary      : #FF5D00;
$secondary-lighter: #FF7E33;
$red            : #E82727; // use for price

$white          : #fff;
$dark           : #092833;
$dark-1         : #2C2C2C;
$dark-1-15      : mix($dark-1, $white, 15%);

$gray           : #BAC3C6;
$gray-light     : #FAFAFA;
// $gray-8      : mix($dark, $white, 8%);
$gray-8         : #DDE1E2;
$gray-70        : mix($dark, $white, 70%);
$gray-50        : mix($dark, $white, 50%);
$gray-30        : mix($dark, $white, 30%);
$gray-15        : mix($dark, $white, 15%);
$gray-clear-70  : rgba(9, 41, 52, 0.7);
$gray-clear-80  : rgba(9, 41, 52, 0.8);

$blue-dark      : #003075;
$blue-dark-5    :  mix($blue-dark, $white, 5%);
$blue-light     : #D0F2FE;
$blue-gray      : #EDF1F2;
$blue-30        : mix($primary, $white, 30%);
$violet         : #30488C;
$violet-light   : #4A70DC;
$violet-light-30: mix($violet-light, $white, 30%);
$green          : #188C7F;
$green-light    : #1EB3A1;
$green-light-30 : mix($green-light, $white, 30%);
$blue-10        : mix($primary, $white, 10%);
$blue-50        : mix($primary, $white, 50%);
$yellow-light   : #FFF0CC;

$color-error    : #FF4C5E;
$color-success  : #12a763;
$color-warning  : #FFBA1C;
$color-info     : #1EB3A1;


/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$font-family: 'Nunito Sans';


/* Font-weight
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$font-weight-regular:           400;
$font-weight-semibold:          600;
$font-weight-bold:              700;
$font-weight-default:           $font-weight-regular;


/* Font-size
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$font-size-default  : 1rem;
$font-size-heading-1: rem(48px);
$font-size-heading-2: rem(36px);
$font-size-heading-3: rem(24px);
$font-size-heading-4: rem(18px);
$font-size-large    : rem(20px);
$font-size-smaller  : rem(14px);
$font-size-small    : rem(12px);

$line-height-default: 1.5;
$line-height-reset  : 1;

/* Transition
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$cubic1:                        cubic-bezier(0.19, 1, 0.22, 1);
$cubic2:                        cubic-bezier(.48, .48, .57, .57);
$cubic3:                        cubic-bezier(0.215, 0.61, 0.355, 1);
$cubic4:                        cubic-bezier(0.4, 0, 0.2, 1);


/* Radius
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$border-radius-button: rem(3px);
$border-radius-lg    : rem(10px);
$border-radius-xl    : rem(20px);


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$spacing-xs: rem(10px);
$spacing-sm: rem(16px);
$spacing-md: rem(30px);
$spacing-lg: rem(40px);
$spacing-xl: rem(60px);
$spacing-xxl: rem(120px);

/* Shadow
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$shadow-xs: 0rem rem(3px) rem(20px) rgba($dark, .1);
$shadow-sm: 0rem rem(16px) rem(50px) rem(-16px) rgba($dark, .2);


$gutter: 30px;
$container-large: 1396px;

// Custom bootstrap
$font-family-base: $font-family;
$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
    6: $spacing-xl,
    7: $spacing-xxl
  ),
  $spacers
);
