@use "sass:color";

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Must import variables first to custom bootstrap
@import 'rem';
@import 'variables';

// Bootstrap
// Included: variables, breakpoints, grid, display, flex, spacing, functions
@import '../../node_modules/bootstrap/scss/bootstrap-reboot.scss';
@import '../../node_modules/bootstrap/scss/bootstrap-grid.scss';

@import 'mixins';
@import 'fonts';
@import 'global';
@import 'keyframes';

// Components
@import 'components/shadow';
@import 'components/buttons';
@import 'components/navbar';
@import 'components/dropdowns';
@import 'components/other';
@import 'components/header';
@import 'components/sliders';
@import 'components/tab';
@import 'components/form';
@import 'components/daterangepicker';
@import 'components/filter';
@import 'components/tickets';
@import 'components/cards';
@import 'components/modals';
@import 'components/account';
@import 'components/heading-result';
@import 'components/tables';
@import 'components/chip';
@import 'components/accordion';
@import 'components/banners';
@import 'components/section';
@import 'components/rating';
@import 'components/room';
@import 'components/policy';
@import 'components/maps';
@import 'components/dialog';
