@font-face {
  font-family: 'icon-8trip';
  src:  url('fonts/icon-8trip.eot?5s3i31');
  src:  url('fonts/icon-8trip.eot?5s3i31#iefix') format('embedded-opentype'),
    url('fonts/icon-8trip.ttf?5s3i31') format('truetype'),
    url('fonts/icon-8trip.woff?5s3i31') format('woff'),
    url('fonts/icon-8trip.svg?5s3i31#icon-8trip') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ic-"], [class*=" ic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon-8trip' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-car-3:before {
  content: "\e985";
  color: #fff;
}
.ic-deal:before {
  content: "\e92b";
  color: #fff;
}
.ic-bed:before {
  content: "\e932";
  color: #fff;
}
.ic-shield:before {
  content: "\e97a";
}
.ic-mail:before {
  content: "\e97b";
}
.ic-group:before {
  content: "\e97c";
}
.ic-profile:before {
  content: "\e97d";
}
.ic-visa:before {
  content: "\e97e";
}
.ic-history:before {
  content: "\e97f";
}
.ic-card:before {
  content: "\e980";
}
.ic-store:before {
  content: "\e981";
}
.ic-scan-user:before {
  content: "\e982";
}
.ic-tag-sale:before {
  content: "\e983";
}
.ic-flight-3:before {
  content: "\e984";
}
.ic-baby:before {
  content: "\e976";
}
.ic-adult:before {
  content: "\e977";
}
.ic-seat:before {
  content: "\e978";
}
.ic-calendar-2:before {
  content: "\e979";
}
.ic-tick-2:before {
  content: "\e975";
}
.ic-change:before {
  content: "\e974";
}
.ic-filter-fill:before {
  content: "\e973";
}
.ic-time:before {
  content: "\e972";
}
.ic-flight-down:before {
  content: "\e970";
}
.ic-flight-up:before {
  content: "\e971";
}
.ic-youtube:before {
  content: "\e96d";
}
.ic-instagram:before {
  content: "\e96e";
}
.ic-facebook:before {
  content: "\e96f";
}
.ic-children:before {
  content: "\e96c";
}
.ic-apdung_chieucao_doxe:before {
  content: "\e933";
}
.ic-cannag_lb:before {
  content: "\e934";
}
.ic-cannang_kg:before {
  content: "\e935";
}
.ic-chicungcap_chonamgioi:before {
  content: "\e936";
}
.ic-chicungcap_chonguoilon:before {
  content: "\e937";
}
.ic-chicungcap_chophunu:before {
  content: "\e938";
}
.ic-cho_duocphep:before {
  content: "\e939";
}
.ic-chophep_chovameo:before {
  content: "\e93a";
}
.ic-chophep_thucung:before {
  content: "\e93b";
}
.ic-dv_thucung_duocphep:before {
  content: "\e93c";
}
.ic-dv_thucung_tinhphi:before {
  content: "\e93d";
}
.ic-gioihandotuoi_18:before {
  content: "\e93e";
}
.ic-goiy_oto:before {
  content: "\e93f";
}
.ic-huong_sangolf:before {
  content: "\e940";
}
.ic-huongnhin_1phan_daiduong:before {
  content: "\e941";
}
.ic-huongnhin_1phanbien:before {
  content: "\e942";
}
.ic-huongnhin_1phanho:before {
  content: "\e943";
}
.ic-huongnhin_baibien:before {
  content: "\e944";
}
.ic-huongnhin_beboi:before {
  content: "\e945";
}
.ic-huongnhin_bencang:before {
  content: "\e946";
}
.ic-huongnhin_benduthuyen:before {
  content: "\e947";
}
.ic-huongnhin_bien:before {
  content: "\e948";
}
.ic-huongnhin_congvien:before {
  content: "\e949";
}
.ic-huongnhin_dam:before {
  content: "\e94a";
}
.ic-huongnhin_doi:before {
  content: "\e94b";
}
.ic-huongnhin_ho:before {
  content: "\e94c";
}
.ic-huongnhin_honuoc:before {
  content: "\e94d";
}
.ic-huongnhin_kenhdao:before {
  content: "\e94e";
}
.ic-huongnhin_nui:before {
  content: "\e94f";
}
.ic-huongnhin_resort:before {
  content: "\e950";
}
.ic-huongnhin_samac:before {
  content: "\e951";
}
.ic-huongnhin_san:before {
  content: "\e952";
}
.ic-huongnhin_song:before {
  content: "\e953";
}
.ic-huongnhin_thunglung:before {
  content: "\e954";
}
.ic-huongnhin_vinh:before {
  content: "\e955";
}
.ic-huongnhin_vuon:before {
  content: "\e956";
}
.ic-huongnhin_vuonnho:before {
  content: "\e957";
}
.ic-huongnhin-thanhpho:before {
  content: "\e958";
}
.ic-khong_giuongphu:before {
  content: "\e959";
}
.ic-khongchophep_douongcon:before {
  content: "\e95a";
}
.ic-khongchophep_thucung:before {
  content: "\e95b";
}
.ic-khongco_dichvu_thucung:before {
  content: "\e95c";
}
.ic-khongco_noi:before {
  content: "\e95d";
}
.ic-khongco_thangmay:before {
  content: "\e95e";
}
.ic-khongphucvu_douongcon:before {
  content: "\e95f";
}
.ic-khongtochuc_tiectung:before {
  content: "\e960";
}
.ic-ko_nuocnong:before {
  content: "\e961";
}
.ic-nuocnong_gioihan:before {
  content: "\e962";
}
.ic-phongcotiengon_khongdambao:before {
  content: "\e963";
}
.ic-phongdat_kotreem:before {
  content: "\e964";
}
.ic-quanao_tuychon:before {
  content: "\e965";
}
.ic-soluong_thucung_trongphong:before {
  content: "\e966";
}
.ic-sukientiec_duocphep:before {
  content: "\e967";
}
.ic-treem_duocphep:before {
  content: "\e968";
}
.ic-treem_khongduocphep:before {
  content: "\e969";
}
.ic-yeucau_datcoc:before {
  content: "\e96a";
}
.ic-yeucau_oto:before {
  content: "\e96b";
}
.ic-angle-left:before {
  content: "\e986";
}
.ic-angle-right:before {
  content: "\e987";
}
.ic-print:before {
  content: "\e92c";
}
.ic-filter:before {
  content: "\e92d";
}
.ic-list:before {
  content: "\e92e";
}
.ic-tick-circle:before {
  content: "\e92f";
}
.ic-alert-circle:before {
  content: "\e930";
}
.ic-map:before {
  content: "\e931";
}
.ic-star-outline:before {
  content: "\e921";
}
.ic-star:before {
  content: "\e92a";
}
.ic-send:before {
  content: "\e929";
}
.ic-add:before {
  content: "\e900";
}
.ic-alert-round:before {
  content: "\e901";
}
.ic-bell:before {
  content: "\e902";
}
.ic-calendar:before {
  content: "\e903";
}
.ic-car-2:before {
  content: "\e904";
}
.ic-car:before {
  content: "\e905";
}
.ic-caret-down:before {
  content: "\e906";
}
.ic-chevron-down:before {
  content: "\e907";
}
.ic-chevron-left:before {
  content: "\e908";
}
.ic-chevron-right:before {
  content: "\e909";
}
.ic-chevron-up:before {
  content: "\e90a";
}
.ic-city:before {
  content: "\e90b";
}
.ic-close:before {
  content: "\e90c";
}
.ic-copy:before {
  content: "\e90d";
}
.ic-dinner:before {
  content: "\e90e";
}
.ic-double-chevron-down:before {
  content: "\e90f";
}
.ic-dumbell:before {
  content: "\e910";
}
.ic-elevator:before {
  content: "\e911";
}
.ic-flight-2:before {
  content: "\e912";
}
.ic-flight:before {
  content: "\e913";
}
.ic-hotel:before {
  content: "\e914";
}
.ic-iphone:before {
  content: "\e915";
}
.ic-massage-body:before {
  content: "\e916";
}
.ic-meeting:before {
  content: "\e917";
}
.ic-minus:before {
  content: "\e918";
}
.ic-motobike:before {
  content: "\e919";
}
.ic-one-way:before {
  content: "\e91a";
}
.ic-parking:before {
  content: "\e91b";
}
.ic-pin:before {
  content: "\e91c";
}
.ic-rating-full:before {
  content: "\e91d";
}
.ic-rating-half:before {
  content: "\e91e";
}
.ic-round-trip:before {
  content: "\e91f";
}
.ic-search:before {
  content: "\e920";
}
.ic-swimming:before {
  content: "\e922";
}
.ic-tag:before {
  content: "\e923";
}
.ic-tick:before {
  content: "\e924";
}
.ic-user:before {
  content: "\e925";
}
.ic-waiter:before {
  content: "\e926";
}
.ic-washing-machine:before {
  content: "\e927";
}
.ic-wifi:before {
  content: "\e928";
}
