@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?5s3i31');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?5s3i31#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?5s3i31') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?5s3i31') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?5s3i31##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ic-"], [class*=" ic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-car-3 {
  &:before {
    content: $ic-car-3;     
    color: #fff;
  }
}
.ic-deal {
  &:before {
    content: $ic-deal;     
    color: #fff;
  }
}
.ic-bed {
  &:before {
    content: $ic-bed;     
    color: #fff;
  }
}
.ic-shield {
  &:before {
    content: $ic-shield; 
  }
}
.ic-mail {
  &:before {
    content: $ic-mail; 
  }
}
.ic-group {
  &:before {
    content: $ic-group; 
  }
}
.ic-profile {
  &:before {
    content: $ic-profile; 
  }
}
.ic-visa {
  &:before {
    content: $ic-visa; 
  }
}
.ic-history {
  &:before {
    content: $ic-history; 
  }
}
.ic-card {
  &:before {
    content: $ic-card; 
  }
}
.ic-store {
  &:before {
    content: $ic-store; 
  }
}
.ic-scan-user {
  &:before {
    content: $ic-scan-user; 
  }
}
.ic-tag-sale {
  &:before {
    content: $ic-tag-sale; 
  }
}
.ic-flight-3 {
  &:before {
    content: $ic-flight-3; 
  }
}
.ic-baby {
  &:before {
    content: $ic-baby; 
  }
}
.ic-adult {
  &:before {
    content: $ic-adult; 
  }
}
.ic-seat {
  &:before {
    content: $ic-seat; 
  }
}
.ic-calendar-2 {
  &:before {
    content: $ic-calendar-2; 
  }
}
.ic-tick-2 {
  &:before {
    content: $ic-tick-2; 
  }
}
.ic-change {
  &:before {
    content: $ic-change; 
  }
}
.ic-filter-fill {
  &:before {
    content: $ic-filter-fill; 
  }
}
.ic-time {
  &:before {
    content: $ic-time; 
  }
}
.ic-flight-down {
  &:before {
    content: $ic-flight-down; 
  }
}
.ic-flight-up {
  &:before {
    content: $ic-flight-up; 
  }
}
.ic-youtube {
  &:before {
    content: $ic-youtube; 
  }
}
.ic-instagram {
  &:before {
    content: $ic-instagram; 
  }
}
.ic-facebook {
  &:before {
    content: $ic-facebook; 
  }
}
.ic-children {
  &:before {
    content: $ic-children; 
  }
}
.ic-apdung_chieucao_doxe {
  &:before {
    content: $ic-apdung_chieucao_doxe; 
  }
}
.ic-cannag_lb {
  &:before {
    content: $ic-cannag_lb; 
  }
}
.ic-cannang_kg {
  &:before {
    content: $ic-cannang_kg; 
  }
}
.ic-chicungcap_chonamgioi {
  &:before {
    content: $ic-chicungcap_chonamgioi; 
  }
}
.ic-chicungcap_chonguoilon {
  &:before {
    content: $ic-chicungcap_chonguoilon; 
  }
}
.ic-chicungcap_chophunu {
  &:before {
    content: $ic-chicungcap_chophunu; 
  }
}
.ic-cho_duocphep {
  &:before {
    content: $ic-cho_duocphep; 
  }
}
.ic-chophep_chovameo {
  &:before {
    content: $ic-chophep_chovameo; 
  }
}
.ic-chophep_thucung {
  &:before {
    content: $ic-chophep_thucung; 
  }
}
.ic-dv_thucung_duocphep {
  &:before {
    content: $ic-dv_thucung_duocphep; 
  }
}
.ic-dv_thucung_tinhphi {
  &:before {
    content: $ic-dv_thucung_tinhphi; 
  }
}
.ic-gioihandotuoi_18 {
  &:before {
    content: $ic-gioihandotuoi_18; 
  }
}
.ic-goiy_oto {
  &:before {
    content: $ic-goiy_oto; 
  }
}
.ic-huong_sangolf {
  &:before {
    content: $ic-huong_sangolf; 
  }
}
.ic-huongnhin_1phan_daiduong {
  &:before {
    content: $ic-huongnhin_1phan_daiduong; 
  }
}
.ic-huongnhin_1phanbien {
  &:before {
    content: $ic-huongnhin_1phanbien; 
  }
}
.ic-huongnhin_1phanho {
  &:before {
    content: $ic-huongnhin_1phanho; 
  }
}
.ic-huongnhin_baibien {
  &:before {
    content: $ic-huongnhin_baibien; 
  }
}
.ic-huongnhin_beboi {
  &:before {
    content: $ic-huongnhin_beboi; 
  }
}
.ic-huongnhin_bencang {
  &:before {
    content: $ic-huongnhin_bencang; 
  }
}
.ic-huongnhin_benduthuyen {
  &:before {
    content: $ic-huongnhin_benduthuyen; 
  }
}
.ic-huongnhin_bien {
  &:before {
    content: $ic-huongnhin_bien; 
  }
}
.ic-huongnhin_congvien {
  &:before {
    content: $ic-huongnhin_congvien; 
  }
}
.ic-huongnhin_dam {
  &:before {
    content: $ic-huongnhin_dam; 
  }
}
.ic-huongnhin_doi {
  &:before {
    content: $ic-huongnhin_doi; 
  }
}
.ic-huongnhin_ho {
  &:before {
    content: $ic-huongnhin_ho; 
  }
}
.ic-huongnhin_honuoc {
  &:before {
    content: $ic-huongnhin_honuoc; 
  }
}
.ic-huongnhin_kenhdao {
  &:before {
    content: $ic-huongnhin_kenhdao; 
  }
}
.ic-huongnhin_nui {
  &:before {
    content: $ic-huongnhin_nui; 
  }
}
.ic-huongnhin_resort {
  &:before {
    content: $ic-huongnhin_resort; 
  }
}
.ic-huongnhin_samac {
  &:before {
    content: $ic-huongnhin_samac; 
  }
}
.ic-huongnhin_san {
  &:before {
    content: $ic-huongnhin_san; 
  }
}
.ic-huongnhin_song {
  &:before {
    content: $ic-huongnhin_song; 
  }
}
.ic-huongnhin_thunglung {
  &:before {
    content: $ic-huongnhin_thunglung; 
  }
}
.ic-huongnhin_vinh {
  &:before {
    content: $ic-huongnhin_vinh; 
  }
}
.ic-huongnhin_vuon {
  &:before {
    content: $ic-huongnhin_vuon; 
  }
}
.ic-huongnhin_vuonnho {
  &:before {
    content: $ic-huongnhin_vuonnho; 
  }
}
.ic-huongnhin-thanhpho {
  &:before {
    content: $ic-huongnhin-thanhpho; 
  }
}
.ic-khong_giuongphu {
  &:before {
    content: $ic-khong_giuongphu; 
  }
}
.ic-khongchophep_douongcon {
  &:before {
    content: $ic-khongchophep_douongcon; 
  }
}
.ic-khongchophep_thucung {
  &:before {
    content: $ic-khongchophep_thucung; 
  }
}
.ic-khongco_dichvu_thucung {
  &:before {
    content: $ic-khongco_dichvu_thucung; 
  }
}
.ic-khongco_noi {
  &:before {
    content: $ic-khongco_noi; 
  }
}
.ic-khongco_thangmay {
  &:before {
    content: $ic-khongco_thangmay; 
  }
}
.ic-khongphucvu_douongcon {
  &:before {
    content: $ic-khongphucvu_douongcon; 
  }
}
.ic-khongtochuc_tiectung {
  &:before {
    content: $ic-khongtochuc_tiectung; 
  }
}
.ic-ko_nuocnong {
  &:before {
    content: $ic-ko_nuocnong; 
  }
}
.ic-nuocnong_gioihan {
  &:before {
    content: $ic-nuocnong_gioihan; 
  }
}
.ic-phongcotiengon_khongdambao {
  &:before {
    content: $ic-phongcotiengon_khongdambao; 
  }
}
.ic-phongdat_kotreem {
  &:before {
    content: $ic-phongdat_kotreem; 
  }
}
.ic-quanao_tuychon {
  &:before {
    content: $ic-quanao_tuychon; 
  }
}
.ic-soluong_thucung_trongphong {
  &:before {
    content: $ic-soluong_thucung_trongphong; 
  }
}
.ic-sukientiec_duocphep {
  &:before {
    content: $ic-sukientiec_duocphep; 
  }
}
.ic-treem_duocphep {
  &:before {
    content: $ic-treem_duocphep; 
  }
}
.ic-treem_khongduocphep {
  &:before {
    content: $ic-treem_khongduocphep; 
  }
}
.ic-yeucau_datcoc {
  &:before {
    content: $ic-yeucau_datcoc; 
  }
}
.ic-yeucau_oto {
  &:before {
    content: $ic-yeucau_oto; 
  }
}
.ic-angle-left {
  &:before {
    content: $ic-angle-left; 
  }
}
.ic-angle-right {
  &:before {
    content: $ic-angle-right; 
  }
}
.ic-print {
  &:before {
    content: $ic-print; 
  }
}
.ic-filter {
  &:before {
    content: $ic-filter; 
  }
}
.ic-list {
  &:before {
    content: $ic-list; 
  }
}
.ic-tick-circle {
  &:before {
    content: $ic-tick-circle; 
  }
}
.ic-alert-circle {
  &:before {
    content: $ic-alert-circle; 
  }
}
.ic-map {
  &:before {
    content: $ic-map; 
  }
}
.ic-star-outline {
  &:before {
    content: $ic-star-outline; 
  }
}
.ic-star {
  &:before {
    content: $ic-star; 
  }
}
.ic-send {
  &:before {
    content: $ic-send; 
  }
}
.ic-add {
  &:before {
    content: $ic-add; 
  }
}
.ic-alert-round {
  &:before {
    content: $ic-alert-round; 
  }
}
.ic-bell {
  &:before {
    content: $ic-bell; 
  }
}
.ic-calendar {
  &:before {
    content: $ic-calendar; 
  }
}
.ic-car-2 {
  &:before {
    content: $ic-car-2; 
  }
}
.ic-car {
  &:before {
    content: $ic-car; 
  }
}
.ic-caret-down {
  &:before {
    content: $ic-caret-down; 
  }
}
.ic-chevron-down {
  &:before {
    content: $ic-chevron-down; 
  }
}
.ic-chevron-left {
  &:before {
    content: $ic-chevron-left; 
  }
}
.ic-chevron-right {
  &:before {
    content: $ic-chevron-right; 
  }
}
.ic-chevron-up {
  &:before {
    content: $ic-chevron-up; 
  }
}
.ic-city {
  &:before {
    content: $ic-city; 
  }
}
.ic-close {
  &:before {
    content: $ic-close; 
  }
}
.ic-copy {
  &:before {
    content: $ic-copy; 
  }
}
.ic-dinner {
  &:before {
    content: $ic-dinner; 
  }
}
.ic-double-chevron-down {
  &:before {
    content: $ic-double-chevron-down; 
  }
}
.ic-dumbell {
  &:before {
    content: $ic-dumbell; 
  }
}
.ic-elevator {
  &:before {
    content: $ic-elevator; 
  }
}
.ic-flight-2 {
  &:before {
    content: $ic-flight-2; 
  }
}
.ic-flight {
  &:before {
    content: $ic-flight; 
  }
}
.ic-hotel {
  &:before {
    content: $ic-hotel; 
  }
}
.ic-iphone {
  &:before {
    content: $ic-iphone; 
  }
}
.ic-massage-body {
  &:before {
    content: $ic-massage-body; 
  }
}
.ic-meeting {
  &:before {
    content: $ic-meeting; 
  }
}
.ic-minus {
  &:before {
    content: $ic-minus; 
  }
}
.ic-motobike {
  &:before {
    content: $ic-motobike; 
  }
}
.ic-one-way {
  &:before {
    content: $ic-one-way; 
  }
}
.ic-parking {
  &:before {
    content: $ic-parking; 
  }
}
.ic-pin {
  &:before {
    content: $ic-pin; 
  }
}
.ic-rating-full {
  &:before {
    content: $ic-rating-full; 
  }
}
.ic-rating-half {
  &:before {
    content: $ic-rating-half; 
  }
}
.ic-round-trip {
  &:before {
    content: $ic-round-trip; 
  }
}
.ic-search {
  &:before {
    content: $ic-search; 
  }
}
.ic-swimming {
  &:before {
    content: $ic-swimming; 
  }
}
.ic-tag {
  &:before {
    content: $ic-tag; 
  }
}
.ic-tick {
  &:before {
    content: $ic-tick; 
  }
}
.ic-user {
  &:before {
    content: $ic-user; 
  }
}
.ic-waiter {
  &:before {
    content: $ic-waiter; 
  }
}
.ic-washing-machine {
  &:before {
    content: $ic-washing-machine; 
  }
}
.ic-wifi {
  &:before {
    content: $ic-wifi; 
  }
}

