$icomoon-font-family: "icon-8trip" !default;
$icomoon-font-path: "fonts" !default;

$ic-car-3: "\e985";
$ic-deal: "\e92b";
$ic-bed: "\e932";
$ic-shield: "\e97a";
$ic-mail: "\e97b";
$ic-group: "\e97c";
$ic-profile: "\e97d";
$ic-visa: "\e97e";
$ic-history: "\e97f";
$ic-card: "\e980";
$ic-store: "\e981";
$ic-scan-user: "\e982";
$ic-tag-sale: "\e983";
$ic-flight-3: "\e984";
$ic-baby: "\e976";
$ic-adult: "\e977";
$ic-seat: "\e978";
$ic-calendar-2: "\e979";
$ic-tick-2: "\e975";
$ic-change: "\e974";
$ic-filter-fill: "\e973";
$ic-time: "\e972";
$ic-flight-down: "\e970";
$ic-flight-up: "\e971";
$ic-youtube: "\e96d";
$ic-instagram: "\e96e";
$ic-facebook: "\e96f";
$ic-children: "\e96c";
$ic-apdung_chieucao_doxe: "\e933";
$ic-cannag_lb: "\e934";
$ic-cannang_kg: "\e935";
$ic-chicungcap_chonamgioi: "\e936";
$ic-chicungcap_chonguoilon: "\e937";
$ic-chicungcap_chophunu: "\e938";
$ic-cho_duocphep: "\e939";
$ic-chophep_chovameo: "\e93a";
$ic-chophep_thucung: "\e93b";
$ic-dv_thucung_duocphep: "\e93c";
$ic-dv_thucung_tinhphi: "\e93d";
$ic-gioihandotuoi_18: "\e93e";
$ic-goiy_oto: "\e93f";
$ic-huong_sangolf: "\e940";
$ic-huongnhin_1phan_daiduong: "\e941";
$ic-huongnhin_1phanbien: "\e942";
$ic-huongnhin_1phanho: "\e943";
$ic-huongnhin_baibien: "\e944";
$ic-huongnhin_beboi: "\e945";
$ic-huongnhin_bencang: "\e946";
$ic-huongnhin_benduthuyen: "\e947";
$ic-huongnhin_bien: "\e948";
$ic-huongnhin_congvien: "\e949";
$ic-huongnhin_dam: "\e94a";
$ic-huongnhin_doi: "\e94b";
$ic-huongnhin_ho: "\e94c";
$ic-huongnhin_honuoc: "\e94d";
$ic-huongnhin_kenhdao: "\e94e";
$ic-huongnhin_nui: "\e94f";
$ic-huongnhin_resort: "\e950";
$ic-huongnhin_samac: "\e951";
$ic-huongnhin_san: "\e952";
$ic-huongnhin_song: "\e953";
$ic-huongnhin_thunglung: "\e954";
$ic-huongnhin_vinh: "\e955";
$ic-huongnhin_vuon: "\e956";
$ic-huongnhin_vuonnho: "\e957";
$ic-huongnhin-thanhpho: "\e958";
$ic-khong_giuongphu: "\e959";
$ic-khongchophep_douongcon: "\e95a";
$ic-khongchophep_thucung: "\e95b";
$ic-khongco_dichvu_thucung: "\e95c";
$ic-khongco_noi: "\e95d";
$ic-khongco_thangmay: "\e95e";
$ic-khongphucvu_douongcon: "\e95f";
$ic-khongtochuc_tiectung: "\e960";
$ic-ko_nuocnong: "\e961";
$ic-nuocnong_gioihan: "\e962";
$ic-phongcotiengon_khongdambao: "\e963";
$ic-phongdat_kotreem: "\e964";
$ic-quanao_tuychon: "\e965";
$ic-soluong_thucung_trongphong: "\e966";
$ic-sukientiec_duocphep: "\e967";
$ic-treem_duocphep: "\e968";
$ic-treem_khongduocphep: "\e969";
$ic-yeucau_datcoc: "\e96a";
$ic-yeucau_oto: "\e96b";
$ic-angle-left: "\e986";
$ic-angle-right: "\e987";
$ic-print: "\e92c";
$ic-filter: "\e92d";
$ic-list: "\e92e";
$ic-tick-circle: "\e92f";
$ic-alert-circle: "\e930";
$ic-map: "\e931";
$ic-star-outline: "\e921";
$ic-star: "\e92a";
$ic-send: "\e929";
$ic-add: "\e900";
$ic-alert-round: "\e901";
$ic-bell: "\e902";
$ic-calendar: "\e903";
$ic-car-2: "\e904";
$ic-car: "\e905";
$ic-caret-down: "\e906";
$ic-chevron-down: "\e907";
$ic-chevron-left: "\e908";
$ic-chevron-right: "\e909";
$ic-chevron-up: "\e90a";
$ic-city: "\e90b";
$ic-close: "\e90c";
$ic-copy: "\e90d";
$ic-dinner: "\e90e";
$ic-double-chevron-down: "\e90f";
$ic-dumbell: "\e910";
$ic-elevator: "\e911";
$ic-flight-2: "\e912";
$ic-flight: "\e913";
$ic-hotel: "\e914";
$ic-iphone: "\e915";
$ic-massage-body: "\e916";
$ic-meeting: "\e917";
$ic-minus: "\e918";
$ic-motobike: "\e919";
$ic-one-way: "\e91a";
$ic-parking: "\e91b";
$ic-pin: "\e91c";
$ic-rating-full: "\e91d";
$ic-rating-half: "\e91e";
$ic-round-trip: "\e91f";
$ic-search: "\e920";
$ic-swimming: "\e922";
$ic-tag: "\e923";
$ic-tick: "\e924";
$ic-user: "\e925";
$ic-waiter: "\e926";
$ic-washing-machine: "\e927";
$ic-wifi: "\e928";

