extends layout/_layout
block content
  //- Variables
  - var title = 'Thanh toán';
  - var titleSubpage = 'Thanh toán';
  - var bgHeaderSubpage = './assets/images/hero-banner-subpage.jpg';
  - var logo = './assets/images/logo.svg';
  - 
    var payments = [
      {
        icon: './assets/images/logo-napas.png',
        title: 'Thẻ ATM nội địa',
        target: 'transfer-atm',
      },
      {
        icon: './assets/images/logo-mastercard.svg',
        title: 'Thẻ Tín dụng',
        target: 'transfer-credit'
      },
      {
        icon: './assets/images/icon-transfer.svg',
        title: 'Chuyển khoản ngân hàng',
        isActive: true,
        target: 'transfer-banks'
      },
      {
        icon: './assets/images/icon-shop.svg',
        title: 'Thanh toán tại quầy',
        target: 'transfer-counter'
      }
    ];

  include components/_header

  .bg-gray.py-6 
    .container
      section.mb-5
        ul.list-steps 
          li
            +step(1, 'Chọn chuyến bay', 'success')
          li
            +step(2, 'Thông tin hành khách', 'success')
          li
            +step(3, 'Thanh toán', 'success')
          li
            +step(4, 'Thanh toán', 'active')

      section.section-content 
        .banner-shadow(style="background-image: url('./assets/images/shape-1.svg')") 
          .banner-image 
            img.ml-3(src="./assets/images/illustration-bill.svg" alt="bill") 
          .banner-body 
            .d-flex.justify-content-between.align-item-baseline.w-100.p-4 
              div 
                h3.order-code Mã đơn hàng: #[a.text-primary(href="#") #34835987429857]
                span.text-semibold Hà Nội (HAN) #[span.ic-round-trip.mx-3] Quy Nhơn (UIH)
              div.text-right 
                p.my-1.text-gray-50 (Thanh toán đơn hàng trong #[span 1:30:00])
                p.mb-0 Cần thanh toán: 
                  span.price #[span 9.570.000 đ]

      section.pt-6 
        +heading-line('Chọn hình thức thanh toán')
        p Quý khách vui lòng lựa chọn 1 trong các hình thức thanh toán dưới đây để hoàn tất quá trình đặt vé.
        .row.mb-4.method-list
          each method in payments 
            .col-lg-3.col-6.mb-3
              +card-white-icon(method.icon, method.title, method.isActive)(
                data-toggle='collapse'
                aria-expanded= method.isActive ? 'true' : 'false'
                aria-controls=method.target
                aria-coltrol-group='.multiple-collapse'
                href=method.target ? "#" + method.target : '#'
                class="js-toggle"
              )
        div.collapse.multiple-collapse.show#transfer-banks
          h4.text-lead Chuyển khoản ngân hàng
          p Quý khách vui lòng chuyển khoản tới 1 trong các tài khoản dưới đây hoặc thanh toán tại quầy.
          .row.mt-4.copy-list 
            .col-md-6.mb-3.mb-lg-0 
              +card-copy('./assets/images/logo-vp.png')(data-copy="23749873491874")
                p #[span.text-semibold Chủ TK:] Cong Ty CP Truyen Thong Song Sang
                p #[span.text-semibold Ngân hàng:] VP bank
                p #[span.text-semibold Chi nhánh:] Sở giao dịch
                p #[span.text-semibold Số TK:] #[span.text-bold 23749873491874]
            .col-md-6 
              +card-copy('./assets/images/logo-tp.png')(data-copy="765221397987132")
                p #[span.text-semibold Chủ TK:] Cong Ty CP Truyen Thong Song Sang Cong Ty CP Truyen Thong Song Sang
                p #[span.text-semibold Ngân hàng:] VP bank
                p #[span.text-semibold Chi nhánh:] Sở giao dịch
                p #[span.text-semibold Số TK:] #[span.text-bold 765221397987132]
        .collapse.multiple-collapse#transfer-atm
          h2.mb-0 Thẻ ATM
        .collapse.multiple-collapse#transfer-credit
          h2.mb-0 Thẻ tín dụng
        .collapse.multiple-collapse#transfer-counter
          h2.mb-0 Thanh toán tại quầy

        .text-center.mt-6 
          button.button.button-primary Thanh toán

  include components/_special-sa
  include components/_footer