extends layout/_layout
block content
  //- Variables
  - var title = 'Xác nhận thông tin';
  - var titleSubpage = 'Xác nhận thông tin';
  - var bgHeaderSubpage = './assets/images/hero-banner-subpage.jpg';
  - var logo = './assets/images/logo.svg';

  include components/_header

  .bg-gray.py-6 
    .container
      section.mb-5 
        ul.list-steps 
          li
            +step(1, 'Chọn chuyến bay', 'success')
          li
            +step(2, 'Thông tin hành khách', 'success')
          li
            +step(3, 'Xác nhận thông tin', 'active')
          li
            +step(4, 'Thanh toán')
      section 
        .row.justify-content-center 
          .col-xl-10 
            article.mb-5
              +heading-line('1. Thông tin hành trình')
              .row.justify-content-center.mb-4 
                .col-lg-6.mb-3.mb-lg-0 
                  article.card-flight-selected.mx-auto.h-100
                    header.card-header 
                      h4.card-title Chiều đi
                      a#flight-detail-button(href="#modal-flight-detail" data-toggle="modal" data-target="#modal-flight-detail" type="button") Chi tiết vé
                    .card-body
                      .card-body-wrapper 
                        .d-flex.justify-content-between.mb-3 
                          p.mb-0 Khởi hành: 
                            strong HAN #[span.ic-one-way] UIH
                          .logo-text.mb-2
                            .logo
                              img(src="./assets/images/logo-bamboo.png" alt="Bamboo") 
                            .text 
                              span QH1213
                        .d-flex.justify-content-between 
                          .d-flex
                            .text-label.text-label-left 
                              span 12:35 
                              span 18/03/2020
                            .dot-connect.dot-connect-lg 
                              span.ic-flight-2
                            .text-label.text-label-right 
                              span 17:15 
                              span 18/03/2020
                          .text-label.text-label-right
                            span Giờ bay: 3h40m
                            span Hạng ghế: Economy
                .col-lg-6
                  article.card-flight-selected.mx-auto.h-100
                    header.card-header 
                      h4.card-title Chiều về
                      a#flight-detail-button(href="#modal-flight-detail" data-toggle="modal" data-target="#modal-flight-detail" type="button") Chi tiết vé
                    .card-body
                      .card-body-wrapper 
                        .d-flex.justify-content-between.mb-3 
                          p.mb-0 Khởi hành: 
                            strong HAN #[span.ic-one-way] UIH
                          .logo-text.mb-2
                            .logo
                              img(src="./assets/images/logo-bamboo.png" alt="Bamboo") 
                            .text 
                              span QH1213
                        .d-flex.justify-content-between 
                          .d-flex
                            .text-label.text-label-left 
                              span 12:35 
                              span 18/03/2020
                            .dot-connect.dot-connect-lg 
                              span.ic-flight-2
                            .text-label.text-label-right 
                              span 17:15 
                              span 18/03/2020
                          .text-label.text-label-right
                            span Giờ bay: 3h40m
                            span Hạng ghế: Economy #[br] 1 điểm dừng
            article.mb-5
              +heading-line('2. Thông tin hành khách <span>(4)</span>')
                a.link.js-toggle-collapse(role="button" aria-expanded="false" data-target=".multi-collapse" href="#" data-text-collapse="Thu gọn tất cả") Mở tất cả
              .accordion.mb-2
                a.accordion-header(href="#info-1" data-toggle="collapse" aria-expanded="false" aria-controls="#info-1" role="button") 
                  .accordion-title Người lớn #[span 1]: 
                    strong.text-primary.ml-1 Ms. Trần Phương Thuỷ
                  .text-helper.ml-auto 30kg chiều đi, 30kg chiều về 
                  span.ic-chevron-down
                .accordion-body.collapse.multi-collapse#info-1 
                  .accordion-body-wrapper
                    fieldset.mb-3 
                      legend Thông tin cá nhân: 
                      .d-flex.flex-wrap 
                        span.mr-5 Danh xưng:
                        //- +radio('Ông', 'name-title-1', false, 'name-title-1', null, 'disabled')(class="mr-3")
                        +radio('Bà', 'name-title-1', true, 'name-title-2', null, 'read-only')
                      .row 
                        .col-md-6
                          +input-group-outline('Họ <span class="text-red">*</span>', 'text', 'firstname-2', 'VD: Tran', 'Vui lòng nhập Họ của người lớn 1', null, 'read-only', 'Tran')
                        .col-md-6 
                          +input-group-outline('Tên và tên đệm  <span class="text-red">*</span>', 'text', 'lastname-2', 'VD: Phuong Thuy', 'Vui lòng nhập Tên và tên đệm', null, 'read-only', 'Phuong Thuy')
                    fieldset 
                      legend Hành lý ký gửi (mua thêm):
                      .row 
                        .col-md-6 
                          +input-group-outline-select(
                            'Chiều đi (HAN <span class="ic-one-way"></span> UIH)',
                            ['Lựa chọn hành lý chiều đi', '20kg', '15kg'],
                            'luggage-from-1',
                            'read-only',
                            '20kg'
                          )
                        .col-md-6 
                          +input-group-outline-select(
                            'Chiều về (UIH <span class="ic-one-way"></span> HAN)',
                            ['Lựa chọn hành lý chiều về', '20kg', '15kg'],
                            'luggage-from-1',
                            'read-only',
                            '20kg'
                          )
              .accordion.mb-2
                a.accordion-header(href="#info-2" data-toggle="collapse" aria-expanded="false" aria-controls="#info-2" role="button") 
                  .accordion-title Người lớn #[span 2]: 
                    strong.text-primary.ml-1 Mr. Phạm Thanh Long
                  .text-helper.ml-auto 30kg chiều đi, 30kg chiều về 
                  span.ic-chevron-down
                .accordion-body.collapse.multi-collapse#info-2
                  .accordion-body-wrapper
                    fieldset.mb-3 
                      legend Thông tin cá nhân: 
                      .d-flex.flex-wrap 
                        span.mr-5 Danh xưng:
                        +radio('Ông', 'name-title-2', true, 'name-title-3', null, 'read-only')(class="mr-3")
                        //- +radio('Bà', 'name-title-2', false, 'name-title-4', null, 'disabled')
                      .row 
                        .col-md-6
                          +input-group-outline('Họ <span class="text-red">*</span>', 'text', 'firstname-3', 'VD: Tran', 'Vui lòng nhập Họ của người lớn 2', null, 'read-only', 'Pham')
                        .col-md-6 
                          +input-group-outline('Tên và tên đệm  <span class="text-red">*</span>', 'text', 'lastname-3', 'VD: Phuong Thuy', 'Vui lòng nhập Tên và tên đệm', null, 'read-only', 'Thanh Long')
                    fieldset 
                      legend Hành lý ký gửi (mua thêm):
                      .row 
                        .col-md-6 
                          +input-group-outline-select(
                            'Chiều đi (HAN <span class="ic-one-way"></span> UIH)',
                            ['Lựa chọn hành lý chiều đi', '20kg', '15kg'],
                            'luggage-from-2',
                            'read-only',
                            '30kg'
                          )
                        .col-md-6 
                          +input-group-outline-select(
                            'Chiều về (UIH <span class="ic-one-way"></span> HAN)',
                            ['Lựa chọn hành lý chiều về', '20kg', '15kg'],
                            'luggage-fro2',
                            'read-only',
                            '30kg'
                          )
              .accordion.mb-2
                a.accordion-header(href="#info-3" data-toggle="collapse" aria-expanded="false" aria-controls="#info-3" role="button") 
                  .accordion-title Trẻ em: 
                    strong.text-primary.ml-1 Anna Pham
                  .text-helper.ml-auto
                  span.ic-chevron-down
                .accordion-body.collapse.multi-collapse#info-3
                  .accordion-body-wrapper
                    fieldset
                      legend Thông tin cá nhân: 
                      .d-flex.flex-wrap 
                        span.mr-5 Giới tính:
                        //- +radio('Nam', 'name-title-3', false, 'name-title-5', 'disabled')(class="mr-3")
                        +radio('Nữ', 'name-title-3', true, 'name-title-6', 'read-only')
                      .row 
                        .col-md-6
                          +input-group-outline('Họ <span class="text-red">*</span>', 'text', 'firstname-3', 'VD: Tran', 'Vui lòng nhập Họ của người lớn 2', null, 'read-only', 'Pham')
                        .col-md-6 
                          +input-group-outline('Tên và tên đệm  <span class="text-red">*</span>', 'text', 'lastname-3', 'VD: Phuong Thuy', 'Vui lòng nhập Tên và tên đệm', null, 'read-only', 'Anna')
              .accordion.mb-2
                a.accordion-header(href="#info-4" data-toggle="collapse" aria-expanded="false" aria-controls="#info-4" role="button") 
                  .accordion-title Em bé: 
                    strong.text-primary.ml-1 Bella Pham
                  .text-helper.ml-auto
                  span.ic-chevron-down
                .accordion-body.collapse.multi-collapse#info-4
                  .accordion-body-wrapper
                    fieldset.mb-3 
                      legend Thông tin cá nhân: 
                      .d-flex.flex-wrap 
                        span.mr-5 Giới tính:
                        //- +radio('Nam', 'name-title-4', false, 'name-title-7', null, 'disabled')(class="mr-3")
                        +radio('Nữ', 'name-title-4', true, 'name-title-8', null, 'read-only')
                      .row 
                        .col-md-6
                          +input-group-outline('Họ <span class="text-red">*</span>', 'text', 'firstname-4', 'VD: Tran', 'Vui lòng nhập Họ của em bé', null, 'read-only', 'Pham')
                        .col-md-6 
                          +input-group-outline('Tên và tên đệm  <span class="text-red">*</span>', 'text', 'lastname-4', 'VD: Phuong Thuy', 'Vui lòng nhập Tên và tên đệm', null, 'read-only', 'Bella')
                        .col-md-6
                          .input-group.input-group-outline.is-readonly
                            label.input-group-label Ngày sinh #[span.text-red *]
                            .input-group-control 20/03/2020
            article.mb-5
              +heading-line('3. Thông tin thanh toán')
              .block.block-lg.mb-3 
                .row.justify-content-center
                  .col-lg-6 
                    h4.text-lead Vé chiều đi
                    table.table-no-border.w-100 
                      tbody 
                        tr 
                          th Vé người lớn 
                          td.text-right 1.740.000 VND x2
                        tr 
                          th Vé trẻ em (2-12 tuổi) 
                          td.text-right 1.305.000 VND
                        tr 
                          th Hành lý mua thêm (30kg x 3)
                          td.text-right 1.305.000 VND 
                        tr 
                          th Hành lý mua thêm (20kg x 1)
                          td.text-right 1.305.000 VND 
                        tr
                          td(colspan="2") 
                            .devider.devider-dashed
                        tr 
                          th Tổng giá vé chiều đi:
                          td.text-right 
                            .price.price-dark #[span 4.785.000 đ]
                    p.text-helper.text-right (Giá vé đã bao gồm thuế và phụ phí đi kèm)
                  .col-lg-6 
                    h4.text-lead Vé chiều về
                    table.table-no-border.w-100 
                      tbody 
                        tr 
                          th Vé người lớn 
                          td.text-right 1.740.000 VND x2
                        tr 
                          th Vé trẻ em (2-12 tuổi) 
                          td.text-right 1.305.000 VND
                        tr 
                          th Hành lý mua thêm (30kg x 3)
                          td.text-right 1.305.000 VND 
                        tr 
                          th Hành lý mua thêm (20kg x 1)
                          td.text-right 1.305.000 VND 
                        tr
                          td(colspan="2") 
                            .devider.devider-dashed
                        tr 
                          th Tổng giá vé chiều đi:
                          td.text-right 
                            .price.price-dark #[span 4.785.000 đ]
                    p.text-helper.text-right (Giá vé đã bao gồm thuế và phụ phí đi kèm)
              
              include components/_promotion-code 

              .text-center.mt-5 
                p.mb-0 Tổng giá vé khứ hồi
                p.price.price-lg #[span 9.570.000 VND]
                .d-flex.flex-wrap.justify-content-center 
                  button.button.button-default.mr-3 Quay lại
                  button.button.button-primary Xác nhận đặt vé
                p.text-helper.text-primary.mt-3 (Tài khoản của bạn sẽ nhận được 500 điểm)

  include components/_special-sa
  include components/_footer