extends layout/_layout
block content
  //- Variables
  - var title = 'Hoàn thành';
  - var titleSubpage = 'Hoàn thành';
  - var bgHeaderSubpage = './assets/images/hero-banner-subpage.jpg';
  - var logo = './assets/images/logo.svg';

  include components/_header

  .bg-gray.pt-6.pb-7
    section.text-center.section-status
      .container
        img(src="./assets/images/watch.svg", alt="wait").img-status.img-status--warning
        p.text-description Đã tiếp nhận đơn hàng và chờ thanh toán…      
    section.section-finish
      .container
        .flag-status.warning Chờ thanh toán
        .block.block-xl.shadow-special
          div 
            h3.order-code Mã đơn hàng: #[a.text-primary(href="#") #34835987429857]
            .list-info
              dl 
                dt Ngày đặt:
                dd 12:00 - 18/10/2020
              dl
                dt Ngày hết hạn:
                dd 14:30 - 23/10/2020
              dl
                dt Nơi xuất vé:
                dd 8Trip.vn
          table.table-no-border.w-100.spacing-top
            tbody 
              tr 
                th.text-lead.p-0 HÀNH KHÁCH(4) 
                td.text-right.text-semibold.p-0 2 người lớn, 1 trẻ em, 1 em bé
              tr
                td(colspan="2")
                  .devider.devider-thick
              tr 
                th 1/ Ms. Tran Phuong Thuy 
                td.text-right 20kg hành lý chiều đi, 20kg hành lý chiều về
              tr
                td(colspan="2")
                  .devider
              tr 
                th 2/ Mr. Pham Thanh Long
                td.text-right -
              tr
                td(colspan="2")
                  .devider
              tr 
                th 3/ Ten em be nao do(NS: 20/02/2020)
                td.text-right - 
              tr
                td(colspan="2") 
                  .devider
              tr 
                th 4/ Ten tre em nao day
                td.text-right -
          table.table-no-border.table-ver-top.w-100.spacing-top
            tbody 
              tr 
                th.text-lead.p-0 THÔNG TIN CHUYẾN BAY & thanh toán 
                td.text-right.text-semibold.p-0 Chuyển khoản ngân hàng
              tr
                td(colspan="2")
                  .devider.devider-thick
              tr 
                th
                  .text-sub Chuyến bay đi:#[span 18/03/2020]
                  .time-flight 
                    span 12:35
                    span Hà Nội (HAN)
                  .time-flight 
                    span 17:15
                    span Quy Nhơn (UIH)
                td.text-right 4.785.000 VND
              tr
                td(colspan="2") 
                  .devider
              tr 
                th
                  .text-sub Chuyến bay về:#[span 18/03/2020]
                  .time-flight 
                    span 12:35
                    span Quy Nhơn (UIH)
                  .time-flight 
                    span 17:15
                    span Hà Nội (HAN)
                td.text-right 4.785.000 VND
              tr
                td(colspan="2") 
                  .devider
          .info-checkout.row
            .col-6
              p Thông tin hữu ích
              a(href="#") Hướng dẫn thủ tục checkin
              a(href="#") Chính sách đổi, trả vé
              a(href="#") Thông tin nào đó cần thiết
            .col-6.text-right
              p.text-description Số tiền cần thanh toán:&nbsp;&nbsp; 
                span.price
                  span 9.570.000 VND
              p Quý khách vui lòng chuyển khoản tới tài khoản bên dưới trước <strong>12:00 ngày 16/8/2020</strong> để được giữ chỗ với mức giá tốt nhất.
              +card-copy('./assets/images/logo-vp.png')(data-copy="23749873491874").text-left.pt-3
                p #[span.text-semibold Chủ TK:] Cong Ty CP Truyen Thong Song Sang
                p #[span.text-semibold Ngân hàng:] VP bank
                p #[span.text-semibold Chi nhánh:] Sở giao dịch
                p #[span.text-semibold Số TK:] #[span.text-bold 23749873491874]
              a(href="#").text-primary.pt-4 Đổi phương thức thanh toán
  include components/_footer