extends layout/_layout
block content
  //- Variables
  - var title = 'Thông tin đặt vé';
  - var logo = './assets/images/logo.svg';

  include components/_header
  
  .bg-gray.py-6 
    .container
      section.mb-5 
        ul.list-steps 
          li
            +step(1, 'Chọn chuyến bay', 'success')
          li
            +step(2, 'Thông tin hành khách', 'active')
          li
            +step(3, 'Xác nhận thông tin')
          li
            +step(4, 'Thanh toán')
        
      section
        form.row 
          .col-lg-8.mb-6.mb-lg-0 
            section 
              .pb-6
                +card-intro()
              article.mb-5
                +heading-line('1. Thông tin người liên hệ')
                .block.block-lg 
                  p Quý khách vui lòng điền đầy đủ thông tin bên dưới để nhận thông tin đầy đủ về chuyến bay đã đặt.
                  .row 
                    .col-md-6
                      +input-group-outline('Họ <span class="text-red">*</span>', 'text', 'firstname-1', 'VD: Tran', 'Vui lòng nhập Họ của người liên hệ')(class='is-error') 
                    .col-md-6 
                      +input-group-outline('Tên và tên đệm  <span class="text-red">*</span>', 'text', 'lastname-1', 'VD: Phuong Thuy', 'Vui lòng nhập Tên và tên đệm của người liên hệ')
                  .row 
                    .col-xl-6
                      +input-group-outline('Số điện thoại', 'tel', 'mobile', 'VD: 338462828', 'Vui lòng nhập số điện thoại')(class='input-group-multiple-control') 
                        //- span.input-group-flag
                        //-   img.flag(src="./assets/images/flag-vn.svg" alt="VN flag")
                        //-   span +84 
                    .col-xl-6 
                      +input-group-outline('Email <span class="text-red">*</span>', 'email', 'email', 'VD: abc@8trip.vn', 'Vui lòng nhập email!')

              article.mb-5
                +heading-line('2. Thông tin hành khách <span>(4)</span>')
                  a.link.js-toggle-collapse(
                    role="button" 
                    aria-expanded="true" 
                    data-target=".multi-collapse" 
                    href="#" 
                    data-text-collapse="Mở tất cả"
                    tabindex="-1"
                  ) Thu gọn tất cả 
                p Quý khách vui lòng điền đẩy đủ thông tin hành khách tham gia chuyến bay…
                .accordion.mb-2
                  a.accordion-header.collapsed(href="#info-1" data-toggle="collapse" aria-expanded="true" aria-controls="#info-1" role="button" tabindex="-1") 
                    .accordion-title Người lớn #[span 1]: 
                      span.text-primary.ml-1 
                        span(data-type="name-title") Bà
                        | &nbsp;
                        span(data-type="firstname") Trần
                        | &nbsp;
                        span(data-type="lastname") Phương Thuỷ
                    .text-helper.ml-auto 
                      span(data-type="luggage-from") 30kg chiều đi
                      | ,&nbsp; 
                      span(data-type="luggage-to") 30kg chiều về
                    span.ic-chevron-down
                  .accordion-body.collapse.multi-collapse.show#info-1 
                    .accordion-body-wrapper
                      fieldset.mb-3 
                        legend Thông tin cá nhân: 
                        .d-flex.flex-wrap 
                          span.mr-5 Danh xưng:
                          +radio('Ông', 'name-title-1', false, 'name-title-1')(class="mr-3" data-target-value="name-title")
                          +radio('Bà', 'name-title-1', true, 'name-title-2')(data-target-value="name-title")
                        .row 
                          .col-md-6
                            +input-group-outline('Họ <span class="text-red">*</span>', 'text', 'firstname-2', 'VD: Tran', 'Vui lòng nhập Họ của người lớn 1')(data-target-value="firstname")
                          .col-md-6 
                            +input-group-outline('Tên và tên đệm  <span class="text-red">*</span>', 'text', 'lastname-2', 'VD: Phuong Thuy', 'Vui lòng nhập Tên và tên đệm')(data-target-value="lastname")
                      fieldset 
                        legend Hành lý ký gửi (mua thêm):
                        .row 
                          .col-md-6 
                            +input-group-outline-select(
                              'Chiều đi (HAN <span class="ic-one-way"></span> UIH)',
                              ['Lựa chọn hành lý chiều đi', '20kg', '15kg'],
                              'luggage-from-1'
                            )(data-target-value="luggage-from" data-text-prefix="" data-text-suffix="chiều đi")
                          .col-md-6 
                            +input-group-outline-select(
                              'Chiều về (UIH <span class="ic-one-way"></span> HAN)',
                              ['Lựa chọn hành lý chiều về', '20kg', '15kg'],
                              'luggage-to-1'
                            )(data-target-value="luggage-to"  data-text-prefix="" data-text-suffix="chiều về")
                .accordion.mb-2
                  a.accordion-header(href="#info-2" data-toggle="collapse" aria-expanded="false" aria-controls="#info-2" role="button" tabindex="-1") 
                    .accordion-title Người lớn #[span 2]: 
                      span.text-primary.ml-1
                        span(data-type="name-title")
                        | &nbsp;
                        span(data-type="firstname")
                        | &nbsp;
                        span(data-type="lastname")
                    .text-helper.ml-auto
                      span(data-type="luggage-from")
                      | ,&nbsp; 
                      span(data-type="luggage-to")
                    span.ic-chevron-down
                  .accordion-body.collapse.multi-collapse#info-2
                    .accordion-body-wrapper
                      fieldset.mb-3 
                        legend Thông tin cá nhân: 
                        .d-flex.flex-wrap 
                          span.mr-5 Danh xưng:
                          +radio('Ông', 'name-title-3', true, 'name-title-5')(class="mr-3" data-target-value="name-title")
                          +radio('Bà', 'name-title-3', false, 'name-title-6')(data-target-value="name-title")
                        .row 
                          .col-md-6
                            +input-group-outline('Họ <span class="text-red">*</span>', 'text', 'firstname-3', 'VD: Tran', 'Vui lòng nhập Họ của người lớn 2')(data-target-value="firstname")
                          .col-md-6 
                            +input-group-outline('Tên và tên đệm  <span class="text-red">*</span>', 'text', 'lastname-3', 'VD: Phuong Thuy', 'Vui lòng nhập Tên và tên đệm')(data-target-value="lastname")
                      fieldset 
                        legend Hành lý ký gửi (mua thêm):
                        .row 
                          .col-md-6 
                            +input-group-outline-select(
                              'Chiều đi (HAN <span class="ic-one-way"></span> UIH)',
                              ['Lựa chọn hành lý chiều đi', '20kg', '15kg'],
                              'luggage-from-1'
                            )(data-target-value="luggage-from" data-text-prefix="" data-text-suffix="chiều đi")
                          .col-md-6 
                            +input-group-outline-select(
                              'Chiều về (UIH <span class="ic-one-way"></span> HAN)',
                              ['Lựa chọn hành lý chiều về', '20kg', '15kg'],
                              'luggage-to-1'
                            )(data-target-value="luggage-to"  data-text-prefix="" data-text-suffix="chiều về")
                .accordion.mb-2
                  a.accordion-header(href="#info-3" data-toggle="collapse" aria-expanded="false" aria-controls="#info-3" role="button" tabindex="-1") 
                    .accordion-title Trẻ em #[span 1]: 
                      strong.text-primary.ml-1
                        span(data-type="firstname")
                        | &nbsp;
                        span(data-type="lastname")
                    span.ic-chevron-down
                  .accordion-body.collapse.multi-collapse#info-3
                    .accordion-body-wrapper
                      fieldset
                        legend Thông tin cá nhân: 
                        .d-flex.flex-wrap 
                          span.mr-5 Giới tính:
                          +radio('Nam', 'name-title-40', true, 'name-title-70')(class="mr-3" data-target-value="gender")
                          +radio('Nữ', 'name-title-40', false, 'name-title-80')(data-target-value="gender")
                        .row 
                          .col-md-6
                            +input-group-outline('Họ <span class="text-red">*</span>', 'text', 'firstname-3', 'VD: Tran', 'Vui lòng nhập Họ của người lớn 2')
                          .col-md-6 
                            +input-group-outline('Tên và tên đệm  <span class="text-red">*</span>', 'text', 'lastname-3', 'VD: Phuong Thuy', 'Vui lòng nhập Tên và tên đệm')
                .accordion.mb-2
                  a.accordion-header(href="#info-4" data-toggle="collapse" aria-expanded="false" aria-controls="#info-4" role="button" tabindex="-1") 
                    .accordion-title Em bé #[span 1]: 
                      strong.text-primary.ml-1
                        span(data-type="gender")
                        | &nbsp;
                        span(data-type="firstname")
                        | &nbsp;
                        span(data-type="lastname")
                    .text-helper.ml-auto
                      span(data-type="birthday")
                    span.ic-chevron-down
                  .accordion-body.collapse.multi-collapse#info-4
                    .accordion-body-wrapper
                      fieldset.mb-3 
                        legend Thông tin cá nhân: 
                        .d-flex.flex-wrap 
                          span.mr-5 Giới tính:
                          +radio('Nam', 'name-title-4', true, 'name-title-7')(class="mr-3" data-target-value="gender" data-text-replace="Bé trai")
                          +radio('Nữ', 'name-title-4', false, 'name-title-8')(data-target-value="gender" data-text-replace="Bé gái")
                        .row 
                          .col-md-6
                            +input-group-outline('Họ <span class="text-red">*</span>', 'text', 'firstname-4', 'VD: Tran', 'Vui lòng nhập Họ của em bé')(data-target-value="firstname")
                          .col-md-6 
                            +input-group-outline('Tên và tên đệm  <span class="text-red">*</span>', 'text', 'lastname-4', 'VD: Phuong Thuy', 'Vui lòng nhập Tên và tên đệm')(data-target-value="lastname")
                          .col-md-6
                            .input-group.input-group-outline.js-pick-single-date
                              label.input-group-label Ngày sinh #[span.text-red *]
                              input.input-group-control#input-birthday-4(name='birthday-4' data-target-value="birthday") 
                              .input-group-icon
                                span(class="ic-calendar")
                              .input-helper Vui lòng chọn ngày tháng năm sinh

            .d-flex 
              button.button.button-default.mr-auto Quay lại 
              button.button.button-primary.ml-auto Tiếp tục 
          
          .col-lg-4 
            section.sticky-top
              article.card-flight-selected.card-flight-selected-2.no-border.mb-3 
                header.card-header.flex-wrap.py-3
                  h3.mb-1 Hà Nội #[span.ic-round-trip] Quy Nhơn 
                  p.mb-0 #[span Khứ hồi]   |   #[span 2 người lớn, 1 trẻ em]
                .card-body 
                  .card-body-wrapper 
                    table.table-no-border.w-100 
                      tbody 
                        tr 
                          th Giá vé chiều đi:
                          td.text-right 4.785.000 đ
                        tr 
                          th Giá vé chiều về:
                          td.text-right 4.785.000 đ
                        tr 
                          th Giảm giá:
                          td.text-right.text-success -500.000 đ
                        tr
                          th Tổng bạn phải trả:
                          td.text-right 
                            .price #[span 8.570.000 đ]
                    p.text-helper.text-right.mb-0 (Giá vé đã bao gồm thuế và phụ phí đi kèm)
                  .devider.devider-dashed
                  .card-body-wrapper
                    .d-flex.justify-content-between 
                      a.link#flight-detail-button(href="#modal-flight-detail" data-toggle="modal" data-target="#modal-flight-detail" type="button") Chi tiết
                      a.link(href="#") Thay đổi lịch trình 
              .block.block-sale-code 
                form
                  .input-group.input-group-code.p-0.mb-0
                    label.input-label Mã giảm giá (nếu có)
                    input.input-group-control.text-left.pr-6(type="text" name="code-sale" value="OHU892")
                    button.button.button-primary.button--small Áp dụng
                  p.mt-3.mb-0.text-success Mã giảm giá hợp lệ. Giảm thêm 500.000 VND vào tổng giá vé.
  
  include components/_special-sa
  include components/_footer
                