extends layout/_layout
block content
  //- Variables
  - var title = 'Hoàn thành - Đã thanh toán';
  - var titleSubpage = 'Hoàn thành - Đã thanh toán';
  - var bgHeaderSubpage = './assets/images/hero-banner-subpage.jpg';
  - var logo = './assets/images/logo.svg';

  include components/_header

  .bg-gray.pt-6.pb-7
    section.text-center.section-status
      .container
        img(src="./assets/images/finish.svg", alt="wait").img-status.img-status--success
        p.text-success Thanh toán thành công, Đã xuất vé      
    section.section-finish
      .container
        .flag-status.success Đã thanh toán
        .block.block-xl.shadow-special
          div 
            h3.order-code Mã đơn hàng: #[a.text-primary(href="#") #34835987429857]
            .list-info
              dl 
                dt Ngày đặt:
                dd 12:00 - 18/10/2020
              dl
                dt Ngày hết hạn:
                dd 14:30 - 23/10/2020
              dl
                dt Nơi xuất vé:
                dd 8Trip.vn
          table.table-no-border.w-100.spacing-top
            tbody 
              tr 
                th.text-lead.p-0 HÀNH KHÁCH(4) 
                td.text-right.text-semibold.p-0 2 người lớn, 1 trẻ em, 1 em bé
              tr
                td(colspan="2")
                  .devider.devider-thick
              tr 
                th 1/ Ms. Tran Phuong Thuy 
                td.text-right 20kg hành lý chiều đi, 20kg hành lý chiều về
              tr
                td(colspan="2")
                  .devider
              tr 
                th 2/ Mr. Pham Thanh Long
                td.text-right -
              tr
                td(colspan="2")
                  .devider
              tr 
                th 3/ Ten em be nao do(NS: 20/02/2020)
                td.text-right - 
              tr
                td(colspan="2") 
                  .devider
              tr 
                th 4/ Ten tre em nao day
                td.text-right -
          
          table.table-no-border.table-ver-top.w-100.spacing-top.table-bg-light
            tbody 
              tr.fixed-row 
                th.text-lead.p-0 THÔNG TIN CHUYẾN BAY & THANH TOÁN	
                td.text-right.text-semibold.p-0 Chuyển khoản ngân hàng
              tr.fixed-row
                td(colspan="2")
                  .devider.devider-thick
              tr 
                td
                  .table-title.text-uppercase CHUYẾN BAY ĐI: 18/03/2020
                td.text-right 4.785.000 VND
              tr
                td(colspan="2").p-0
                  table.w-100.table-mul-class
                    tr
                      td 
                        .time-flight 
                          span 12:35
                          span Hà Nội (HAN)
                      td.text-right
                    tr
                      td  
                        .time-flight 
                          span 17:15
                          span Quy Nhơn (UIH)
                      td.text-right
              tr
                td(colspan="2") 
                  .devider
              tr 
                td
                  .table-title.text-uppercase CHUYẾN BAY VỀ: 18/03/2020
                td.text-right 4.785.000 VND
              tr
                td(colspan="2").p-0
                  table.w-100.table-mul-class
                    tr
                      td 
                        .time-flight 
                          span 12:35
                          span Quy Nhơn (UIH)
                      td.text-right
                    tr
                      td  
                        .time-flight 
                          span 17:15
                          span Hà Nội (HAN)
                      td.text-right
              tr
                td(colspan="2") 
                  .devider
          .info-checkout.row
            .col-6
              p Thông tin hữu ích
              a(href="#") Hướng dẫn thủ tục checkin
              a(href="#") Chính sách đổi, trả vé
              a(href="#") Thông tin nào đó cần thiết
            .col-6.text-right
              p.text-description Số tiền cần thanh toán:&nbsp;&nbsp; 
                span.price.price-dark
                  span 9.570.000 VND
        .text-center.mt-6
          button.button.button-primary Về trang chủ
  include components/_footer