extends layout/_layout
block content
  //- Variables
  - var title = 'Tìm kiếm chuyến bay';
  - var titleSubpage = 'Kết quả tìm kiếm';
  - var bgHeaderSubpage = './assets/images/hero-banner-subpage.jpg';
  - var logo = './assets/images/logo.svg';

  include components/_header
  
  .bg-gray.py-6 
    .container
      .row.justify-content-center.mb-4.text-center 
        .col-xl-10
          h1 Thông tin đặt vé
      .row.justify-content-center.mb-4 
        .col-xl-5.col-lg-6.mb-3.mb-lg-0 
          article.card-flight-selected.mx-auto.h-100
            header.card-header 
              h4.card-title Chiều đi
              a#flight-detail-button(href="#modal-flight-detail" data-toggle="modal" data-target="#modal-flight-detail" type="button") Chi tiết vé
            .card-body
              .card-body-wrapper 
                .d-flex.justify-content-between.mb-3 
                  p.mb-0 Khởi hành: 
                    strong HAN #[span.ic-one-way] UIH
                  .logo-text.mb-2
                    .logo
                      img(src="./assets/images/logo-bamboo.png" alt="Bamboo") 
                    .text 
                      span QH1213
                .d-flex.justify-content-between 
                  .d-flex
                    .text-label.text-label-left 
                      span 12:35 
                      span 18/03/2020
                    .dot-connect.dot-connect-lg 
                      span.ic-flight-2
                    .text-label.text-label-right 
                      span 17:15 
                      span 18/03/2020
                  .text-label.text-label-right
                    span Giờ bay: 3h40m
                    span Hạng ghế: Economy
              .devider
              .card-body-wrapper
                table.table-no-border.w-100 
                  tbody 
                    tr 
                      th Vé người lớn 
                      td.text-right 1.740.000 VND x2
                    tr 
                      th Vé trẻ em (2-12 tuổi) 
                      td.text-right 1.305.000 VND
                    tr
                      td(colspan="2") 
                        .devider.devider-dashed
                    tr 
                      th Tổng giá vé chiều đi:
                      td.text-right 
                        .price.price-dark #[span 4.785.000 đ]
                p.text-helper.text-right (Giá vé đã bao gồm thuế và phụ phí đi kèm)
        .col-xl-5.col-lg-6
          article.card-flight-selected.mx-auto.h-100
            header.card-header 
              h4.card-title Chiều về
              a#flight-detail-button(href="#modal-flight-detail" data-toggle="modal" data-target="#modal-flight-detail" type="button") Chi tiết vé
            .card-body
              .card-body-wrapper 
                .d-flex.justify-content-between.mb-3 
                  p.mb-0 Khởi hành: 
                    strong HAN #[span.ic-one-way] UIH
                  .logo-text.mb-2
                    .logo
                      img(src="./assets/images/logo-bamboo.png" alt="Bamboo") 
                    .text 
                      span QH1213
                .d-flex.justify-content-between 
                  .d-flex
                    .text-label.text-label-left 
                      span 12:35 
                      span 18/03/2020
                    .dot-connect.dot-connect-lg 
                      span.ic-flight-2
                    .text-label.text-label-right 
                      span 17:15 
                      span 18/03/2020
                  .text-label.text-label-right
                    span Giờ bay: 3h40m
                    span Hạng ghế: Economy #[br] 1 điểm dừng
              .devider
              .card-body-wrapper
                table.table-no-border.w-100 
                  tbody 
                    tr 
                      th Vé người lớn 
                      td.text-right 1.740.000 VND x2
                    tr 
                      th Vé trẻ em (2-12 tuổi) 
                      td.text-right 1.305.000 VND
                    tr
                      td(colspan="2") 
                        .devider.devider-dashed
                    tr 
                      th Tổng giá vé chiều đi:
                      td.text-right 
                        .price.price-dark #[span 4.785.000 đ]
                p.text-helper.text-right (Giá vé đã bao gồm thuế và phụ phí đi kèm)
      .row.justify-content-center 
        .col-xl-10 
          .text-center 
            p.mb-0 Tổng giá vé tạm tính 
            p.price.price-lg #[span 9.570.000 VND]
            .d-flex.flex-wrap.justify-content-center 
              button.button.button-outline-primary.mr-3 Đổi vé khác 
              button.button.button-primary Đặt vé ngay
  include components/_special-sa
  include components/_footer