extends layout/_layout
block content
  //- Variables
  - var bgHeader = './assets/images/bg-header.svg';
  - var logo = './assets/images/logo.svg';
  - var isLogin = true;
  - 
    var bannerSliders = [
      './assets/images/banner-small-1.jpg',
      './assets/images/banner-small-2.jpg',
      './assets/images/banner-small-3.jpg',
      './assets/images/banner-small-2.jpg',
      './assets/images/banner-small-3.jpg',
      './assets/images/banner-small-1.jpg',
      './assets/images/banner-small-2.jpg',
      './assets/images/banner-small-3.jpg',
      './assets/images/banner-small-2.jpg',
      './assets/images/banner-small-3.jpg'
    ];
    var goodFlights = [
      {
        name: 'Hà Nội',
        className: '.ticket-Ha-noi',
        active: 'active'
      },
      {
        name: 'TP.Hồ Chí Minh',
        className: '.ticket-HCM'
      },
      {
        name: 'Đà Lạt',
        className: '.ticket-Da-Lat'
      },
      {
        name: 'Nha Trang',
        className: '.ticket-Nha-Trang'
      },
      {
        name: 'Singapore',
        className: '.ticket-Singapore'
      },
      {
        name: 'Paris',
        className: '.ticket-Paris'
      },
      {
        name: 'Chiangmai',
        className: '.ticket-Chiangmai'
      },
      {
        name: 'Kualalumpur',
        className: '.ticket-Kualalumpur'
      }
    ];
    var news = [
      {
        thumb: './assets/images/banner-chiangmai.jpg',
        title: 'Kinh nghiệm du lịch Chiangmai',
        description: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos etundefined'
      },
      {
        thumb: './assets/images/banner-hongkong.jpg',
        title: 'Các loại thẻ cần thiết khi đi HongKong',
        description: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos etundefined'
      },
      {
        thumb: './assets/images/banner-tokyo.jpg',
        title: 'Note ngay khách sạn giá rẻ tại Tokyo',
        description: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod At vero eos etundefined'
      }
    ];
    var gridBanners = [
      './assets/images/grid-banner-1.jpg',
      './assets/images/grid-banner-2.jpg',
      './assets/images/banner-tokyo.jpg',
      './assets/images/banner-chiangmai.jpg',
      './assets/images/grid-banner-3.jpg'
    ]
  - var isStickyHeader = true;
  include components/_header
  include components/_hero-banner
  include components/_search-box

  section.pt-0.pb-6 
    .container 
      .row.justify-content-center 
        .col-xl-8.col-lg-10.text-center 
          .mb-5
            h2 Phù hợp với bạn 
      .grid-banner
        //- each banner, index in gridBanners
        //-   - var className = index == 0 ? 'square' : ''; 
        //-   a.grid-item(href="#" class=className)
        //-     img(src=banner alt="Banner") 
        .row 
          .col-sm-5 
            a.grid-item.square(href="#").animate-img
              img(src=gridBanners[0] alt="Banner")
          .col-sm-7 
            .row 
              .col-sm-5 
                a.grid-item(href="#").animate-img
                  img(src=gridBanners[1] alt="Banner")
              .col-sm-7
                a.grid-item.rectangle(href="#").animate-img
                  img(src=gridBanners[2] alt="Banner")
            .row 
              .col-sm-7 
                a.grid-item.rectangle(href="#").animate-img
                  img(src=gridBanners[3] alt="Banner")
              .col-sm-5
                a.grid-item(href="#").animate-img
                  img(src=gridBanners[4] alt="Banner")
  section.pt-0.pb-6 
    .container 
      .row.justify-content-center 
        .col-xl-8.col-lg-10.text-center 
          .mb-5
            h2 Ưu đãi mới nhất 
            p Chúng tôi luôn cập nhật những ưu đãi mới nhất phù hợp với bạn. Thoả sức vi vu đến các địa điểm nổi tiếng khắp nơi trên thế giới.

      .filter-group.filter-1-column.js-filter-group
        .filter-button-group 
          button.button-tag.active(data-filter=".filter-flight") Vé máy bay 
          button.button-tag(data-filter=".filter-hotel") Khách sạn
          button.button-tag(data-filter=".filter-car") Xe sân bay
        .filter(data-default=".filter-flight")
          .filter-item.filter-flight
            .row 
              .slider.slider-3.slider--show-control 
                each image, index in bannerSliders 
                  div.slider-item
                    a(href="#" title="Banner name")
                      img(src=image alt="Banner")
          .filter-item.filter-hotel 
            .row 
              .slider.slider-3.slider--show-control 
                each image, index in bannerSliders 
                  div.slider-item
                    a(href="#" title="Banner name")
                      img(src=image alt="Banner")
          .filter-item.filter-car 
            .row 
              .slider.slider-3.slider--show-control 
                each image, index in bannerSliders 
                  div.slider-item
                    a(href="#" title="Banner name")
                      img(src=image alt="Banner")

  section.pt-6.pb-lg-7.pb-6  
    .container 
      .row.justify-content-center 
        .col-xl-8.col-lg-10.text-center
          .mb-5
            h2 Các chuyến bay giá tốt
      .filter-group.filter-group-4-columns.js-filter-group
        .filter-button-group 
          each flight in goodFlights
            button.button-tag(class=flight.active ? 'active' : '' data-filter=flight.className) #{flight.name}
        .filter(data-default='.ticket-Ha-noi')
          .filter-item.ticket-Ha-noi 
            +ticket-small('./assets/images/logo-bamboo.png', 'Hà Nội', 'Đà Nẵng', 'one-way', 'T2 23/02 - T5 26/02', '850.000 VND', false)
          .filter-item.ticket-Ha-noi  
            +ticket-small('./assets/images/logo-bamboo.png', 'Hà Nội', 'Kuala Lumpur', 'round-trip', 'T2 23/02 - T5 26/02', '2.550.000 VND', true, 'Vé rẻ')
          .filter-item.ticket-HCM  
            +ticket-small('./assets/images/logo-bamboo.png', 'TP.Hồ Chí Minh', 'Kuala Lumpur', 'round-trip', 'T2 23/02 - T5 26/02', '2.550.000 VND', true, 'Vé rẻ')
          .filter-item.ticket-Ha-noi  
            +ticket-small('./assets/images/logo-bamboo.png', 'Hà Nội', 'Hong Kong', 'round-trip', 'T2 23/02 - T5 26/02', '5.300.000 VND', false)
          .filter-item.ticket-Ha-noi  
            +ticket-small('./assets/images/logo-bamboo.png', 'Hà Nội', 'Buôn Ma Thuột', 'one-way', 'T2 23/02 - T5 26/02', '1.266.000 VND', false)
          .filter-item.ticket-Ha-noi  
            +ticket-small('./assets/images/logo-bamboo.png', 'Hà Nội', 'Hong Kong', 'round-trip', 'T2 23/02 - T5 26/02', '5.300.000 VND', false)
          .filter-item.ticket-Ha-noi  
            +ticket-small('./assets/images/logo-bamboo.png', 'Hà Nội', 'Buôn Ma Thuột', 'one-way', 'T2 23/02 - T5 26/02', '1.266.000 VND', false)
          .filter-item.ticket-Ha-noi  
            +ticket-small('./assets/images/logo-bamboo.png', 'Hà Nội', 'Đà Nẵng', 'one-way', 'T2 23/02 - T5 26/02', '850.000 VND', false)
          .filter-item.ticket-Ha-noi  
            +ticket-small('./assets/images/logo-bamboo.png', 'Hà Nội', 'Kuala Lumpur', 'round-trip', 'T2 23/02 - T5 26/02', '2.550.000 VND', true, 'Vé rẻ')
          .filter-item.ticket-HCM  
            +ticket-small('./assets/images/logo-bamboo.png', 'TP.Hồ Chí Minh', 'Kuala Lumpur', 'round-trip', 'T2 23/02 - T5 26/02', '2.550.000 VND', true, 'Vé rẻ')
          .filter-item.ticket-HCM  
            +ticket-small('./assets/images/logo-bamboo.png', 'TP.Hồ Chí Minh', 'Kuala Lumpur', 'round-trip', 'T2 23/02 - T5 26/02', '2.550.000 VND', true, 'Vé rẻ')
          .filter-item.ticket-HCM  
            +ticket-small('./assets/images/logo-bamboo.png', 'TP.Hồ Chí Minh', 'Kuala Lumpur Kuala Lumpur Kuala Lumpur', 'round-trip', 'T2 23/02 - T5 26/02', '2.550.000 VND', true, 'Vé rẻ')
          .filter-item.ticket-HCM  
            +ticket-small('./assets/images/logo-bamboo.png', 'TP.Hồ Chí Minh', 'Kuala Lumpur', 'round-trip', 'T2 23/02 - T5 26/02', '2.550.000 VND', true, 'Vé rẻ')
      .text-center 
        p.text-helper *Giá vé dành cho 01 người và đã bao gồm Thuế, phụ phí đi kèm
        a.button.button-primary.mt-4(href="#" title="Xem thêm") Xem thêm

  include components/_special-sa

  section.py-lg-7.py-6 
    .container 
      .row.justify-content-center 
        .col-xl-8.col-lg-10.text-center 
          .mb-5
            h2 Tin tức du lịch
      .row 
        each item in news 
          - var classSpacing = index != specialSA.length - 1 ? "mb-5" : "";
          .col-lg-4.col-md-6.mb-lg-0(class=classSpacing) 
            .card.card-news  
              .card-thumb 
                a(href="#" title=item.title)
                  img(src=item.thumb alt=item.title)
              .card-body
                a(href="#" title=item.title)
                  h4.card-title #{item.title}
                p.card-text !{item.description} 
              .card-footer 
                a.button.button-text(href="#" title=item.title) CHI TIẾT

  section.text-light.pb-lg-7.pb-6 
    .container-wrapper
      .bg-gradient-blue.bg-city.banner-app
        .container 
          .row 
            .col-lg-6 
              img.banner-app-thumb(src="./assets/images/mockup-app.png" alt="8Trip app")
            .col-lg-6 
              h2 Tải app ngay, ngàn ưu đãi hấp dẫn từ 8Trip 
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui molestias eveniet quae laboriosam neque, perspiciatis officia ea itaque dolor pariatur deserunt modi nisi nobis nesciunt facilis laborum vel nihil nam. 
              div.badge-group
                a(href="#" title="8Trip on AppStore").mr-3 
                  img(src="./assets/images/badge-appstore.svg")
                a(href="#" title="8Trip on GooglePlay") 
                  img(src="./assets/images/badge-gg-play.svg")

  include components/_footer