extends layout/_layout
block content
  //- Variables
  - var title = 'Thông tin khách sạn';
  - var titleSubpage = '';
  - var bgHeaderSubpage = '';
  - var logo = './assets/images/logo.svg';
  - var isStickyHeader = false;
  - 
    var places = [
      {place: 'Trung tâm mua sắm Sun Plaza', distance: '0 km'},
      {place: 'Sa Pa Central Square', distance: '0,2 km'},
      {place: 'Sa Pa Stone Church', distance: '0,2 km'},
      {place: 'Sa Pa Bus Station', distance: '0,5 km'},
      {place: 'Hồ Sa Pa', distance: '0,7 km'},
      {place: 'Ham Rong Garden - Ham Rong Mountain', distance: '0,7 km'},
      {place: 'Chợ đêm Sa Pa', distance: '1,3 km'},
    ]

  script. 
    var hotelServices = [
      {
        service: 'Bữa sáng',
        pricePerPerson: '200000',
        discountPerChildren: '20%',
        discountPerPerson: '0%',
        discountText: 'Trẻ em giảm 20%'
      },
      {
        service: 'Đưa đón',
        pricePerPerson: '300000',
        discountPerChildren: '100%',
        discountPerPerson: '50%',
        discountText: 'Trẻ em miễn phí, người lớn giảm 50%'
      }
    ];
    var serviceListText = 'Dịch vụ cố định';

  include components/_header
  .shadow-lg.py-3.is-sticky 
    .container
      include components/_search-box--hotel
  .bg-gray-light
    include components/_breadcrumb
    .container
      //- gallery 
      section.section-primary.spacing.hotel-detail
        .hotel-detail__header
          h3.hotel-detail-name Silk Path Grand Resort & Spa Sapa
            +rating-star()
          .evaluate-wrapper
            img(src="./assets/images/tripadvisor.svg", alt="").img-logo-rating
            +rating-dots()
            .text-evaluate 128 đánh giá
          .hotel-address
            .ic-map
            span Đồi Quan 6, Tổ 10, TT. Sa Pa, 10000, Lào Cai, Việt Nam
            span.mx-3 |
            span.text-semibold 1,5km từ trung tâm.
            a(href="#").ml-3 Hiển thị trên bản đồ
        .hotel-detail__gallery.row
          .col-8
            .img-gallery.img-gallery--main.bg-reset(style="background-image: url('./assets/images/hotel-6.jpg');" data-goto-slide="0")
              a(href="#").button-see-more Xem tất cả 320 ảnh
          .col-2
            .img-gallery.img-gallery--small.bg-reset(style="background-image: url('./assets/images/hotel-1.jpg');" data-goto-slide="1")
            .img-gallery.img-gallery--small.bg-reset(style="background-image: url('./assets/images/hotel-2.jpg');" data-goto-slide="2")
            .img-gallery.img-gallery--small.bg-reset(style="background-image: url('./assets/images/hotel-3.jpg');" data-goto-slide="3")
          .col-2
            .img-gallery.img-gallery--small.bg-reset(style="background-image: url('./assets/images/hotel-4.jpg');" data-goto-slide="4")
            .img-gallery.img-gallery--small.bg-reset(style="background-image: url('./assets/images/hotel-5.jpg');" data-goto-slide="5")
            .img-gallery.img-gallery--small.bg-reset(style="background-image: url('./assets/images/hotel-6.jpg');" data-goto-slide="6")
        .hotel-detail__info.row
          .col-8
            .hotel-desc.mb-6
              h4.text-title.text-uppercase Mô tả khách sạn 
              .js-text-expander
                .text-description.line-clamp.text-expander
                  p Nơi lưu trú có dịch vụ đón khách từ sân bay (có thể tính phụ phí). Để sử dụng dịch vụ, khách phải liên hệ nơi lưu trú qua thông tin liên hệ được cung cấp trong xác nhận đặt phòng 24 giờ trước khi đến để xác nhận thời gian và điểm đến. Nơi lưu trú có dịch vụ đón khách từ sân bay (có thể tính phụ phí). Để sử dụng dịch vụ, khách phải liên hệ nơi lưu trú qua thông tin liên hệ được cung cấp trong xác nhận đặt phòng 24 giờ trước khi đến để xác nhận thời gian và điểm đến.
                .text-right
                  a(href="#").js-btn-show Xem chi tiết
                  a(href="#").js-btn-hide Ẩn đi
            .hotel-utilities.mb-6
              h4.text-title.text-uppercase Các tiện ích
              .hotel-utilities-wrapper
                .item-service
                  .ic-wifi
                  span Wifi free, tốc độ cao
                .item-service
                  .ic-atm
                  span Phòng ATM
                .item-service
                  .ic-bell
                  span Lễ tân
                .item-service
                  .ic-waiter
                  span Phục vụ đồ ăn tại phòng
                .item-service
                  .ic-dinner
                  span Nhà hàng
                .item-service
                  .ic-dumbell
                  span Phòng gym
                .item-service
                  .ic-elevator
                  span Thang máy
                .item-service
                  .ic-massage-body
                  span Massage & Spa 
                .item-service
                  .ic-meeting
                  span Phòng họp
                .item-service
                  .ic-parking
                  span Bãi đỗ xe
                .item-service
                  .ic-pin
                  span Hỗ trợ đặt tour
                .item-service
                  .ic-motobike
                  span Cho thuê xe máy
                .item-service
                  .ic-car-2
                  span Dịch vụ xe sân bay
                .item-service
                  .ic-swimming
                  span Hồ bơi
                .item-service
                  .ic-washing-machine
                  span Giặt là 
                .item-service
                  .ic-wine
                  span Tổ chức sự kiện
            .hotel-places 
              h4.text-title.text-uppercase Các địa điểm gần khách sạn
              .text-description
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, asperiores! Dolorem accusamus magni officia temporibus dolor eum nihil esse veritatis omnis libero, commodi quas consequuntur debitis voluptate enim nemo dolore.
              .row 
                .col-lg-8
                  .text-strong.my-3 This is title for each table
                  table.table-dashed
                    tbody 
                      each place in places 
                        tr 
                          td.text-left.pl-0 #{place.place} 
                          td.text-right.text-helper(width="120") #{place.distance}
          .col-4
            h4.text-title.text-uppercase Vị trí
            #map-display.map-small.mb-3(data-map='{"location": {"lat": "-34.397", "lng": "150.644"}, "name": "Name of position here", "zoom": "8"}')
            .text-right
              a.button.button-outline-primary.button--small(href="#" data-toggle="modal" data-target="#modal-hotel-map") Bản đồ
      //- filter 
      section.section-primary.spacing
        .filter-button-group.filter-button-group--seperate.js-multi-filter-group
          button.button-tag Đã bao gồm bữa sáng (20)
          button.button-tag Miễn phí huỷ phòng (19)
          button.button-tag.active Giường Twin (20)
          button.button-tag(disabled) Đã bao gồm bữa sáng (20)
          button.button-tag(disabled) Đã bao gồm bữa sáng (20)
          button.button-tag Đã bao gồm bữa sáng (20)
          button.button-tag(disabled) Đã bao gồm bữa sáng (20)

      //- room 
      include components/_room
      //- policy 
      section.section-primary.spacing
        h4.text-title.text-uppercase.mt-2 Chính sách khách sạn 
        table.table-policy
          tbody
            tr
              th.table-policy__heading Nhận và trả phòng
              td
                span Nhận phòng từ 14:00
                span Trả phòng trước 12:00
                br
                p abc
            tr
              th.table-policy__heading Trẻ em và giường phụ
              td 
                p Trẻ em được chào đón tại khách sạn này.
                br
                .text-dark.text-strong Sử dụng giường sẵn có
                p Đối với mỗi phòng, 1 trẻ dưới 11 tuổi có thể dùng giường sẵn có.
                .sheet-small
                  .sheet-small__title Biểu phí:
                  .sheet-small__content
                    table.table-sheet
                      tbody
                        tr 
                          td(colspan="2").p-0
                            .devider.devider-dashed
                        tr
                          th Trẻ em dưới 11 tuổi: 
                          td Phí 265.000 VND/người/đêm
                        tr 
                          td(colspan="2").p-0
                            .devider.devider-dashed
                br
                .text-dark.text-strong Thêm giường phụ
                p Tối đa 1 giường phụ và 1 nôi mỗi phòng.
                .sheet-small
                  .sheet-small__title Biểu phí:
                  .sheet-small__content
                    table.table-sheet
                      tbody
                        tr 
                          td(colspan="2").p-0
                            .devider.devider-dashed
                        tr
                          th Trẻ em dưới 2 tuổi: 
                          td.text-info Miễn phí   
                        tr 
                          td(colspan="2").p-0
                            .devider.devider-dashed
                        tr
                          th Người lớn:
                          td Phí 265.000 VND/người/đêm
                        tr 
                          td(colspan="2").p-0
                            .devider.devider-dashed
            tr  
              th.table-policy__heading Bữa sáng
              td.sheet-small
                table.table-sheet
                  tbody
                    tr 
                      td(colspan="2").p-0
                        .devider.devider-dashed
                    tr
                      th Menu: 
                      td Buffet
                    tr 
                      td(colspan="2").p-0
                        .devider.devider-dashed
                    tr
                      th Phí:
                      td 1.150.000 VND/người
                    tr 
                      td(colspan="2").p-0
                        .devider.devider-dashed
            tr
              th.table-policy__heading Phương thức thanh toán
              td 
                span Các hình thức thanh toán được chấp nhận tại khách sạn:
                .payments-list
                  img(src="./assets/images/logo-visa.svg", alt="")
                  img(src="./assets/images/logo-mastercard.svg", alt="")
                  img(src="./assets/images/logo-jcb.svg", alt="")
      //- review
      section.section-primary.spacing
        h4.text-title.text-uppercase Đánh giá và nhận xét
        .tab-underline
          ul.nav.nav-tabs(role="tablist")
            li.nav-item
              a.nav-link.active(href="#tab-1" data-toggle="tab" role="tab")
                img(src="./assets/images/tripadvisor-seeklogo.svg", alt="")
                span (234 đánh giá)
            li.nav-item
              a.nav-link(href="#tab-2" data-toggle="tab" role="tab")
                img(src="./assets/images/logo-booking.svg", alt="")
                span (234 đánh giá)
          .tab-content
            #tab-1.tab-pane.active(role="tabpanel")
              p First Panel
            #tab-2.tab-pane(role="tabpanel")
              p Second Panel
      //- suggest 
      section.section-primary.spacing
        h4.text-title.text-uppercase Các khách sạn gần đây
        .slider-4-wrapper
          .slider.slider-4.slider--show-control 
            div.slider-item
              +card-primary('./assets/images/hotel-1.jpg', 'Khách sạn Lenid Thợ Nhuộm', '4.6', '965.837', '267m từ khách sạn')
            div.slider-item
              +card-primary('./assets/images/hotel-1.jpg', 'Khách sạn Lenid Thợ Nhuộm', '4.6', '965.837', '267m từ khách sạn')
            div.slider-item
              +card-primary('./assets/images/hotel-1.jpg', 'Khách sạn Lenid Thợ Nhuộm', '4.6', '965.837', '267m từ khách sạn')
            div.slider-item
              +card-primary('./assets/images/hotel-1.jpg', 'Khách sạn Lenid Thợ Nhuộm', '4.6', '965.837', '267m từ khách sạn')
            div.slider-item
              +card-primary('./assets/images/hotel-1.jpg', 'Khách sạn Lenid Thợ Nhuộm', '4.6', '965.837', '267m từ khách sạn')
            div.slider-item
              +card-primary('./assets/images/hotel-1.jpg', 'Khách sạn Lenid Thợ Nhuộm', '4.6', '965.837', '267m từ khách sạn')
    br
    br
    br
    //- card total 
    include components/_card-total
  include components/_special-sa
  include components/_footer