extends layout/_layout
block content
  //- Variables
  - var title = 'Thông tin đặt phòng';
  - var logo = './assets/images/logo.svg';

  include components/_header

  .bg-gray.py-6 
    .container
      section.mb-5 
        ul.list-steps 
          li
            +step(1, 'Chọn phòng', 'success')
          li
            +step(2, 'Thông tin đặt phòng', 'active')
          li
            +step(3, 'Xác nhận thông tin')
          li
            +step(4, 'Thanh toán')
        
      section
        form.row 
          .col-lg-8.mb-6.mb-lg-0 
            section 
              .pb-6
                +card-intro()
              article.mb-5
                +heading-line('1. Thông tin người liên hệ')
                .block.block-lg 
                  p.text-note Quý khách vui lòng cung cấp thông tin chính xác, để chúng tôi có thể liên lạc và hỗ trợ kịp thời
                  .row 
                    .col-md-6
                      +input-group-outline('Họ <span class="text-red">*</span>', 'text', 'firstname-1', 'VD: Tran', 'Vui lòng nhập Họ của người liên hệ')(class='is-error') 
                    .col-md-6 
                      +input-group-outline('Tên và tên đệm  <span class="text-red">*</span>', 'text', 'lastname-1', 'VD: Phuong Thuy', 'Vui lòng nhập Tên và tên đệm của người liên hệ')
                  .row 
                    .col-xl-6
                      +input-group-outline('Số điện thoại', 'tel', 'mobile', 'VD: 338462828', 'Vui lòng nhập số điện thoại')(class='input-group-multiple-control') 
                        span.input-group-flag
                          img.flag(src="./assets/images/flag-vn.svg" alt="VN flag")
                          span +84 
                    .col-xl-6 
                      +input-group-outline('Email <span class="text-red">*</span>', 'email', 'email', 'VD: abc@8trip.vn', 'Vui lòng nhập email!')

              article.mb-5
                +heading-line('2. Thông tin nhận phòng <span>(2)</span>')
                  a.link.js-toggle-collapse(
                    role="button" 
                    aria-expanded="true" 
                    data-target=".multi-collapse" 
                    href="#" 
                    data-text-collapse="Mở tất cả"
                    tabindex="-1"
                  ) Thu gọn tất cả 
                p Quý khách vui lòng điền đẩy đủ thông tin khách hàng…
                .accordion.mb-2
                  a.accordion-header.collapsed(href="#info-1" data-toggle="collapse" aria-expanded="true" aria-controls="#info-1" role="button" tabindex="-1") 
                    .accordion-title 1. Phòng đơn tiêu chuẩn: 
                      span.text-primary.ml-1 
                        span(data-type="name-title") Bà
                        | &nbsp;
                        span(data-type="firstname") Trần
                        | &nbsp;
                        span(data-type="lastname") Phương Thuỷ
                    .text-helper.ml-auto 
                      span(data-type="service-one")
                      | ,&nbsp; 
                      span(data-type="service-two")
                    span.ic-chevron-down
                  .accordion-body.collapse.multi-collapse.show#info-1 
                    .accordion-body-wrapper
                      fieldset.mb-3 
                        legend Thông tin cá nhân: 
                        .d-flex.flex-wrap 
                          span.mr-5 Danh xưng:
                          +radio('Ông', 'name-title-1', false, 'name-title-1')(class="mr-3" data-target-value="name-title")
                          +radio('Bà', 'name-title-1', true, 'name-title-2')(data-target-value="name-title")
                        .row 
                          .col-md-6
                            +input-group-outline('Họ <span class="text-red">*</span>', 'text', 'firstname-2', 'VD: Tran', 'Vui lòng nhập Họ của người lớn 1')(data-target-value="firstname")
                          .col-md-6 
                            +input-group-outline('Tên và tên đệm  <span class="text-red">*</span>', 'text', 'lastname-2', 'VD: Phuong Thuy', 'Vui lòng nhập Tên và tên đệm')(data-target-value="lastname")
                      fieldset 
                        legend Dịch vụ đặt kèm:
                        +checkbox('Thêm giường phụ', null, 'service-one', null, 'Thêm giường phụ').checkbox--lighter.p-0.pt-2
                        +checkbox('Bữa sáng: Buffet 1.125.000 VND/người', null, 'service-two', null, 'Bữa sáng').checkbox--lighter.p-0.pt-2
                .accordion.mb-2
                  a.accordion-header(href="#info-2" data-toggle="collapse" aria-expanded="false" aria-controls="#info-2" role="button" tabindex="-1") 
                    .accordion-title 2. Phòng mountain view: 
                      span.text-primary.ml-1
                        span(data-type="name-title")
                        | &nbsp;
                        span(data-type="firstname")
                        | &nbsp;
                        span(data-type="lastname")
                    .text-helper.ml-auto
                      span(data-type="service-one")
                      | ,&nbsp; 
                      span(data-type="service-two")
                    span.ic-chevron-down
                  .accordion-body.collapse.multi-collapse#info-2
                    .accordion-body-wrapper
                      fieldset.mb-3 
                        legend Thông tin cá nhân: 
                        .d-flex.flex-wrap 
                          span.mr-5 Danh xưng:
                          +radio('Ông', 'name-title-3', true, 'name-title-5')(class="mr-3" data-target-value="name-title")
                          +radio('Bà', 'name-title-3', false, 'name-title-6')(data-target-value="name-title")
                        .row 
                          .col-md-6
                            +input-group-outline('Họ <span class="text-red">*</span>', 'text', 'firstname-3', 'VD: Tran', 'Vui lòng nhập Họ của người lớn 2')(data-target-value="firstname")
                          .col-md-6 
                            +input-group-outline('Tên và tên đệm  <span class="text-red">*</span>', 'text', 'lastname-3', 'VD: Phuong Thuy', 'Vui lòng nhập Tên và tên đệm')(data-target-value="lastname")
                      fieldset 
                        legend Dịch vụ đặt kèm:
                        +checkbox('Thêm giường phụ', null, 'service-one', null, 'Thêm giường phụ').checkbox--lighter.p-0.pt-2
                        +checkbox('Bữa sáng: Buffet 1.125.000 VND/người', null, 'service-two', null, 'Bữa sáng').checkbox--lighter.p-0.pt-2

              article.mb-5
                +heading-line('3. Xuất hoá đơn')
                +checkbox('Tôi cần xuất hoá đơn cho doanh nghiệp. Tôi cam kết…').checkbox--normal.mb-4.js-checkbox-collapse(data-target="bill-business")
                .block.block-lg(data-checkbox-target="bill-business").display-none
                  p.text-note Quý khách vui lòng cung cấp thông tin chính xác để xuất hoá đơn giá trị gia tăng VAT.
                  .row 
                    .col-12
                      +input-group-outline('Tên công ty <span class="text-red">*</span>', 'text', 'city-name', 'VD: Cong ty CP truyen thong Song Sang', 'Vui lòng nhập tên công ty')(class='is-error') 
                    .col-12
                      +input-group-outline('Địa chỉ công ty <span class="text-red">*</span>', 'text', 'city-address', 'VD: 100 Lac Long Quan', 'Vui lòng nhập địa chỉ công ty')
                  .row 
                    .col-xl-6
                      +input-group-outline('Mã số thuế', 'number', 'tax', 'VD: 338462828', 'Vui lòng nhập mã số thuế của công ty')(class='input-group-multiple-control') 
                +card-alert('Thông tin quan trọng để đặt phòng', '<p>Đây là giá không hoàn tiền. Nếu thay đổi hoặc hủy đặt phòng này, quý vị sẽ không nhận được bất kỳ khoản hoàn trả nào.</p><p>Bằng việc chọn hoàn tất quy trình đặt này, tôi xác nhận đã đọc và đồng ý Quy tắc & Giới hạn, Điều khoản sử dụng, và Chính sách Bảo mật</p>').js-alert-bill.mt-4      
            .d-flex 
              button.button.button-default.mr-auto Quay lại 
              button.button.button-primary.ml-auto Tôi đồng ý & Tiếp tục 
          
          .col-lg-4 
            section.sticky-top
              article.card-flight-selected.card-flight-selected-2.no-border.mb-3 
                header.card-header.flex-wrap.py-3
                  h3.text-large.mb-1 Silk Path Grand Resort & Spa Sapa
                  p.mb-0 #[span 2 phòng]   |   #[span 2 người lớn, 1 trẻ em]
                .card-body 
                  .card-body-wrapper 
                    table.table-no-border.w-100 
                      tbody 
                        tr 
                          th Nhận phòng:
                          td.text-right 12:00 - 14/03/2020
                        tr 
                          th Trả phòng:
                          td.text-right 12:00 - 17/03/2020
                        tr 
                          th Giảm giá:
                          td.text-right.text-success -500.000 đ
                        tr
                          th Tổng bạn phải trả:
                          td.text-right 
                            .price #[span 1.630.435 VND]
                    p.text-helper.text-right.mb-0 (Giá vé đã bao gồm thuế và phụ phí đi kèm)
                  .devider.devider-dashed
                  .card-body-wrapper
                    .d-flex.justify-content-between 
                      a.link#flight-detail-button(href="#modal-droom-detail" data-toggle="modal" data-target="#modal-room-detail" type="button") Chi tiết
                      a.link(href="#") Thay đổi phòng đã chọn 
              .block.block-sale-code 
                form
                  .input-group.input-group-code.p-0.mb-0
                    label.input-label Mã giảm giá (nếu có)
                    input.input-group-control.text-left.pr-6(type="text" name="code-sale" value="OHU892")
                    button.button.button-primary.button--small Áp dụng
                  p.mt-3.mb-0.text-success Mã giảm giá hợp lệ. Giảm thêm 500.000 VND vào tổng giá vé.
  
  include components/_special-sa
  include components/_footer
                