extends layout/_layout
block content
  //- Variables
  - var title = 'Menu';
  - 
    var pages = [
      {
        name: 'Home',
        link: 'home.html'
      },
      {
        name: 'Home Loged In',
        link: 'home-loged-in.html'
      },
      {
        name: 'Search Flight -- One way',
        link: 'search-flight--one-way.html'
      },
      {
        name: 'Search Flight -- Round',
        link: 'search-flight--round.html'
      },
      {
        name: 'Search Flight -- Round Selected',
        link: 'search-flight--round-selected.html'
      },
      {
        name: 'Search Flight -- International',
        link: 'search-flight--international.html'
      },
      {
        name: 'Booking Summary -- Flight',
        link: 'booking-summary--flight.html'
      },
      {
        name: 'Booking Information -- Flight',
        link: 'booking-information--flight.html'
      },
      {
        name: 'Booking Confirm -- Flight',
        link: 'booking-confirm--flight.html'
      },
      {
        name: 'Booking Payment -- Flight',
        link: 'booking-payment--flight.html'
      },
      {
        name: 'Booking Finish -- Flight',
        link: 'booking-finish--fight.html'
      },
      {
        name: 'Booking Finish PAID-- Flight',
        link: 'booking-finish-paid--flight.html'
      },
      {
        name: 'Search Result -- Hotel',
        link: 'search-result--hotel.html'
      },
      {
        name: 'Hotel detail',
        link: 'hotel-detail.html'
      },
      {
        name: 'Hotel information',
        link: 'hotel-information.html'
      },
      {
        name: 'Combo Home',
        link: 'combo-home.html'
      },
      {
        name: 'Manage Order (Working)',
        link: 'manage-order.html'
      }
    ];

  .container.py-6
    h1 Menu listing
    ol
      each page, index in pages 
        li 
          a(href=page.link title=page.name) #{page.name}

