extends layout/_layout
block content
  //- Variables
  - var title = 'Quản lý đơn hàng';
  - var logo = './assets/images/logo.svg';

  include components/_header
  
  .bg-gray.py-6 
    .container
      .row 
        .col-md-4.col-xl-3 
          aside.block 
            .account.account-lg 
              .account-thumb 
                img(src="./assets/images/avatar.png" alt="Profile picture")
              .account-body 
                h5.account-heading Trần Phương Thủy 
                p.text-description.account-text ID: 02546268
            .nav-aside
              each item, index in sidebarOrder
                a.nav-item(href="#" class= index==4 ? "active" : "")
                  span(class="ic-" + item.icon)
                  span.nav-item-text= item.name
        .col-md-8.col-xl-9
          h1.heading-3.my-4 Đơn hàng của tôi 
          .block.p-0 
            div.px-3.pt-3.d-flex.justify-content-center.flex-wrap
              a.button-tag.active.mr-2.mb-2(href="#" role="button") Vé máy bay 
              a.button-tag.mr-2.mb-2(href="#" role="button") Khách sạn 
              a.button-tag.mr-2.mb-2(href="#" role="button") Xe sân bay
              a.button-tag.mb-2(href="#" role="button") Combo du lịch
            div.p-3.d-flex.justify-content-between 
              a#datepicker-month-year.datepicker-month-year(href="#")
                input(type="hidden" value="Tháng 8, 2020")
          div.mt-4 
            .card-order 
              .card-header
                .card-title Mã đơn hàng: #[span.text-primary #458078409] 
                strong.text-red 6.366.000 VND
              .card-body 
                .text-icon 
                  span.bgd-secondary
                    span.ic-flight-3
                  | Chuyến bay một chiều HAN-UIH
              .card-footer
                div.d-flex.align-items-center
                  .tag.tag-warning.mr-3 Chờ thanh toán 
                  .text-red Hết hạn sau 12h:08m:06s
                a.link(href="#") Xem chi tiết 
                  span.ic-chevron-right

            .card-order 
              .card-header
                .card-title Mã đơn hàng: #[span.text-primary #458078409] 
                strong.text-red 6.366.000 VND
              .card-body 
                .text-icon 
                  span.bgd-secondary
                    span.ic-flight-3
                  | Chuyến bay một chiều HAN-UIH
              .card-footer
                div.d-flex.align-items-center
                  .tag.tag-danger Hết hạn thanh toán 
                a.link(href="#") Xem chi tiết 
                  span.ic-chevron-right

            .card-order 
              .card-header
                .card-title Mã đơn hàng: #[span.text-primary #458078409] 
                strong.text-red 6.366.000 VND
              .card-body 
                .text-icon 
                  span.bgd-primary
                    span.ic-bed
                  | Khách sạn Muong Thanh Luxury Saigon
              .card-footer
                div.d-flex.align-items-center
                  .tag.tag-success Đã phát hành vé điện tử
                a.link(href="#") Xem chi tiết 
                  span.ic-chevron-right

            .card-order 
              .card-header
                .card-title Mã đơn hàng: #[span.text-primary #458078409] 
                strong.text-red 6.366.000 VND
              .card-body 
                .text-icon 
                  span.bgd-red
                    span.ic-car-3
                  | Đặt xe đi sân bay Tân Sơn Nhất
              .card-footer
                div.d-flex.align-items-center
                  .tag.tag-success Đã phát hành vé điện tử
                a.link(href="#") Xem chi tiết 
                  span.ic-chevron-right

            .card-order 
              .card-header
                .card-title Mã đơn hàng: #[span.text-primary #458078409] 
                strong.text-red 6.366.000 VND
              .card-body 
                .text-icon 
                  span.bgd-green
                    span.ic-deal
                  | Combo 7 ngày 6 đêm Hà Nội - Phú Yên
              .card-footer
                div.d-flex.align-items-center
                  .tag.tag-success Đã phát hành vé điện tử
                a.link(href="#") Xem chi tiết 
                  span.ic-chevron-right




  include components/_footer