extends layout/_layout
block content
  //- Variables
  - var title = 'Tìm kiếm chuyến bay';
  - var titleSubpage = 'Kết quả tìm kiếm';
  - var bgHeaderSubpage = './assets/images/hero-banner-subpage.jpg';
  - var logo = './assets/images/logo.svg';

  include components/_header
  
  +hero-banner-subpage(titleSubpage, bgHeaderSubpage)

  section
    .container
      .search-box.search-box-subpage.shadow-lg.pb-4.mb-5
        include components/_search-box--flight
      .text-center 
        h3 
          span Chuyến bay tới Singapore (SB Quốc tế Changi)
          span.mx-3 |
          span T4, ngày 18 tháng 03 năm 2020
        p.text-description.mb-0 Giá vé đã bao gồm thuế và phụ phí, VAT

  section.pb-7.pt-4.search-result 
    .container 
      .row.justify-content-center 
        .col-xl-9.col-result.col-leave.is-result-expand.mb-6.mb-xl-0 
          +change-date(headingLeave.target)(style="display: block")
          include ./components/_filter-flight

          //- Start result
          .search-result-list
            ul.list-reset 
              - var n = 0;
              while n < 10
                li.mb-3 
                  +card-flight-combo()
                  - n++;
          //- End result
  
  include components/_special-sa
  include components/_footer
