extends layout/_layout
block content
  //- Variables
  - var title = 'Tìm kiếm khách sạn';
  - var titleSubpage = 'Kết quả tìm kiếm';
  - var bgHeaderSubpage = './assets/images/hero-banner-subpage-2.jpg';
  - var logo = './assets/images/logo.svg';

  include components/_header
  
  +hero-banner-subpage(titleSubpage, bgHeaderSubpage, true)

  section.is-sticky
    .container
      .search-box.search-box-subpage.shadow-lg.pb-4.mb-5
        include components/_search-box--hotel
  section 
    .container
      .text-center 
        h3 
          span Khách sạn tại Sapa, Việt Nam
          span.mx-3 |
          span 14/03/2020 - 17/03/2020 (3 ngày 2 đêm)
        p.text-description.mb-0 Giá vé đã bao gồm thuế và phụ phí, VAT

  section.pb-7.pt-4.search-result-hotel
    .container 
      .d-flex.justify-content-between
        .text-result
          span 7.366
          | khách sạn phù hợp
        a.button.button-outline-primary.button--small(href="#") Bản đồ
      .devider.devider-dashed.devider-spacing
        include ./components/_filter-flight

        //- Start result
        .search-result-list
          ul.list-reset 
            //- - var n = 0;
            //- while n < 10
            //-   li.mb-3 
            //-     +card-hotel()
            //-     - n++;
            li.mb-3 
              +card-hotel()(data-hotel="0" data-json="./json/hotel-0.json")
            li.mb-3
              +card-hotel()(data-hotel="1" data-json="./json/hotel-1.json")
            li.mb-3
              +card-hotel()(data-hotel="2" data-json="./json/hotel-2.json")
            li.mb-3
              +card-hotel()(data-hotel="3" data-json="./json/hotel-3.json")
            li.mb-3
              +card-hotel()(data-hotel="4" data-json="./json/hotel-4.json")
          .text-center.mt-5
            .loading.m-auto
              - var i = 0;
              while i < 10
                .line
                - i++;
            .text-description.mt-3 Đang tìm kiếm thêm khách sạn
          .d-flex.justify-content-center.mt-5
            ul.pagination
              li.pagination__btn.ic-angle-left
              li.pagination__cus.pagination__cus-prev Quay lại
              li.pagination__num 1
              li.pagination__num.active 2
              li.pagination__num 3
              li.pagination__dots ...
              li.pagination__num 30
              li.pagination__cus.pagination__cus-next Tiếp tục
              li.pagination__btn.ic-angle-right

        //- End result
  
  include components/_special-sa
  include components/_footer
